/**
 * 聊体消息列表样式
 * 弹框和kftab 何用样式
 */


/*消息列表*/

.kflist {
    margin-bottom: 100px;
    padding-top: 5px;
}

.kfitem {
    padding: 5px 10px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.kfitem .kfleft,
.kfitem .kfright {
    display: inline-block;
    vertical-align: top;
}


/*聊天用户头像*/

.kfitem .kfleft img {
    width: 40px;
    height: 40px;
    line-height: 0;
    border-radius: 4px;
}


/*聊天消息部分*/

.kfright {
    margin-left: 10px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: left;
}


/*聊天用户名字*/

.kfname {
    color: #ff668c;
    font-size: 12px;
}


/*三角形*/

.other-content:before,
.other-content:after {
    content: "";
    position: absolute;
    top: 10px;
    width: 0px;
    height: 0px;
    border: 6px solid transparent;
}

.other-content:before {
    left: -12px;
    border-right-color: #e3e3e3
}

.other-content:after {
    left: -10px;
    border-right-color: #fff;
}


/*聊天内容*/

.kfcontent {
    border: 1px solid #e3e3e3;
    background-color: #fff;
    padding: 6px 8px 5px;
    position: relative;
    border-radius: 4px;
    max-width: 200px;
    margin-top: 2px;
    text-align: left;
    display: inline-block;
    word-wrap: break-word;
    /*长单词换行*/
    word-break: break-all;
    /*长单词不另起一行*/
}


/*聊天内容里面的图片*/

.kfcontent img {
    width: 100%;
    max-width: 180px;
}


/*显示时间*/

.kftime {
    font-size: 9px;
    color: #bbbbbb;
    vertical-align: middle;
    margin-left: 5px;
}


/*右侧聊天人为自己*/

.host {
    text-align: right;
}

.host-content {
    margin: 0 0 0 auto;
    background-color: #fca218;
    color: #fff;
}

.host-content:before,
.host-content:after {
    content: "";
    position: absolute;
    top: 10px;
    width: 0px;
    height: 0px;
    border: 6px solid transparent;
}

.host-content:before {
    right: -12px;
    border-left-color: #e3e3e3
}

.host-content:after {
    right: -10px;
    border-left-color: #fca218;
}

.host .kfright {
    margin-right: 7px;
    margin-left: 0;
    text-align: right;
}

.host .kftime {
    margin-right: 5px;
    margin-left: 0;
}


/****************************************************
 * 游戏页面弹框样式
 ****************************************************/

.vipinfo-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .5);
}

.vipinfo-wrapper {
    position: absolute;
    width: 80%;
    left: 0;
    right: 0;
    max-height: 80%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin: 0 auto;
    background-color: #f2f2f2;
    border-radius: 12px;
    max-width: 350px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.vipinfo-header {
    height: 46px;
    line-height: 46px;
    background-color: #fff;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.vipinfo-title {
    font-size: 16px;
    text-align: center;
}

.vipinfo-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    text-align: center;
}

.vipinfo-close img {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.vipinfo-list {
    overflow: auto;
    margin-bottom: 0;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    box-sizing: border-box;
}

.vipinfo-reply {
    background-color: #ebebeb;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 7px 8px;
    box-sizing: border-box;
    border-top: 1px solid #e6e6e6;
    background-color: #f7f7f7;
    box-sizing: border-box;
}

.vipinfo-inner-reply {
    border: 1px solid #9b9b9b;
    text-align: center;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #d4d6d1;
    border-radius: 3px;
    color: #9b9b9b;
    height: 34px;
    line-height: 34px;
}


/**
 * 客服tab项里面进行上下分割   flex
 */

.kefu {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.kefu-container {
    overflow: auto;
    position: relative;
    background-color: #ebebeb;
    height: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}

.inner-kefu-container {
    height: 100%;
    overflow: auto;
    position: relative;
}

.input-container {
    /*height: 60px;*/
    box-sizing: border-box;
    padding: 10px 0;
    background-color: #ebebeb;
    height: auto;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}


/************输入框和发送按钮进行flex布局****************/

.chat-wrapper {
    /*margin-top: 15px;*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.chat-wrapper input {
    text-align: left;
    font-size: 13px;
    padding: 8px;
    margin: 0 10px 0 10px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 5px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.chat-wrapper a {
    background: #fca218;
    padding: 8px 14px;
    color: #fff;
    margin-right: 10px;
    border-radius: 5px;
}


/*断开提示消息*/

.kfitem-message {
    color: #9b9b9b;
    font-size: 10px;
}


/* 客服tab选项中展示info信息的页面样式 */

.kefu-back {
    position: absolute;
    right: 0;
    top: 12px;
    width: 50px;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-size: 12px;
}

.inner-kefuinfo {
    text-align: left;
    background: #fff;
}

.kefuinfo-square {
    padding-top: 8px;
    background: #ebebeb;
}

.inner-kefuinfo .kefuinfo-header {
    background: #fff;
    padding: 10px 15px 5px;
    border-bottom: 1px solid #f7f7f7;
    position: relative;
    font-size: 12px;
}

.inner-kefuinfo .kefuinfo-header .point {
    width: 6px;
    border-radius: 50%;
    height: 6px;
    display: inline-block;
    margin-bottom: 2px;
    margin-right: 5px;
    font-size: 15px;
}

.kefuinfo-square .point {
    background-color: red
}

.vipinfo-square .point {
    background-color: #70b537
}


/* 客服专区 */

.kefuinfo-wrapper {
    padding: 10px 15px;
    border-bottom: 1px solid #f7f7f7;
    background: #fff;
}

.kefuinfo-wrapper .kefuinfo-left {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}

.kefuinfo-wrapper .kefuinfo-left img {
    width: 100%;
    vertical-align: middle;
}

.kefuinfo-wrapper .kefuinfo-right {
    width: 70%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.kefuinfo-right .kefuinfo-text {
    font-size: 13px;
}

.kefuinfo-right .kefuinfo-qq {
    margin: 5px 0;
    font-size: 13px;
    color: #9b9b9b;
}

.kefuinfo-right .kefuinfo-btn {
    color: #72b959;
    border: 1px solid #72b959;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 8px;
    color: #72b959;
}

.kefuinfo-right .kefuinfo-btn a {
    color: #72b959;
}


/* vip 特权专区 */

.vipsquare-list {
    padding-left: 15px;
}

.vipsquare-list .vipsquare-item {
    height: 55px;
}

.vipsquare-list .vipsquare-item .vipsquare-left {
    display: inline-block;
    width: 60%;
    height: 100%;
    position: relative;
    vertical-align: bottom;
}

.vipsquare-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.vipsquare-list .vipsquare-item .vipsquare-right {
    display: inline-block;
    width: 40%;
    height: 100%;
    vertical-align: bottom;
}

.vipsquare-right img {
    width: 100%;
    height: 100%;
}

.vipsquare-list .vipsquare-item .vipsquare-title {
    color: #ffd392;
    font-size: 13px;
}

.vipsquare-list .vipsquare-item .vipsquare-text {
    color: #9b9b9b;
    font-size: 12px;
}


/* 底部的按钮 */

.kefuvip-btn-container {
    padding: 10px 0 5px;
    background-color: #fff;
    height: auto;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.kefuvip-btn-container .btn {
    width: 85%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    background-color: #faa50e;
    border-radius: 6px;
    letter-spacing: 2px;
    text-align: center;
    margin: auto;
    color: #fff;
}

.kefuvip-btn-container .text {
    color: #9b9b9b;
    padding-top: 4px;
    text-align: center;
    font-size: 12px;
}


/* 中间消息提示 */

.infos-square {
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #f7f7f7;
}

.infos-square .infosquare-container {
    background: #383a39;
    border-radius: 5px;
    display: inline-block;
    margin: auto;
    width: 250px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    background-image: url('http://images.1758.com/image/20171213/open_104818_d88e96669180410553d55b22da3c543a.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/**********************************************************/


/* 用户VIP等级未达到4级之后  弹框提示 */

.viplevel-not-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
}

.viplevel-not-wrapper {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    width: 280px;
}

.viplevel-not-wrapper img {
    position: absolute;
    top: -40px;
    width: 180px;
    left: 0;
    right: 0;
    margin: auto;
}

.viplevel-not-text {
    font-size: 16px;
    text-align: center;
    margin-top: 80px;
}

.viplevel-not-text p {
    font-weight: bold;
    margin-top: 5px;
}

.viplevel-not-text a {
    color: red;
    font-size: 14px;
    padding: 10px 0;
    display: block;
}

.viplevel-not-btn {
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    background-color: #5bbd2a;
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


/**********************************************************/