/*彩印吧渠道 间隔x时间后弹出添加到桌面*/
@charset "utf-8";
.hui-modal-container{
    position: fixed;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.innner-hui-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* ie10 */
    -ms-flex-align:center;
    /* android */
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
    /* chrome、 iOS */
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.hui-wrapper{
    background-color: #fff;
    padding: 20px 0 16px;
    border-radius: 9px;
    text-align: center;
    width: 290px;
}

.hui-img-wrapper{
    margin-left: 35px;
}
.hui-res-desc{
    font-size: 16px;
    padding: 20px 0 5px;
}
.hui-mark-btn{
    display: inline-block;
    padding: 10px 16px;
    background-color: #fca218;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
}

.hui-game-logo{
    width: 70px;
    border-radius: 9px;
    vertical-align: bottom;
}
.hui-hb-2{
    position: absolute;
    width: 20px;
    bottom: -25px;
    left: -5px;
}
.hui-hb-3{
    position: absolute;
    width: 30px;
    top: -30px;
    left: -25px;
}
.hui-hb-1{
    width: 160px;
    vertical-align: bottom;
}

.hui-inlineblock{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}