/**
 * 浮标弹框里面的样式
 */

body {
    height: 100%;
    background-color: #fff;
}

.bg {
    background-color: #FFF;
}

.gone {
    display: none!important;
}

.moban {
    position: fixed;
    z-index: 1000;
}

@media screen and (min-width: 100px) and (max-width: 640px) {
    .moban {
        width: 100%;
    }
}

@media screen and (min-width: 640px) {
    .moban {
        width: 640px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    .ewm-contain {
        width: 640px !important;
    }
    .share-square {
        width: 640px !important;
    }
}


/**
 * 浮标内容主体
 */

.modal-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}


/**
 * 浮标 上层tab选项
 * 
 */

.base-footer {
    top: initial;
    bottom: initial;
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 5px;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
    z-index: initial;
}

.base-footer img {
    width: 100%;
    height: auto;
    max-width: 45px;
}

.base-menu {
    height: 100%;
    margin: 0;
}

.base-menu .t {
    padding: 5px 8px;
    box-sizing: border-box;
}

.active-tab {
    background-color: #fff8ef;
}

.tab-g {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.tab-i {
    width: 0;
    height: auto;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}


/*浮标 下层content对应的总体*/

.main-container {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}

.talk {
    /*background-color: #fff;
	padding-bottom: 0;*/
}

.talk,
.gift {
    position: relative;
    overflow: hidden;
    width: 100%;
    /*display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;*/
}

.talk .list,
.gift .gift-content-wrapper {
    /*-webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    overflow-y: auto;*/
}


/*头部*/


/*.head{
	text-align: center;
	font-size: 16px;
	color: #FCA218;
	position: relative;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #f7f7f7;
}
.head>span>img{
	width: 100px;
	vertical-align: middle;
}
.head .h-info{
	position: absolute;
	right: 0;
	top: 0;
	width: 70px;
}
.h-info img{
	width: 20px;
	vertical-align: middle;
}
.head .h-close{
	position: absolute;
	left: 0;
	top: 0;
	width: 70px;
}
.h-gift img{
	width: 32px;
	border-radius: 30px;
}*/


/*评论*/

.comment-logo {
    position: fixed;
    margin-right: 15%;
    right: 4px;
    bottom: 50px;
    /*text-align: right;*/
}

.comment-logo img {
    width: 60px;
}


/*收藏 显示主页*/


/*.listshow{
	padding: 5px 0;
	background-color: #F2F2F2;
}*/


/*.listshow>ul{
	padding: 10px 0;
	background-color: #fff;
}
.ls-li{
	text-align: center;
	color: #A7A7A7;
}
.ls-li>a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.ls-img{
	position: relative;
	display: inline-block;
	height: 50px;
}
.listshow img{
	width: 50px;
	text-align: center;
	border-radius: 30px;
}
.listshow .ls-flag{
	position: absolute;
	width: 20px;
	right: -5px;
	top: 30px;
}*/


/*加载更多*/

.more-info {
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    color: rgb(155, 155, 155);
}

.more-info a {
    color: rgb(155, 155, 155);
}


/*礼包  热门游戏*/

.list .item {
    position: relative;
    padding: 10px 15px;
    border-bottom: 1px solid rgb(247, 247, 247);
}


/* 积分礼包角标 */

.list .item-point {
    background-image: url(http://images.1758.com/image/20180523/open_104818_274c5c9a102a052705b70a6143c73e0f.png);
    background-repeat: no-repeat;
    background-size: 35px;
}


/* 积分兑换 */

.list .item .point-btn {
    position: absolute;
    right: 15px;
    top: 50%;
    vertical-align: middle;
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #fff;
    font-size: 14px;
    background: #fca218;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    display: inline-block;
}

.g-point {
    color: #fca218;
}


/* 特殊礼包处理 */

.gifttype-wrapper .item {
    border-bottom: none;
    padding: 10px 0 0 0;
}

.gifttype-wrapper .item img {
    width: 100%;
    vertical-align: bottom;
}

.list .item>a.i-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    width: 100%;
    position: relative;
}

.list .item:active {
    background-color: rgba(227, 249, 226, 0.5);
}

.list .item .cover {
    line-height: 0px;
}

.list .item .cover img {
    width: 50px;
    margin-right: 10px;
    border-radius: 9px;
}

.list .item .meta {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #9b9b9b;
    overflow: hidden;
}

.list .meta .title {
    color: #3C3C3C;
    padding-top: 5px;
    margin-right: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 6px;
}

.g-progress {
    display: inline-block;
}

.progress-bar {
    height: 3px;
    width: 120px;
    border: 1px solid #EAEDED;
    border-radius: 5px;
}

.progress-bar .progress-active {
    background-color: #FCA218;
    height: 5px;
    border-radius: 5px;
    margin-left: -1px;
    margin-top: -1px;
}

.g-rest {
    display: inline-block;
    vertical-align: sub;
    margin-left: 10px;
    color: #FCA218;
    font-size: 12px;
}

.list .item .play-btn,
.list .item .fail-btn,
.list .item .end-btn,
.list .item .tao-btn {
    position: absolute;
    width: auto;
    right: 15px;
    top: 50%;
    margin-top: -13px;
    vertical-align: middle;
    border: 1px solid #FCA218;
    padding: 4px 4px;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #FCA218;
    font-size: 12px;
}

.list .item .fail-btn {
    color: #a7a7a7;
    background: none;
    border: none;
}

.list .item .end-btn {
    color: #d1d1d1;
    background: none;
    border: none;
}

.list .item .tao-btn {
    border: 1px solid #a7a7a7;
    color: #A7A7A7;
}

.tao-btn:after {
    font-family: "h5";
    content: "\e60b";
    padding-top: 3px;
    vertical-align: middle;
}

.play-btn:after {
    font-family: "h5";
    content: "\e60b";
    padding-top: 3px;
    vertical-align: middle;
}

.g-fail-day {
    display: inline-block;
    vertical-align: text-bottom;
    color: #71A540;
    font-size: 12px;
}


/**
 * 热门游戏 list 游戏列表样式 
 */

.hot-game {
    overflow: hidden;
}

.hot-game .list .meta .title {
    margin-bottom: 0px;
}


/*游戏标签*/

.list .meta .title .identification {
    color: #88d3fe;
    border: none;
    font-size: 0;
    padding: 0 2px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.list .meta .title .identification img {
    width: 22px;
    vertical-align: top;
    padding-bottom: 3px;
    margin-left: 3px;
}

.list .meta [class^="icon-"],
.meta [class*=" icon-"] {
    color: #ffa016;
    font-size: .75rem;
}

.list .meta .count {
    font-size: 12px;
}

.hot-game .list .item .meta .desc {
    margin-right: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    margin-top: 7px;
}


/*左上角 角标红包推荐*/

.htj {
    position: absolute;
    top: 0;
    left: 0;
}

.htj img {
    width: 33px;
    vertical-align: top;
}


/*专属礼包*/

.tip-dialog {
    width: 83%;
}

.tip-body {
    padding: 15px 0;
}

.exclusive {
    border: 1px solid #71a540;
    color: #71a540;
    margin-left: 3px;
    font-size: 10px;
    border-radius: 2px;
    padding: 0 2px;
    vertical-align: inherit;
    display: inline-block;
    position: absolute;
}

.exclusive-flag {
    background: url("http://wx.1758.com/game/h5/images/exclusive.png") no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    /*background-position: initial;*/
    background-size: cover;
    top: 0;
    margin-top: -10px;
    margin-right: -15px;
}

.ex-con {
    font-size: 15px;
}

.ex-inner {
    display: inline-block;
    margin-top: 6px;
    width: 100%;
}

.ex-info {
    font-size: 12px;
    color: #9b9b9b;
}

.ex-load {
    font-size: 16px;
    color: #097af6;
    display: block;
    width: 100%;
    border-top: 1px solid #f7f7f7;
    margin-top: 5px;
    padding-top: 12px;
}


/*聊吧*/

.n-item {
    padding: 12px 10px 12px 9px;
    position: relative;
    border-bottom: 1px solid rgb(247, 247, 247);
}

.n-item .info-item {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    cursor: pointer;
}

.n-item .cover {
    position: relative;
    display: inherit;
    text-align: center;
    overflow: hidden;
    background-size: auto 80%;
    background-position: center;
}

.n-item .cover a {
    height: 40px;
}

.n-item .cover a img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: inline-block;
}

.n-item .meta {
    -webkit-box-flex: 3;
    -moz-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    margin-left: 10px;
    padding-top: 0;
    /*overflow: hidden;*/
}

.n-item .meta .title {
    color: #18a3e3;
    font-size: 14px;
    padding-top: 0;
    white-space: initial;
    word-break: break-all;
    margin-right: 0;
}

.n-item .meta .desc {
    color: #1F1F1F;
    font-size: 14px;
    margin-top: 4px;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}

.n-item .meta .u-img {
    margin-top: 5px;
}

.u-img img {
    width: 49%;
    padding-top: 5px;
    padding-right: 5px;
    display: inline-block;
    box-sizing: border-box;
}

.n-item .meta .g-replay {
    margin-top: 11px;
}

.n-item .r-time {
    position: relative;
    margin: 10px 10px 10px 0;
    font-size: 12px;
}

.n-item .r-time img {
    width: 15px;
    margin-bottom: 0;
}

.n-item .r-time>span {
    color: rgb(155, 155, 155);
}

.n-item .t-info {
    float: right;
    font-size: 12px;
    margin-right: -12px;
}

.n-item .t-info>span {
    display: inline-block;
    width: 50px;
    text-align: center;
}

.n-item .t-info span:first-child {
    margin-right: 5px;
}

.n-item .t-info span img {
    margin-right: 3px;
    margin-bottom: -2px;
}

.n-item .r-com {
    position: relative;
}

.mask {
    width: 16px;
    height: 8px;
    position: absolute;
    top: -9px;
    left: 30px;
}

.pladebox {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    margin: 4px 0 0 3px;
    background-color: #f7f7f7;
}

.n-item .com-inner {
    padding: 10px;
    background-color: #f7f7f7;
    font-size: 12px;
}

.n-item .com-inner>div {
    margin-bottom: 4px;
}

.n-item .com-inner a {
    cursor: pointer;
    word-wrap: normal;
    word-break: break-all;
}


/*查看更多样式*/

.n-item .com-inner .mess-more {
    font-size: 14px;
    color: #18a3e3;
    padding-bottom: 6px;
    text-align: center;
}

.n-item a.c-name {
    color: #18A3E3;
    cursor: pointer;
}


/*经验 图片 展示*/

.expLevel img {
    width: 16px;
}


/*开服信息*/

.klist {
    padding-bottom: 10px;
    background-color: #f2f2f2;
}

.g-head {
    padding: 8px 0 5px;
    text-align: center;
}

.g-head span {
    padding: 0 10px;
    height: 20px;
    line-height: 22px;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
}

.g-k-h span {
    background-color: #adde94;
}

.g-l-h span {
    background-color: #fdd08b;
}

.klist .item {
    position: relative;
    padding: 15px 15px;
    border-bottom: 1px solid #f7f7f7;
}

.klist .inner-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    width: 100%;
    position: relative;
}

.k-qf,
.k-time {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #3c3c3c;
    overflow: hidden;
}

.k-qf {
    text-align: left;
}

.k-time {
    text-align: right;
    color: #71A540;
    font-size: 12px;
}


/**
 * 设置浮标内加载更多提示
 */

.k-foot {
    text-align: center;
    padding: 6px 0;
}

.k-foot span {
    color: #18A3E3;
    font-size: 11px;
}

.k-foot img {
    width: 16px;
    text-align: center;
    vertical-align: middle;
}

.pay-wrapper {
    position: fixed;
    top: 0;
    left: 0;
}

.pay-wrapper iframe {
    vertical-align: bottom;
}

.ewm-contain {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    margin: 0 auto;
}

.ewm-wripper {
    text-align: center;
    padding-top: 25%;
}

.ewm-wripper img {
    width: 85%;
}


/*她社区712提示收藏样式*/

.ta-tip {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 5;
}

.ta-tip-wrapper {
    margin: 0 5%;
    margin-top: 50%;
}

.ta-tip-wrapper>img {
    width: 100%;
}

.ta-info {
    padding: 0 10%;
}

.ta-cover {
    color: #cecece;
    padding: 2px 0 9px;
}

.ta-cover img {
    width: 16px;
    vertical-align: bottom;
}

.back-game-btn {
    text-align: center;
    margin-top: 15px;
}

.back-game-btn span {
    display: inline-block;
    padding: 7px 12px;
    border-radius: 4px;
    background-color: #48e562;
    color: #fff;
}


/*点赞用户头像以及左侧，留言和点赞图标提示  样式*/

.like-com-inner {
    background-color: #f7f7f7;
    padding: 10px 6px 0;
}


/*点赞头像查看更多样式*/

.like-com-inner .mess-more {
    font-size: 14px;
    color: #18a3e3;
    padding-bottom: 6px;
    text-align: center;
    height: 100%;
    width: 30px;
    display: inline-block;
}

.like-com-container {
    display: block;
    font-size: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(230, 230, 230, 0.5);
}

.like-wrapper {
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 5px;
    /*width: inherit;*/
    /*max-width: 14.28%;*/
    text-align: center;
}

.like-wrapper img {
    /*width: 86%;
    max-width: 36px;
    vertical-align: bottom;*/
    max-width: 36px;
    width: 30px;
    padding: 0 3px;
    height: 30px;
    vertical-align: bottom;
}

.flag-wrapper {
    position: absolute;
    left: -20px;
}

.flag-wrapper img {
    width: 12px;
}

.com-inner .flag-wrapper img {
    margin-top: 2px;
}

.com-inner {
    padding-bottom: 6px;
}

@media screen and (min-width: 440px) {
    .like-wrapper {
        width: inherit;
    }
}

.big-img-container {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 50;
    display: none;
    margin: 0 auto;
}

@media screen and (min-width: 640px) {
    .big-img-container {
        width: 640px;
    }
}

.inner-big-img {
    text-align: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: inline-block;
}


/*针对单个渠道进行的弹框提示用户进行收藏
    安卓在下客户端
    iso在safari上进行添加到主屏幕
*/

.hui-modal-container {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.innner-hui-modal {
    /* ie10 */
    display: -ms-flexbox;
    -ms-flex-align: center;
    /* android */
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
    /* chrome、 iOS */
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.hui-wrapper {
    background-color: #fff;
    padding: 10px 0 30px;
    border-radius: 5px;
    text-align: center;
    width: 80%;
}

.hui-res-desc {
    font-size: 16px;
    padding: 5px;
}

.hui-res-tip {
    color: #9b9b9b;
    font-size: 12px;
    margin-top: 10px;
}

.hui-mark-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #5bbd2a;
    color: #fff;
    border-radius: 5px;
    margin-top: 15px;
}


/*客服里面的内容样式*/

.kefu-container {
    text-align: center;
}

.kefu-header-wrapper {
    margin-top: 20px;
}

.kefu-title {
    font-size: 20px;
}

.kefu-desc {
    color: #fca218;
    font-size: 14px;
    margin-top: 10px;
}

.kefu-wx,
.kefu-qq {
    margin-top: 7px;
    padding-bottom: 20px;
}

.kefu-wx img {
    width: 170px;
}

.kefu-wx div {
    margin-top: 0px;
}

.kefu-qq-con {
    border-top: 1px solid #f7f7f7;
}

.ls-img {
    position: relative;
    height: 50px;
    margin: 0 20px;
}

.ls-img img {
    width: 50px;
    border-radius: 30px;
}

.ls-img .ls-flag {
    position: absolute;
    width: 20px;
    right: -5px;
    bottom: 0;
}


/**************************
*********公告模块信息************
************************/


/*公告title*/

.bc-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/*公告时间*/

.bc-time {
    text-align: right;
    font-size: 12px;
    color: #9b9b9b;
    margin-top: 5px;
}


/*单挑公告详情页*/

.broadcast-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
    bottom: 0;
    background-color: #fff;
}

.inner-broaddetail {
    overflow: hidden;
    position: relative;
    padding: 0 10px;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch
}


/*公告详情头部分内容*/

.bdetail-head {
    border-bottom: 1px solid #f7f7f7;
}

.bdetail-title {
    font-size: 16px;
}

.bdetail-time {
    color: #9b9b9b;
    font-size: 12px;
    padding-bottom: 4px;
}


/*公告详情主题内容*/

.bdetail-main {
    margin-bottom: 65px;
    padding-top: 6px;
    color: #9b9b9b;
    margin-bottom: 10px;
}


/*防止自带样式 图片最大宽度不超过百分百*/

.bdetail-main img {
    max-width: 100%!important;
}


/*加载中*/

.bdetail-loading {
    text-align: center;
    color: #9b9b9b;
}


/*底部返回按钮*/

.bdetail-foot {
    /* position: fixed; */
    position: relative;
    width: 100%;
    max-width: 640px;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
}

.bdetail-foot-inner {
    background-color: #fff;
    width: 100%;
}

.bdetail-btn {
    border: 1px solid #fac218;
    border-radius: 5px;
    color: #fac218;
    padding: 5px 20px;
    box-sizing: border-box;
    display: inline-block;
    line-height: initial;
}