/* 平台邀请活动 */

.invite522-wrapper {
    width: 85%;
    background: #ffc816;
    box-sizing: border-box;
    max-height: 90%;
    border-radius: 5px;
    background: #ffc816;
}

.invite522-absolute {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.i522-head {
    position: relative;
}

.invite522-container .i522-head img {
    width: 100%;
    vertical-align: bottom;
}


/* 任务列表 */

.i522-item-wrapper {
    /* height: 0; */
    overflow-y: auto;
    border-left: 6px solid #ffc816;
    border-right: 6px solid #ffc816;
    padding-top: 10px;
    background: #fff;
}

.i522-item {
    background: #fff;
    padding: 5px 10px;
    box-sizing: border-box;
    border-top: 1px solid #f7f7f7;
}

.i522-item:first-child {
    border-top: none;
}

.i522-meta .i522-desc {
    color: #9b9b9b;
}

.i522-meta .i522-re {
    color: #3c3c3c;
    padding: 3px 0;
}

.i522-meta .i522-re img {
    width: 90px;
    padding: 0 5px;
}

.i522-meta .i522-re span {
    color: red;
}

.i522-item img {
    width: 55px;
    vertical-align: bottom;
}


/* 奖项中的按钮  文字颜色和样式 */


/* 正在进行或者已完成未领取 */

.i522-btn-now {
    background: #ffc816;
    color: #fff;
    display: inline-block;
    border-radius: 30px;
    width: 55px;
    text-align: center;
    font-size: 13px;
    height: 27px;
    line-height: 27px;
}


/* 未完成 */

.i522-btn-none {
    display: inline-block;
    background: #c0c0c0;
    color: #fff;
    border-radius: 30px;
    width: 55px;
    text-align: center;
    font-size: 13px;
    height: 27px;
    line-height: 27px;
}


/* 已领取 */

.i522-btn-has {
    display: inline-block;
    background: #00b60d;
    color: #fff;
    border-radius: 30px;
    width: 55px;
    text-align: center;
    font-size: 13px;
    height: 27px;
    line-height: 27px;
}


/* 获奖人数 */

.i522-users {
    padding: 5px 0;
    background: -webkit-linear-gradient(left, #ffffff, #ffc816, #ffffff);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #ffffff, #ffc816, #ffffff);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #ffffff, #ffc816, #ffffff);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #ffffff, #ffc816, #ffffff);
    /* 标准的语法 */
    border-left: 6px solid #ffc816;
    border-right: 6px solid #ffc816;
}

.i522-users-inner {
    white-space: nowrap;
    overflow-x: auto;
    padding-left: 10px;
}

.i522-users-inner img {
    width: 40px;
    border-radius: 50%;
    margin: 3px 5px;
}

.i522-user-none {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}


/* 更多 */

.i522-more {
    text-align: center;
    border-bottom: 1px solid #232632;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.i522-more img {
    width: 14px;
    padding: 0 30px;
}


/* 底部 */

.i522-foot {
    text-align: center;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 6px solid #ffc816;
    border-right: 6px solid #ffc816;
    border-bottom: 6px solid #ffc816;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #fff;
}

.i522-foot>img {
    width: 120px;
}

.i522-rules {
    position: absolute;
    right: 15px;
    bottom: 32px;
}

.i522-rules img {
    width: 25px;
}


/* 专属图片 */

.i522-zhuanshu {
    width: 80%;
    margin: auto;
}

.i522-zhuanshu img {
    width: 100%;
    vertical-align: bottom;
}


/* 分享模块 */

.is522-arr {
    position: absolute;
    width: 160px;
    right: 20px;
    top: 20px;
}

.is522-arr img {
    width: 100%;
}

.is522-con {
    /* width: 80%; */
    width: 150px;
    margin: auto;
}

.is522-con img {
    width: 100%;
}

.is522-con-ani1 {
    position: absolute;
    z-index: -1;
    width: 120%!important;
    left: -10%;
    animation: 5s linear infinite myrotate1;
    -webkit-animation: 5s linear infinite myrotate1;
}

.is522-con-ani2 {
    position: absolute;
    z-index: -2;
    width: 120%!important;
    left: -10%;
    animation: 5s linear infinite myrotate2;
    -webkit-animation: 5s linear infinite myrotate2;
}

@keyframes myrotate1 {
    form {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes myrotate1 {
    /* Safari and Chrome */
    form {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes myrotate2 {
    form {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes myrotate2 {
    /* Safari and Chrome */
    form {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}


/* 领取资格不够 提示弹框 */

.inot522-wrapper {
    width: 250px;
    border-radius: 10px;
}

.inot522-bo {
    padding: 40px 0;
    text-align: center;
    background: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.inot522-btn {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #169bd5;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
}


/* 显示使用gif弹框 */

.isuc522-wrapper {
    width: 80%;
}

.isuc522-wrapper img {
    width: 100%;
    vertical-align: bottom;
}


/* 活动规则弹框 */

.ir522-wrapper {
    width: 80%;
    background: #fff;
    border-radius: 6px;
}

.ir522-main {
    border-radius: 6px;
    padding: 20px;
}

.ir522-main p {
    line-height: 1.4;
}

.ir522-btn {
    background: #169bd5;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
}


/* 点击图片进行 说明 */

.i68-body {
    padding: 5px 15px;
    background: #fff;
}

.i68-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
}

.i68-t {
    color: #ffc816;
    font-size: 14px;
}

.i68-con {
    color: #9b9b9b;
    padding: 5px 0;
    font-size: 13px;
}

.i68-con img {
    width: 100%;
    vertical-align: bottom;
}

.i68-foot {
    padding: 10px 0;
    text-align: center;
}

.i68-btn {
    display: inline-block;
    border-radius: 30px;
    background: #ffc816;
    color: #fff;
    vertical-align: middle;
    box-sizing: border-box;
    width: 130px;
    height: 30px;
    line-height: 30px;
}


/* 轮播 效果样式 */

.i68loop-container {
    height: 35px;
    line-height: 35px;
    background-color: bisque;
    margin-top: 5px;
}

.i68loop-container>div {
    height: 100%;
}

.i68loop-container .i68loop-right {
    width: 100px!important;
}

.i68loop-container .i68loop-left {
    overflow: hidden;
    font-size: 11px;
    padding-left: 5px;
}

.i68loop-container .i68loop-left .i68loop-item {
    height: 35px;
    overflow: hidden;
}

.i68loop-container .i68loop-left img {
    width: 30px;
    padding-right: 5px;
    border-radius: 50%;
    vertical-align: middle;
}

.i68loop-right {
    position: relative;
    height: 35px;
}

.i68loop-right img {
    width: 100%;
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
}