/*今日头条添加绑定手机号弹框功能*/
.huimobile-container {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
}
.huimobile-container .hlui-wrapper {
  width: 280px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  background-color: #f2f2f2;
  border-radius: 9px;
}
/*绑定手机号：头部*/
.huimobile-container .hlui-head {
  text-align: center;
  font-size: 15px;
  border-bottom: 2px solid #e4e4e4;
  padding: 10px 0;
}
/*头部左侧头像*/
.huimobile-container .hlui-logo {
  position: absolute;
  margin-left: 16px;
  margin-top: 2px;
}
.huimobile-container .hlui-logo img {
  width: 70px;
}
/*body主体*/
.huimobile-container .hlui-main {
  padding: 0 20px;
  box-sizing: border-box;
}
/*最上面提示信息*/
.huimobile-container .hlui-main-tip {
  color: #f15467;
  text-align: center;
  margin-top: 5px;
}
.huimobile-container .hlui-main-tip p {
  height: 18px;
  line-height: 18px;
  font-size: 12px;
}
/*flex布局样式*/
.huimobile-container .hlui-flex {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/*flex中右侧
		    获取验证码图片、校验码定宽*/
.huimobile-container .hlui-flex > .hlui-cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
}
.huimobile-container .hlui-flex > .hlui-w {
  width: 100px;
  box-sizing: border-box;
  padding: 0 0 0 15px;
}
.huimobile-container .hlui-input-container .hlui-flex {
  padding: 5px 0;
}
/*短信校验码按钮*/
.huimobile-container .hlui-verf {
  border-radius: 5px;
  background-color: #e8e6e6;
  border: 1px solid #c8c8c8;
  vertical-align: middle;
  height: 32px;
  line-height: 32px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 4px;
}
/*短信校验码disable状态*/
.huimobile-container .hlui-disable {
  color: #fff;
  border: 1px solid #e8e6e6;
}
.huimobile-container .hlui-w img {
  margin-top: 5px;
  width: 85px;
}
/*input输入框样式*/
.huimobile-container input.hmobile {
  width: 100%;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  padding: 2px 0 2px 9px;
  border-radius: 5px;
  border: 1px solid #c8c8c8;
  font-size: 14px;
}
.huimobile-container input.hmobile:focus {
  outline: none;
}
/*登录按钮*/
.huimobile-container .hlui-btns {
  padding: 10px 0;
}
.huimobile-container .hlui-btns .hlui-btn-tip {
  font-size: 12px;
  text-align: center;
  color: #9b9b9b;
  padding-bottom: 1px;
}
.huimobile-container .hlui-btns .hlui-btn {
  border-radius: 5px;
  background-color: #5bbd2a;
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
}
.huimobile-container .hlui-btns .hlui-btn-disable {
  opacity: 0.8;
}
/*快速登录*/
.huimobile-container .hlui-quick-login {
  text-align: center;
}
.huimobile-container .hlui-quick-login img {
  width: 40px;
}
.huimobile-container .hlui-quick-login .hlui-quick-tip img {
  width: 100%;
}
.huimobile-container .hlui-quick-login .hlui-quick-wrapper {
  padding: 8px 0;
}
/*手机号码验证modal*/
.huimobile-container .hlui-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
}

.huimobile-container .hlui-inner-modal {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 48%;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  text-align: center;
  width: 170px;
  padding: 10px;
  border-radius: 6px;
}