/**
 * 新版的 试玩时间到了之后 提示登录样式
 */

.onkey-login-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    max-width: 640px;
    margin: 0 auto
}

.onkey-login-wrapper {
    width: 80%;
    max-width: 270px;
    position: absolute;
    top: 30%;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 10px;
    z-index: 6
}

.logo-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px 16px
}
/*关闭按钮*/
.onkey-close{
    position: absolute;
    right: -18px;
    top: -18px;
    padding: 5px;
}
.onkey-close img{
    width: 30px;
}

/*绑定手机号：头部*/
.onkey-head{
    text-align: center;
    font-size: 15px;
    border-bottom: 2px solid #e4e4e4;
    padding: 10px 0;
}
/*头部左侧头像*/
.onkey-logo{
    display: inline-block;
}
.onkey-logo img{
    width: 70px;
    margin-bottom: -2px;
}

/*快速登录提示*/
.onkey-tip img{
    width: 100%;
}

/*快速登录三个按钮*/
.logo-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #9b9b9b;
    overflow: hidden;
    text-align: center
}

.logo-item img {
    width: 56px;
    height: 56px;
    box-sizing: border-box
}

.onkey-title {
    text-align: center;
    color:#f15467;
    box-sizing: border-box;
    font-size: 12px;
    padding: 10px 0;
}
