@charset "utf-8";

/**
 *	返回按钮
 * 旧版本
 */


/*.hbi-flex-wrapper{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.hbi-flex-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.hbi-back-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: none;
    background-color: rgba(0,0,0,.4);
}
.hbi-exit-dialog {
    margin: auto;
    margin-top: 50%;
    padding: 14px 0 14px;
    text-align: center;
    width: 90%;
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
}
.hbi-title{
	position: relative;
}
.hbi-title>span{
	font-size: 17px;
	line-height: 20px;
	height: 20px;
}
.hbi-cancel-button {
    position: absolute;
    width: 14px;
    padding: 10px 10px 20px 20px;
    top: -14px;
    right: 0;
}
.hbi-back-container {
    padding: 0 10px 10px;
}
.hbi-back-container div {
    display: inline-block;
    width: 24%;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
}
.hbi-back-container div>a>img {
    width: 80%;
    margin-top: 10px;
    border-radius: 9px;
}
.hbi-back-container div>p {
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 0;
    color: #1f1f1f;
    height: 24px;
    padding: 0 5px;
    line-height: 12px;
}
.hbi-remind-back-confirm {
    right: 10px;
    top: 4px;
    color: #777;
    font-size: 14px;
    margin-top: 10px;
}
.hbi-exit-button {
    padding: 7px 15px;
    border-radius: 5px;
    color: #fff;
    background-color: #f45212;
    border: none;
    margin: 0 20px;
}
.hbi-exit-button a{
	color: #fff;
}
.hbi-remind-back-confirm input {
    cursor: pointer;
}
.hbi-remind-back-confirm label {
    cursor: pointer;
}
.hbi-ewm-wrapper{
	text-align: center;
	margin-top: 36%;
}
.hbi-ewm-wrapper img{
	width: 80%;
}
.hbi-backinfo{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 500;
    right: 0;
}
@media  screen and (min-width: 100px) and (max-width: 640px) {
    .hbi-backinfo{
        width: 100%;
    }
}
@media screen and (min-width: 640px) {
    .hbi-backinfo{
        width: 640px;
        margin: 0 auto; 
    }
}*/


/**
 * 返回最新版本
 */

.backinfo-container {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
}

@media screen and (min-width: 100px) and (max-width: 640px) {
    .backinfo-container {
        width: 100%;
    }
}

@media screen and (min-width: 640px) {
    .backinfo-container {
        width: 640px;
        margin: 0 auto;
    }
}

.backinfo-container>div {
    position: relative;
    z-index: 50;
    background: #fff;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background: transparent;
    -webkit-animation: fadeInDown .5s linear;
    animation: fadeInDown .5s linear;
    margin-top: -15px;
    background: #fff;
    border-radius: 10px;
}

.backinfo-container .backinfo-banner {
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.backinfo-container .backinfo-banner img {
    width: 100%;
    vertical-align: bottom;
}

.backinfo-container .backinfo-btns {
    background: #fff;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 10px 10px;
    text-align: center;
    padding: 11px 10px;
    position: relative;
    box-sizing: border-box;
}

.backinfo-container .backinfo-btn {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 12px;
    border: 1px solid #FCA218;
    color: #fff;
    margin-left: 5px;
    white-space: nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    letter-spacing: 5px;
    background-color: #FCA218;
}

.backinfo-container .backinfo-check {
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -30px;
    line-height: 1;
}

.backinfo-check input {
    vertical-align: middle;
    font-size: 10px;
}

.backinfo-check label {
    vertical-align: middle;
}

.backinfo-container .backinfo-banner .backinfo-close {
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 4px;
    color: #fff;
    line-height: 1;
    font-size: 20px;
}

.backinfo-container .backinfo-banner .backinfo-close img {
    width: 20px;
}


/******           二维码      ***********/

.backinfo-ewm {
    background-color: #fff;
    text-align: center;
    color: #9b9b9b;
    padding: 10px 0 0;
    box-sizing: border-box;
}

.backinfo-t1 {
    font-size: 18px;
}

.backinfo-ewm img {
    width: 140px;
    padding: 10px 0;
}