.rz-wrapper {
    position: absolute;
    margin: auto;
    width: 80%;
    background: #f2f2f2;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 0;
    border-radius: 6px;
}

.rz-title {
    position: relative;
    text-align: center;
    padding: 0 20px;
    font-weight: bold;
    font-size: 16px;
}

.rz-close {
    position: absolute;
    padding: 0 10px;
    right: 0;
    top: -10px;
    font-size: 30px;
    font-weight: normal;
    line-height: initial;
}

.rz-content {
    position: relative;
    padding: 0 20px;
    margin: 20px 0;
}

.rz-input img {
    padding-top: 2px;
    height: 20px;
}

.rz-input {
    margin-top: 10px;
    background: #fff;
    padding: 5px 20px;
}

.rz-input input {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border: none;
}

.rz-input input:focus {
    outline: none;
}

.rz-foot {
    padding: 0 20px;
    text-align: center;
}

.rz-btn {
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #199afb;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    margin: 20px 0;
}

.rz-foot p {
    color: #9b9b9b;
    font-size: 12px;
}

.rz-tip {
    position: absolute;
    left: 0;
    right: 0;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    text-align: center;
}

.rz-tip-con {
    background-color: rgba(0, 0, 0, .6);
    display: inline-block;
    padding: 7px 20px;
    border-radius: 4px;
    margin: auto;
}