/*
	页面设置提醒样式
 */
.remind-container{
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.75);
    text-align: center;
    position: fixed;
}
.remind-wrapper{
    position: absolute;
    width: 80%;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: 9px;
}
.remind-head{
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    background-color: #fca218;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    position: relative;
}
.remind-close {
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.remind-close img{
    width: 20px;
}

.remind-body{
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}
/*user信息*/
.remind-user{
    padding: 10px 15px;
    border-bottom: 1px solid #f2f2f2;
    text-align: left;
}
.remind-img-wrapper,.remind-userinfo{
    display: inline-block;
    vertical-align: middle;
}
/*左侧头像*/
.remind-img-wrapper img{
    width: 50px;
    border-radius: 100%;
    border: 2px solid #f2f2f2;
    vertical-align: bottom;
    box-sizing: border-box;
}

/*右侧内容*/
.remind-name{
    color: #18a3e3;
    font-size: 14px;
    padding-top: 0;
}
.remind-userlevel{
    background-color: red;
    color: #fff;
    font-size: 10px;
    padding: 1px 3px 0;
    border-radius: 2px;
    margin-left: 5px;
    margin-bottom: 2px;
    height: 13px;
    line-height: 13px;
    vertical-align: middle;
}
.remind-expLevel img{
    width: 16px;
}




/*推送item*/
.remind-item{
    border-bottom: 1px solid #dcdcdc;
    margin: 0 15px;
    padding: 10px 0;
    text-align: left;
}
.remind-flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    width: 100%;
    position: relative;
}
.remind-time{
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    overflow: hidden;
}
.remind-btn{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    text-align: right;
    padding-top: 7px;
    position: relative;
}
.remind-title{
    font-size: 16px;
    color: #3c3c3c;
}
.remind-desc{
    color: #9b9b9b;
}

/*时间选择*/
/* The switch - the box around the slider */
.remind-switch {
  position: relative;
  display: inline-block;
  width: 68px;
  height: 30px;
}

/* Hide default HTML checkbox */
.remind-switch input {display:none;}

/* The slider */
.remind-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  box-sizing: border-box;
  -webkit-transition: .4s;
  transition: .4s;
  color: #5bbd2a;
}

.remind-slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 2px;
  bottom: 2px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.remind-switch input:checked + .remind-slider {
  border: 1px solid #5bbd2a;
  box-sizing: border-box;
  background-color: #fff;
}


.remind-switch input:checked + .remind-slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
  background-color: #5bbd2a;
}
.remind-switch input:checked + .remind-slider .remind-btn-on{
    display: inline-block;
}
.remind-switch input:checked + .remind-slider .remind-btn-off{
    display: none;
}

/* Rounded sliders */
.remind-slider.remind-round {
  border-radius: 34px;
}

.remind-slider.remind-round:before {
  border-radius: 50%;
}
.remind-btn-on{
    display: none;
    line-height: 28px;
    padding-left: 10px;

    width: 100%;
    text-align: left;
    box-sizing: border-box;
    font-size: 16px;
    
}
.remind-btn-off{
    font-size: 16px;
    line-height: 28px;
    padding-right: 7px;
    color: #ccc;
    width: 100%;
    display: inline-block;
    text-align: right;
    box-sizing: border-box;
}