/**
 * 游戏内部分享提示展示页面的样式
 */

@charset "utf-8";

/******************************************************
 * 旧的 显示各种奖励样式  暂时废弃
 * *******************************************
 */

.share-tip {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    z-index: 1000;
}

.inner-share-tip {
    margin-top: 30%;
}

.s-c-num1 {
    color: #00b0f2;
    text-align: left;
}

.s-c-num2 {
    color: #ffa016;
}

.s-title-big {
    font-size: 22px;
}

.share-num {
    margin-top: 10px;
}

.share-num > div {
    padding: 2px 0;
}

.text-l {
    text-align: right;
}

.share-arrow {
    position: absolute;
    top: 15px;
    right: 15px;
}

.share-arrow img {
    vertical-align: bottom;
    width: 50px;
}

.s-no-wx {
    margin-top: 30px;
}

.reward-wrapper p {
    padding: 3px 0;
}


/******************************************************
 * 新的 分享提示  显示小手指向右上角样式  
 * *******************************************
 */

.share-square {
    position: fixed;
    background: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 0 auto;
    font-size: 14px;
    color: #fff;
    z-index: 110000;
    font-weight: 700
}

.share-square .share-box {
    position: relative;
    top: 5px
}

.share-square .share-box>img {
    position: absolute;
    -moz-animation: icon-bounce .2s ease-in-out infinite alternate;
    -webkit-animation: icon-bounce .2s ease-in-out infinite alternate;
    animation: icon-bounce .2s ease-in-out infinite alternate;
    right: 10px;
    width: 25px
}

.share-square span {
    position: absolute;
    right: 5px;
    top: 50px
}

.share-square span img {
    position: relative;
    top: 5px;
    vertical-align: baseline
}

@-moz-keyframes icon-bounce {
    0% {
        top: 5px
    }
    50% {
        top: 0
    }
    100% {
        top: -5px
    }
}

@-webkit-keyframes icon-bounce {
    0% {
        top: 5px
    }
    50% {
        top: 0
    }
    100% {
        top: -5px
    }
}

@keyframes icon-bounce {
    0% {
        top: 5px
    }
    50% {
        top: 0
    }
    100% {
        top: -5px
    }
}

/****************************************************
*************************************************
*
*	模拟cp 弹出分享框  诱导用户分享
*/

.simulate-container{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	max-width: 640px;
	margin: 0 auto;
	background-color: rgba(0,0,0,.6);
}
.simulate-wrapper{
	text-align: center;
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform:translate(-50%,-50%); 	/* IE 9 */
	-moz-transform:translate(-50%,-50%); 	/* Firefox */
	-webkit-transform:translate(-50%,-50%); /* Safari 和 Chrome */
	-o-transform:translate(-50%,-50%); 
}
.simulate-wrapper img{
	width: 100%;
}
.simulate-close{
    position: absolute;
    width: 11%;
    height: 11%;
    top: 7.5%;
    right: -0.4%;
    /*background-color: rgba(0,255,0,.3);*/
}
.simulate-notip{
    position: absolute;
    width: 20%;
    height: 6%;
    bottom: 24.5%;
    left: 5.3%;
    /*background-color: rgba(255,0,0,.4);*/
}
.simulate-sharetip{
	position: absolute;
    width: 33%;
    height: 11%;
    bottom: 22.5%;
    left: -1%;
    right: 0;
    /*background-color: rgba(0,255,0,.8);*/
    margin: 0 auto;
}
.simulate-selected{
	position: absolute;
    width: 4% !important;
    bottom: 26%;
    left: 5.8%;
}