/* 抓娃娃的关注浮标样式 */


/*1、娃娃的关注邀请  2、签到 领奖*/

.fixed-container {
    position: fixed;
    z-index: 10;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


/* 浮标样式 */

.wa-coins {
    position: fixed;
    right: 0;
    top: 80px;
    width: 50px;
}

.wa-coins img {
    width: 100%;
}


/* 弹框显示 邀请和关注页面 */

.wa-container {
    background: rgba(0, 0, 0, .9);
}

.wa-wrapper {
    width: 100%;
    padding-top: 50%;
    margin: auto;
    text-align: center;
}

.wa-btn {
    display: inline-block;
}

.wa-btn img {
    width: 110px;
    height: 110px;
    padding: 10px;
}


/* 关注我们 */

.wa-follow {
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
    width: 60%;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    padding: 30px 20px 20px;
}

.wa-t1,
.wa-t2 {
    position: relative;
    margin-top: 5px;
}

.wa-close {
    position: absolute;
    width: 30px;
    right: -30px;
    top: -35px;
}

.wa-tit {
    width: 130px;
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    margin: auto;
}


/***********************   签到 领奖  ***************************************/

.checkin-container {
    /* display: none; */
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .6)
}

.checkin-wrapper {
    position: absolute;
    width: 87%;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin: auto;
    border-radius: 8px;
    background-color: #fff;
}


/* 头部 */

.chec-head {
    position: relative;
}

.chec-head img {
    width: 100%;
    vertical-align: bottom;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.chec-head .chec-btn {
    position: absolute;
    bottom: 11px;
    left: 0;
    right: 0;
    margin: auto;
    width: 90px;
    height: 30px;
    /* background-color: rgba(255, 0, 0, 0.185); */
}

.chec-head .chec-score {
    position: absolute;
    right: 5px;
    top: 2px;
    color: #f6563c;
    font-size: 12px;
}


/* 中间 */

.chec-container {
    padding: 15px 0 0;
    border-radius: 10px;
}

.chec-item {
    text-align: center;
}

.chec-item .chec-img {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
}

.chec-item .chec-lian {
    color: #878787;
}

.chec-item .chec-img img {
    width: 60px;
    vertical-align: bottom;
}

.chec-item .chec-img .s {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 12px;
    color: #fff;
}

.chec-item .chec-img .chec-text {
    position: absolute;
    width: 100%;
    font-size: 10px;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 2px;
    color: #fff;
}

.chec-item .chec-img .chec-text1 {
    color: #d37b00;
    bottom: 34px;
}


/* 特效 */

.chec-tx {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.chec-item .chec-img .chec-te1 {
    width: 120px;
    margin-top: -30px;
    margin-left: -30px;
    animation: chec-loading 3s linear infinite;
}

.chec-item .chec-img .chec-te2 {
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes chec-loading {
    0% {
        transform: rotate(0)
    }
    50% {
        transform: rotate(180deg)
    }
    to {
        transform: rotate(1turn)
    }
}


/* 签到提示语 */

.chec-tips {
    text-align: center;
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
}

.chec-tips div {
    display: inline-block;
    background-color: #f6563c;
    border-radius: 30px;
    padding: 0px 10px;
}

.chec-money-wrapper {
    text-align: center;
    padding-top: 10px;
}

.chec-money-wrapper .chec-money {
    color: #f00;
    font-size: 20px;
}


/* 关注公众号提醒 */

.checset-container {
    padding: 5px 10px;
}

.checset-container .checset-text {
    line-height: 30px;
    font-size: 12px;
    color: #9b9b9b;
}

.checset-container .checset-sw {
    text-align: right;
}

.checset-container .checset-swtext {
    font-size: 12px;
}

.checset-container .checset-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
    vertical-align: middle;
}

.checset-container .checset-switch input {
    display: none;
}

.checset-container .checset-round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f2f2;
    border: 1px solid #f6563c;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: #5bbd2a;
    border-radius: 50px;
}

.checset-container .checset-round:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

.checset-container input:checked+.checset-round {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    background: #f6563c;
}

.checset-container input:checked+.checset-round:before {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    background-color: #fff;
}


/***********************   兑换奖励  ***************************************/

.fixed-container {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    max-width: 640px;
    margin: auto;
}

.exch-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 80%;
    background: #f6563c;
    padding: 0 10px 10px;
    border-radius: 8px;
    height: 420px;
    overflow: auto;
}

.exch-money-container {
    margin-top: 10px;
    padding: 5px 0;
    background-color: #fff;
    border-radius: 8px;
}

.exch-money-container .exch-head {
    height: 30px;
    font-size: 18px;
    padding: 0 15px;
    font-weight: bold;
}

.exch-item {
    padding: 10px 15px;
    border-bottom: 1px solid #f7f7f7
}

.exch-item img {
    width: 40px;
    vertical-align: bottom
}

.exch-item .exch-box2 {
    padding-left: 10px
}

.exch-box2 .exch-title {
    font-size: 16px;
    color: #3c3c3c
}

.exch-box2 .exch-desc {
    color: #f6563c
}

.exch-box2 .exch-num {
    color: #9b9b9b;
    margin-left: 10px
}

.exch-box3 div {
    width: 60px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    color: #fff;
    background: #f6563c;
    text-align: center;
    font-size: 16px
}

.exch-item .exch-has {
    background-color: #9b9b9b
}


/********************************  提示关注 **********************/

.exfo-container {
    background-color: rgba(0, 0, 0, .9);
}

.exfo-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.exfo-img {
    width: 100%;
    vertical-align: bottom;
}

.exfo-close {
    position: absolute;
    width: 30px;
    top: -50px;
    right: 10px;
}