/**
 * 该文件暂时无效
 * chat.css 代替
 */
.vipinfo-container{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: rgba(0,0,0,.5);
}
.vipinfo-wrapper{
	position: absolute;
	width: 80%;
	left: 0;
	right: 0;
	max-height: 80%;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;
	background-color: #f2f2f2;
	border-radius: 12px;
	max-width: 350px;

	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.vipinfo-header{
	height: 46px;
	line-height: 46px;
	background-color: #fff;
	width: 100%;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;

    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.vipinfo-title{
	font-size: 16px;
	text-align: center;
}
.vipinfo-close{
	position: absolute;
	right: 0;
	top:0;
	width: 40px;
	text-align: center;
}
.vipinfo-close img{
	width: 15px;
	height: 15px;
	vertical-align: middle;
}

.vipinfo-list{
	padding-top: 5px;
	padding-bottom: 10px;
	overflow: auto;
	box-sizing: border-box;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;

    height: auto;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}
.vipinfo-item{
	padding: 5px 10px;
	box-sizing: border-box;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.vipinfo-item .vipinfo-left,.vipinfo-item .vipinfo-right{
	display: inline-block;
	vertical-align: top;
}
.vipinfo-item .vipinfo-left img{
	width: 40px;
	height: 40px;
	line-height: 0;
	border-radius: 4px;
}
.vipinfo-right{
	margin-left: 10px;
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.vipinfo-name{
	color:#ff668c;
	font-size: 12px;
}
.other-content:before,
.other-content:after{
	content: "";
    position: absolute;
    top: 10px;
    width: 0px;
    height: 0px;
    border: 6px solid transparent;
}
.other-content:before{
    left: -12px;
	border-right-color: #e3e3e3
}
.other-content:after{
	left: -10px;
    border-right-color: #fff;
}
.vipinfo-content{
	border:1px solid #e3e3e3;
	background-color: #fff;
	padding: 6px 8px 5px;
	position: relative;
	border-radius: 4px;
	max-width: 200px;
	margin-top: 2px;
	text-align: left;
	display: inline-block;
	word-wrap:break-word;	/*长单词换行*/
 	word-break:break-all;  /*长单词不另起一行*/ 
}
.vipinfo-content img{
	max-width: 150px;
	width: 100%;
}

.vipinfo-time{
	font-size: 9px;
	color: #bbbbbb;
	vertical-align: middle;
	margin-left: 5px;
}


.host{
	text-align: right;
}
.host-content{
	margin: 0 0 0 auto;
}
.host-content:before,
.host-content:after{
	content: "";
    position: absolute;
    top: 10px;
    width: 0px;
    height: 0px;
    border: 6px solid transparent;
}
.host-content:before{
	right: -12px;
	border-left-color: #e3e3e3
}
.host-content:after{
	right: -10px;
    border-left-color: #fff;
}
.host .vipinfo-right{
	margin-right: 7px;
	margin-left: 0;
}
.host .vipinfo-time{
	margin-right: 5px;
	margin-left: 0;
}