/*****           
1、娃娃排行榜
2、五四疯狂动物雨活动
******/

.fixed-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.fixed-wrapper {
    position: absolute;
    margin: auto;
    width: 80%;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.warank-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0 5%;
    max-height: 82%;
}

.warank-head {
    position: relative;
}

.warank-end {
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
}

.warank-end span {
    margin-right: 12px;
    font-weight: bold;
}

.warank-body,
.warank-foot {
    background-color: #fff;
    padding: 0 10px;
    box-sizing: border-box;
    /* border-top: none; */
}

.warank-body {
    /* height: 250px; */
    overflow: auto;
    padding-bottom: 0;
    overflow-x: hidden;
}

.warank-foot {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* border-top: 1px solid #fff; */
}

.warank-head img {
    width: 100%;
    overflow: hidden;
    vertical-align: bottom;
}


/* item */

.warank-item {
    /* padding: 5px 10px 5px 0; */
    padding: 2px 0;
    border-radius: 10px;
    margin: 5px 0;
    background-color: rgb(240, 240, 240)
}

.warank-first {
    background-color: rgb(255, 228, 122)
}

.warank-second {
    background-color: rgb(201, 208, 224)
}

.warank-third {
    background-color: rgb(255, 178, 181)
}

.warank-index {
    width: 30px;
    text-align: center;
    font-size: 12px;
}

.warank-index img {
    width: 18px;
    vertical-align: bottom;
}


/* meta 信息 */

.warank-meta {
    width: 0;
    overflow: hidden;
}

.warank-meta>div {
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.warank-img {
    margin-right: 10px;
    width: 35px;
}

.warank-img img {
    width: 35px;
    border-radius: 7px;
    vertical-align: bottom;
}

.warank-name {
    color: #18a3e3;
}

.warank-num span {
    color: red;
}

.warank-rew {
    font-size: 12px;
}

.warank-text {
    padding-right: 10px;
}

.warank-rew img {
    width: 90px;
    vertical-align: bottom;
}

.warank-more {
    color: #9b9b9b;
    font-size: 12px;
    text-align: center;
    padding: 5px 0;
}


/* 底部 */

.warank-line {
    box-sizing: border-box;
    width: 100%;
    /* height: 15px; */
    position: relative;
}

.warank-line .warank-l {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, #fca218 0%, #fca218 50%, transparent 50%);
    background-size: 8px 1px;
    background-repeat: repeat-x;
    position: relative;
    /* margin-top: 18px; */
}

.warank-line .warank-t {
    position: absolute;
    left: 0;
    right: 0;
    top: -8px;
    background: #fff;
    width: 135px;
    margin: auto;
    color: #fca218;
    text-align: center;
}

.warank-btn {
    position: relative;
    text-align: center;
    padding: 9px 0 11px 0;
    min-height: 36px;
    box-sizing: border-box;
}

.warank-btn img {
    height: 30px;
    vertical-align: bottom;
}

.warank-r {
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.warank-r img {
    width: 30px;
    vertical-align: bottom;
}


/* 左上角倒计时 */

.warank-djs {
    position: absolute;
    left: 0;
    background: #5fb2ff;
    padding: 10px 10px 10px 0;
    border-radius: 0 40px 40px 0;
    color: #fff;
    font-size: 12px;
}

.warank-djs img {
    width: 15px;
    vertical-align: text-top;
    padding: 0 5px;
    background: #5fb2ff;
}


/* 点击填写邮寄信息的时候  弹框提示样式 */

.duij-wrapper {
    border-radius: 5px;
    background: #fff;
}

.duij-title {
    font-weight: bold;
    font-size: 16px;
    padding-top: 20px;
    text-align: center
}

.duij-main {
    padding: 10px 20px;
    color: #9b9b9b;
}

.duij-foot {
    width: 100%;
    border-top: 1px solid #f7f7f7;
    padding: 5px 0;
    text-align: center;
    height: 45px;
    line-height: 35px;
    box-sizing: border-box;
}

.duij-foot>a {
    border-right: 1px solid #f7f7f7;
}

.duij-foot>a:first-child {
    color: red;
}

.duij-foot>a:last-child {
    border: none;
    color: #2d8cf0
}