@charset "utf-8";
.color1{
	color: #fedb55;
}
.main{
	background-color: #d70000;
	color: #fff;
}
.logo{
	width: 100%;
}
.logo img{
	width: 100%;
}
.inner-main{
	padding: 5px 15px 10px;
}
.game{
	padding: 10px 0;
}
.list .item {
    position: relative;
    padding: 10px 15px;
    /*border-bottom: 1px solid rgb(247,247,247);*/
    /*width: 80%;*/
    margin: 7px auto;
    background-color: #ac0000;
    border-radius: 7px;
}

.list .item > a.i-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    width: 100%;
    position: relative;
}
.list .item .cover {
    line-height: 0px;
}
.list .item .cover img {
    width: 50px;
    margin-right: 10px;
    
}
.list .item .meta {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #9b9b9b;
    overflow: hidden;
}
.list .meta .title {
    color: #ffe9e9;
    padding-top: 5px;
    margin-right: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 6px;
}
.list .meta .title .identification {
    border: 1px solid #88d3fe;
    color: #88d3fe;
    margin-left: 3px;
    font-size: 10px;
    border-radius: 2px;
    padding: 0 2px;
    vertical-align: inherit;
    display: inline-block;
    position: absolute;
}
.list .item .meta .desc {
    margin-right: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    margin-top: 8px;
    color: #ffb1aa;
}

.list .item .play-btn, 
.list .item .fail-btn, 
.list .item .tao-btn {
    position: absolute;
    width: auto;
    right: 15px;
    top: 50%;
    margin-top: -13px;
    vertical-align: middle;
    border: 1px solid #fedb55;
    padding: 4px 4px;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #d70000;
    font-size: 12px;
    background: #fedb55;
}
.con-info{
	color: #fedb55;
	text-indent:2em;
	font-size: 16px;
	line-height: 26px;
}
.logo-rules img{
	margin: 0 auto;
	display: block;
	width: 50%;	
}
.mmkk{
	border-top: 1px solid #fedb55;
	border-bottom: 1px solid #fedb55;
	padding: 10px 0;
	margin-top: 10px;
}
.m-info{
	font-size: 16px;
	line-height: 26px;
	text-align: center;
}
.m1758{
	width: 96%;
	background: #ac0000;
	margin: 20px auto;
	border-radius: 5px;
	padding: 10px 0;
}
.m1758-item{
	font-size: 16px;
	padding: 8px 20px;
}
.m1758-item span{
	
	box-sizing: border-box;
	display: inline-block;
}
.m-il{
	width: 68%;
	/*padding-left:10px ;*/
}
.m-ir{
	width: 30%;
	
}
.t-info{
	font-size: 16px;
	line-height: 26px;
}
.tinfo-all{
	font-size: 15px;
	line-height: 25px;
	margin-top: 10px;
}
.tinfo-in{
	color: #f46e6e;
}
.footer-info{
	text-align: center;
	font-size: 16px;
	line-height: 26px;
	color: #fff;
	margin: 10px 0;
}
.dividing{
	border: 1px solid #fedb55;
}

#audio_btn {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 200;
    display: none;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}
.rotate {
    -webkit-animation: rotating 1.2s linear infinite;
    -moz-animation: rotating 1.2s linear infinite;
    -o-animation: rotating 1.2s linear infinite;
    animation: rotating 1.2s linear infinite;
}
@-webkit-keyframes rotating {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotating {
  to {
    transform: rotate(360deg);
  }
}
.off {
    background-image: url('normalmusic.svg');
    background-size: contain;
    background-repeat: no-repeat;
}