<template>
    <transition class="hlmy">
        <div class="hlmy-modal" v-if="show">
            <div class="mask fixed-container" @click="maskClick"></div>
            <div class="dialog">
                <div class="dialog-hd">
                    <strong class="hd-title">{{title}}</strong>
                </div>
                <div class="dialog-bd">
                    <textarea v-model.trim="comment" class="dialog-comment" contenteditable="false" placeholder="大侠留个名吧~"></textarea>
                    <!-- 评论的添加图片按钮 只有在微信状态下才有  最多四张图片-->
                    <div flex="box:mean" class="dialog-img-wrapper" v-if="isAddPic">
                        <div v-for="(item,index) in localIds" :key="index">
                            <div class="img-item">
                                <div :style="'background-image:url('+item+')'"></div>
                                <span class="img-del" @click="delPicture(index)">
                                    <img src="http://images.1758.com/daren/delimg.png">
                                </span>
                            </div>
                        </div>
                        <div v-if="isShowAdd" @click="addPic">
                            <img src="http://images.1758.com/daren/upload.png" alt="1758微游戏">
                        </div>
                    </div>
                </div>
                <div class="dialog-ft" flex="box:mean">
                    <a @click="cancel">{{cancelText}}</a>
                    <a class="primary" @click="success">{{submitText}}</a>
                </div>
            </div>
        </div>
    </transition>
</template>
<script>
import utils from '@/assets/js/utils'
export default {
    data() {
        return {
            show: false,
            title:'',
            submitText:'发布',
            cancelText:'取消',
            // 存储textarea填写的内容
            comment: '',
            // mask点击是否可以关闭
            maskClose: false,
            // 类型 0 为普通回复或评论，1为添加图片评论  
            type: 0,
            // 添加图片最大数
            allNum: 4,
            localIds:['http://images.1758.com/image/20171020/7225524_669e3d86ec63a2e70c21ae528ee418f6.jpg?imageView2/2/w/240','http://images.1758.com/image/20171020/7015027_7e4b6a475f9c3b99519847c11ee0ca2b.jpg?imageView2/2/w/240','http://images.1758.com/article/image/2017/10/20/8751508473036905.jpg?imageView2/2/w/240','http://images.1758.com/image/20171020/821086_d4ba50201fe03d72dce0c8a2901d83dc.jpg?imageView2/2/w/240']
        }
    },
    computed:{
        // 是否显示添加图片按钮，type是comment 并且环境是微信
        isAddPic(){
            // if(this.type === 1 && utils.userAgent.client === 'wx'){
            if(this.type === 1 ){
                return true;
            }else{
                return false;
            }
        },
        // 是否显示添加图片+号按钮，当用户选择够四个图片后
        isShowAdd(){
            return this.localIds.length < this.allNum ? true: false;
        },
        leftNum(){
            // 添加图片剩余数量
            return this.allNum - this.localIds.length;
        }
        
    },
    methods: {
        // mask点击关闭
        maskClick(){
            if(this.maskClose){
                this.close();
            }
        },
        // 删除dom
        close() {
            this.show = false;
        },
        // 发布按钮
        success(){
            this.close();
        },
        // 取消按钮
        cancel(){
            this.close();  
        },
        // 添加图片按钮
        addPic(){
            if(!window.wx){return;}
            window.wx.chooseImage({
			  count: this.leftNum,
		      success: (res)=>{
		      	this.localIds = res.localIds;
		      }
		    });
        },
        // 删除预览图片
        delPicture(index){
            this.localIds.splice(index,1);
        }
    }
}
</script>
<style lang="stylus">
.dialog {
    .dialog-commentbody{
        padding 0!important
    }
    .dialog-comment{
        width: 100%;
        resize: none;
        border: none;
        border-radius: 3px;
        padding: 6px 10px;
        vertical-align: bottom;
        min-height: 2.3rem;
        font-size 14px
        box-sizing border-box
        &:focus{
            outline none
        }
    }
}
</style>

<style lang="stylus" scoped>
    .mask{
        z-index: 11;
        background:rgba(0,0,0,.6);
    }
    .dialog{
        position: fixed;
        z-index: 13;
        width: 85%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        background-color: #FAFAFC;
        text-align: center;
        border-radius: 3px;
        max-width: 10.8rem;
        margin: auto;

        .primary{
            color: #0BB20C;
        }
        
        .dialog-hd{
            position: relative;
            padding: .34rem 0 .14rem;
            .hd-title{
                font-weight: 400;
                font-size: 17px;
            }
            &:after{
                content: " ";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                border-bottom: 1px solid #D5D5D6;
                color: #D5D5D6;
                -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
                -webkit-transform: scaleY(.5);
                transform: scaleY(.5);
            }
        }
        .dialog-bd{
            // padding: .4rem;
            font-size: 15px;
            color: #888;
            box-sizing border-box
        }
        .dialog-ft{
            position: relative;
            line-height: 42px;
            font-size: 17px;
            &:after{
                position: absolute;
                width: 100%;
                height: 1px;
                border-top: 1px solid #D5D5D6;
                -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
                -webkit-transform: scaleY(.5);
                transform: scaleY(.5);
                content: " ";
                left: 0;
                top: 0;
                color: #D5D5D6;
            }
            a{
                position: relative;
                &:after{
                    content: " ";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 1px;
                    height: 100%;
                    border-left: 1px solid #D5D5D6;
                    color: #D5D5D6;
                    -webkit-transform-origin: 0 0;
                    transform-origin: 0 0;
                    -webkit-transform: scaleX(.5);
                    transform: scaleX(.5);
                }
            }
        }
        .dialog-img-wrapper{
            padding-bottom .1rem
            &>div{
                max-width 25%
                img{
                    width 80%
                }
            }
            .img-item{
                width 80%
                margin-top .05rem
                position relative
                display inline-block
                & > div{
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 0;
                    padding-bottom: 100%;
                }
                .img-del{
                    position absolute
                    top -.2rem
                    right -.16rem
                    border-radius 50%
                    img {
                        width .4rem
                        vertical-align bottom 
                    }
                }
            }
        }
    }
</style>

