<template>
    <transition class="hlmy">
        <div v-if="show" class="hlmy-message fixed-container">
            <div class="mess-container">
                <div class="mess-wrapper">
                    <div :class="'icon-'+type">
                        <i class="hlmy-icon" :class="iconName"></i>
                        <span>
                            {{content}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>
<script>

export default {
    data() {
        return {
            // 是否显示
            show: false,
            // icon名称
            iconName:'',
            // 类型，目前支持两种loading 和 info
            type:'',
            // loading类型的关闭时间
            closeTimer:  null,
            // 显示内容
            content:'',
            // 关闭时间
            duration: 0
        }
    },
    watch:{
        duration: function(value){
            this.setDuration();
        }
    },
    methods: {
        // 设置时间
        setDuration() {
            if (this.duration !== 0) {
                if(this.closeTimer){
                    clearTimeout(this.closeTimer);
                }
                this.closeTimer = setTimeout(() => {
                    this.close();
                }, this.duration);
            }
        },
        // 关闭当前message提示框
        close() {
            this.show = false;
        }
    }
}

</script>

<style lang="stylus" scoped>
    .hlmy-message{
        z-index 20
        .mess-container{
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translateX(-50%);
            text-align: left;
            max-width 400px
            width auto
        }
        .mess-wrapper{
            position: relative;
            padding: 8px 16px;
            border-radius: 4px;
            box-shadow: 0 1px 6px rgba(0,0,0,.2);
            background: #fff;
            display: block;
        }
        .content{
            padding: .04rem .1rem .04rem .4rem;
            background-color: #fff;
        }
    }
</style>


