<template>
    <!-- sdk调用关注，初始化查询是否订阅 -->
    <div class="ewm-container fixed-container">
		<div class="ewm-wrapper">
			<div class="close" @click="close">关 闭</div>
			<img :src="src">
		</div>
	</div>
</template>

<script>
    export default {
        props:{
            src:{
                type: String,
                default:''
            },
            isShow: {
                type: Boolean,
                default: false
            }
        },
        methods:{
            close(){
                this.$store.commit('StoreSubscribeInfo',{isShow:false})
            }
        }
    }
</script>

<style lang="stylus" scoped>
    .ewm-container{
        .ewm-wrapper{
            text-align center
            position absolute
            top 50%
            left 50%
            transform translate(-50% ,-50%);
            width 100%
            .close{
                color:white;
                font-size:20px
            }
            img {
                width 85%
            }
        }
    }
</style>