<template>
    <div v-if="loadingType == 'normal'" class='loading fixed-container' >
        <div class='inner-loading'>
            <img src='//images.1758.com/game/m/game_logo_1.png'>
            <p class="p-loading">游戏载入中...</p>
            <br />
            <p class="text-loading">1758微游戏·即点即玩</p>
        </div>
    </div>
    <div v-else class="loading fixed-container loading-3">
        <div class="inner-loading">
            <div class="logo">
                <img :src="loadingLogoUrl" alt="">
                <div>
                    <img src="http://images.1758.com/festival/gs10.gif" alt="">
                    <p>游戏正在火速加载中</p>
                </div>
            </div>
        </div>
        <div class="des">
            <img src="http://images.1758.com/festival/gs9.png" alt="">
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
    computed:mapState({
        loadingType: state => state.StoreGameInfo.loadingType,
        loadingLogoUrl: state => state.StoreGameInfo.loadingLogoUrl,
    }),
    props: {
        isLoading: {
            type: Boolean,
            default: true
        }
    }
}
</script>

<style scoped lang="stylus">
    .loading{
        background: #71a540;
        z-index: 1000;
        .inner-loading{
            text-align center
            position absolute
            top 40%
            transform translateY(-50%)
            left 0
            right 0
            img {
                width 65%
                max-width 4.2rem /* 420/100 */
            }
            .p-loading{
                color #c1f393
                margin-top .4rem /* 40/100 */
            }
            .text-loading{
                color #ffffff
                font-size 18px
                margin-top .4rem /* 40/100 */
            }

            // 第三方
            
            .logo{
                & > img{
                    width 50%
                    max-width 4.2rem
                }
                div{
                    margin-top .5rem
                    img{
                        width .6rem
                    }
                    p{
                        color #9b9b9b
                    }
                }
            }
        }
        .des{
            position fixed
            bottom .6rem
            max-width 640px
            margin auto
            left 0
            right 0
            text-align center
            img {
                width 30%
            }
        }
    }
    .loading-3{
        background #fff
    }
</style>