<template>
    <!-- 微信按钮和手机按钮是否显示 有jsp给出指示，需在整理 -->
    <section class="login-container fixed-container">
	    <div class="login-wrapper">
	    	<div class="head">
	    		<div class="close" @click="close">
	        		<img src="http://images.1758.com/image/20160831/open_1_6f57ffea4e579ea726c90e8b53cc1ebb.png">
	        	</div>
				<div class="logo">
					<img src="http://wx.1758.com/game/h5/images/head-icon.png" alt="">	
				</div>
				游戏登录
			</div>
	        <div class="title">
	           为保护您的游戏数据安全，请登录后继续游戏
	        </div>
	        <div class="tip">
	        	<img src="http://images.1758.com/image/20170215/open_1_6c077b5f6e949bab2d2c46543a8b847d.png" alt="">
	        </div>
	        <div class="logo-wrapper" flex="box:mean">
                <!-- QQ登录 -->
	            <div class="logo-item">
	                <a href="//wx.1758.com/play/login/qqLogin?appKey=ac0f51ce5d76e0c86c71a6b79860a270&amp;chn=">
	                    <img src="http://images.1758.com/images/login_QQ1.png">
	                </a>
	            </div>
                <!-- 微信登录 -->
	            <div class="logo-item" >
	                <a href="//wx.1758.com/play/login/weixinLogin?appKey=ac0f51ce5d76e0c86c71a6b79860a270&amp;chn=">
	                    <img src="http://images.1758.com/images/login_WX1.png">
	                </a>
	            </div>
                <!-- 手机号登录 -->
	            <div class="logo-item" @click="phoneLogin">
	                <a>
	                    <img src="http://images.1758.com/image/20170301/open_1_bccda161f978821c1e6a52feaf4a7188.png">
	                </a>
	            </div>
                <!-- 微博登录 -->
	            <div class="logo-item">
	                <a href="//wx.1758.com/play/login/weiboLogin?appKey=ac0f51ce5d76e0c86c71a6b79860a270&amp;chn=">
	                    <img src="http://images.1758.com/images/login_XL1.png">
	                </a>
	            </div>
	        </div>
	    </div>
	</section>
</template>

<script>
    export default {
        methods:{
            phoneLogin(){
                this.close();
                this.$store.commit('StoreLoginInfo', { phoneShow: true });
            },
            // 关闭
            close(){
                this.$store.commit('StoreLoginInfo', { isShow: false });
            }
        }
    }
</script>

<style lang="stylus" scoped>
    .login-container{
        .login-wrapper{
            width: 80%;
            max-width: 5.4rem
            position: absolute;
            top: 30%;
            margin: 0 auto;
            left: 0;
            right: 0;
            background-color: #fff;
            border-radius: 10px;
            z-index: 6;
            .head{
                font-size: 15px;
                border-bottom: 2px solid #e4e4e4;
                padding: .2rem 0;
                text-align: center;
                .close{
                    position: absolute;
                    right: -.36rem;
                    top: -.36rem
                    padding: .1rem
                    img {
                        width .6rem
                    }
                }
                .logo{
                    display inline-block
                    img {
                        width 1.4rem
                        margin-bottom -.04rem;
                    }
                }
            }
            .title{
                color: #f15467;
                font-size: 12px;
                padding: .2rem 0;
                text-align: center;
            }
            .tip{
                img {
                    width 100%
                }
            }
            .logo-wrapper {
                width 100%
                position relative
                box-sizing border-box
                padding .2rem .32rem
                text-align center
                img {
                    width 1.1rem
                }
            }
        }
    }
</style>