<template>
    <section class="phone-container">
        <div class="phone-wrapper">
            <div class="phone-head">
                <div class="phone-logo"><img src="http://wx.1758.com/game/h5/images/head-icon.png" alt=""></div>
                手机号登录
            </div>
            <div class="phone-main">
                <div class="phone-main-tip">
                    <p>登录后保存游戏进度,账号更安全</p>
                    <p>并有概率获得随机现金红包</p>
                </div>
                <div>
                    <div class="phone-item" flex>
                        <div class="flex-box">
                            <input type="number" v-model.trim="phoneNum" pattern="[0-9]{4-12}" placeholder="手机号">
                        </div>
                    </div>
                    <div class="phone-item" flex>
                        <div>
                            <input type="number" v-model.trim="imgCode" pattern="[0-9]{4}" placeholder="请输入图形校验码">
                        </div>
                        <div class="code">
                            <img :src="verifycode" width="100%" @click="refresh">
                        </div>
                    </div>
                    <div class="phone-item" flex>
                        <div>
                            <input type="number" v-model.trim="phoneCode" pattern="[0-9]{4}" placeholder="请输入短信校验码">
                        </div>
                        <div class="code">
                            <div class="verf" :class="{disable:verfLock}" @click="getPhoneCode">
                                {{verfText}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="phone-btns">
                    <div class="phone-btn-tip">
                        未注册用户手机验证后自动登录
                    </div>
                    <div class="phone-btn" :class="{disable:phoneLock}" @click="mobileLogin">
                        {{loginText}}
                    </div>
                </div>
                <div class="quick-login">
                    <div class="quick-tip">
                        <img src="http://images.1758.com/image/20170215/open_1_6c077b5f6e949bab2d2c46543a8b847d.png" alt="快速登录">
                    </div>
                    <div flex="box:mean" class="quick-wrapper">
                        <div >
                            <a :href="qq"><img src="http://images.1758.com/images/login_QQ1.png" alt="QQ登录"></a>
                        </div>
                        <div v-if="wxShown">
                            <a :href="wx"><img src="http://images.1758.com/images/login_WX1.png" alt="微信登录"></a>
                        </div>
                        <div >
                            <a :href="weibo"><img src="http://images.1758.com/images/login_XL1.png" alt="微博登录"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="hmobileModal" class="hlui-modal gone">
            <div class="hlui-inner-modal">
                手机号码不对
            </div>
        </div>
    </section>
</template>

<script>
import qs from 'qs'
export default {
    data(){
        return {
            // 随机数
            num: '00000',
            // 手机号
            phoneNum: '15511497972',
            // 图片验证码
            imgCode: '',
            // 手机验证码
            phoneCode: '',
            // 获取验证码按钮文字显示
            verfText:'获取验证码',
            // 获取验证码按钮是否点击
            verfIsClick: false,
            // 手机号登录按钮是否点击
            phoneClick: false,
            intervalId: '',
            loginText:'登录'
        }
    },
    computed:{
        qq(){
            return `//wx.1758.com/play/login/qqLogin?appKey=35c96c7880fa2cf283453273c85c97b4&chn=${this.chn}`
        },
        wx(){
            return `//wx.1758.com/play/login/weixinLogin?appKey=35c96c7880fa2cf283453273c85c97b4&chn=${this.chn}`
        },
        weibo(){
            return `//wx.1758.com/play/login/weiboLogin?appKey=35c96c7880fa2cf283453273c85c97b4&chn=${this.chn}`
        },
        chn(){
            return this.$store.state.StoreGameInfo.chn;
        },
        // 获取验证码按钮的lock锁
        verifycode(){
            return `http://wx.1758.com/play/getVerifyCode?${this.num}`
        },
         // 获取手机验证码 按钮锁
        verfLock(){
            if(this.phoneNum.length  === 11 && this.imgCode.length === 4 && !this.verfIsClick){
                return false;
            }else {
                return true;
            }
        },
        // 微信是否显示
        wxShown(){
            // 今日头条渠道隐藏，其他显示
            if(this.chn !== 'jinritoutiao'){
                return true;
            }else {return false;}
        },
        // 手机登录按钮lock锁
        phoneLock(){
            if(this.phoneNum.length  === 11 && this.phoneCode.length && !this.phoneClick){
                return false;
            }else {
                return true;
            }
        },
    },
    methods:{
        refresh(){
            this.num = Math.ceil(Math.random()*1000000);
        },
        // 获取手机验证码
        getPhoneCode(){
            if(!this.verfLock){
                // 上锁
                this.verfIsClick = true;
                this.setText();
                var url = '/play/login/fetchSmsCode.json';
                var params = {
                    mobile:this.phoneNum,
                    rnum:this.imgCode
                }
                this.axios.post(url,qs.stringify(params))
                    .then((response) => {
                        var resData = response.data;
                        if(resData.result == 0){
                            // 有错误
                            this.verfText = '获取验证码';
                            this.verfIsClick = false;
                            clearInterval(this.intervalId);
                            this.$Message.info(resData.message);
                        }
                    })
                    .catch(function(err){})

            }
        },
        // 设置文字显示
        setText(){
            var time = 60;
            this.intervalId = setInterval(()=>{
                time -= 1;
                this.verfText = time+'s';
            },1000)
        },
        // 手机号登录按钮
        mobileLogin(){
            if(this.phoneLock){return}
            this.loginText = '登录中...'
            this.phoneClick = true;
            var url = '/play/login/verifySmsCode.json';
            var params = {
                mobile: this.phoneNum,
				smsVerifyCode: this.phoneCode,
				appKey: this.$store.state.StoreGameInfo.appKey,
				chn: this.$store.state.StoreGameInfo.chn
            }
            this.axios.post(url,qs.stringify(params))
                .then((response) => {
                    this.loginText = '登录';
                    this.phoneClick = false;
                    var resData = response.data;
                    if(resData.result == 1){
                        top.location.href = resData.data.authorizeUrl;
                    }else{
                        this.$Message.info(resData.message)
                    }
                })
                .catch(function(err){
                    this.loginText = '登录';
                    this.phoneClick = false;
                    console.log(err)
                })
        }
        
    }
}
</script>

<style lang="stylus" scoped>
    .phone-container{
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.6);
    }
    .phone-wrapper{
        width: 5.6rem
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
        background-color: #f2f2f2;
        border-radius: 9px;
        .phone-head{
            font-size: 15px;
            border-bottom: 2px solid #e4e4e4;
            padding: .2rem 0;
            text-align: center;
            .phone-logo{
                position: absolute;
                margin-left: .32rem
                margin-top: .04rem
                img{
                    width 1.4rem
                }
            }
        }
        .phone-main{
            padding: 0 .4rem
            .phone-main-tip{
                color: #f15467
                text-align: center;
                margin-top: .1rem
                p {
                    height: 18px;
                    line-height: 18px;
                    font-size: 12px;
                }
            }
            .phone-item{
                padding .1rem 0
                overflow hidden
                width 100%
                input {
                    width: 100%;
                    height: .8rem
                    line-height: .8rem
                    padding: .04rem 0 .04rem .18rem
                    border-radius: 5px;
                    border: 1px solid #c8c8c8;
                    font-size: 14px
                    box-sizing border-box
                }
                .flex-box {
                    width 100%
                }
                .code {
                    width 2rem
                    padding 0 0 0 .3rem
                    img {
                        width 1.7rem
                        margin-top .1rem
                        cursor pointer
                    }
                    .verf{
                        width 1.7rem
                        border-radius: 5px;
                        background-color: #e8e6e6;
                        border: 1px solid #c8c8c8;
                        vertical-align: middle;
                        height: .64rem
                        line-height: .64rem
                        text-align: center;
                        margin-top: .08rem
                    }
                    .disable{
                        color: #bbbec4;
                        background-color: #f7f7f7;
                        border-color: #dddee1;
                    }
                }
            }
            .phone-btns{
                padding .2rem 0
                .phone-btn-tip{
                    font-size: 12px;
                    text-align: center;
                    color: #9b9b9b;
                    padding-bottom: 1px;
                }
                .phone-btn {
                    border-radius: 5px;
                    background-color: #5bbd2a;
                    text-align: center;
                    height: .8rem
                    line-height: .8rem
                    color: #fff;
                    font-size: 16px;

                    letter-spacing: 3px;
                    text-align: center;
                    text-indent: 3px;
                }
                .disable{
                    opacity .5
                }
            }
            .quick-login{
                text-align center
                .quick-tip {
                    line-height initial
                    img {
                        width 100%
                    }
                }
                .quick-wrapper{
                    padding .16rem 0
                    img {
                        width .8rem
                    }
                }
            }
        }
    }
</style>