<template>
    <!-- 返回广告组件、 -->
    <section class="backinfo-container fixed-container" @click.self="close1()">
        <div>
            <div class="bi-banner">
                <a :href="gameUrl">
                	<img :src="url">
                </a>
                <div class="bi-close" @click="close2()">
                	<img src="http://images.1758.com/image/20170406/open_1_7d5d01de5a1350dae381483a4832775a.png" alt="">
                </div>
            </div>
            <div class="bi-btns">
            	<a class="bi-btn" @click.stop="leaveGame()">离开游戏</a>
                <div class="bi-check">
                    <input v-model="check" type="checkbox">
                    <label for="avoidBackConfirm">今日不再提示</label>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import pStore from '@/assets/js/pageBackStore'
    import utils from '@/assets/js/utils'
    export default {
        data(){
            return {
                check:false
            }
        },
        watch:{
            check(value){
                if(value){
                    try{
                        _czc.push(['_trackEvent','不再提示','不再提示',aid]);
                    }catch(err){}
                    pStore.set(this.$store.state.StoreGameInfo.appKey);
                }else{
                    pStore.remove(this.$store.state.StoreGameInfo.appKey)
                }
            }
        },
        computed:{
            gameUrl(){
                return this.$store.state.StoreBackInfo.link;
            },
            url(){
                return this.$store.state.StoreBackInfo.url;
            }
        },
        methods:{
            // 离开游戏
            leaveGame(){
                try{
                    _czc.push(["_trackEvent",'离开游戏','离开游戏',aid]);
                }catch(err){}
                if("" === document.referrer && utils.userAgent.client === 'wx'){
                    window.wx.closeWindow();
                }else{
                    var currentUrl = window.location.href;
                    window.history.back();
                    setTimeout(function(){
                        // if location was not changed in 100 ms, then there is no history back
                        if(currentUrl === window.location.href){
                            // 判断假如是在微信中则使用微信的关闭方法
                            if(utils.userAgent.client === 'weixin'){
                                window.wx.closeWindow();
                            }else{
                                // window.close() 针对一般的窗口 好像无用
                                window.close();
                            }
                        }
                    }, 500);
                }
            },
            // 关闭
            close(){
                this.$parent.StoreBackInfo({isShow:false});
                window.history.pushState({
                    title: document.title,
                    url: location.href
                }, document.title, location.href);
            },
            // 点击背景取消
            close1(){
                try{
                    _czc.push(['_trackEvent','取消弹窗','点击背景取消',aid]);
                }catch(err){}
                this.close();
            },
            // 点击按钮取消
            close2(){
                try{
                    _czc.push(['_trackEvent','取消弹窗','点击按钮取消',aid]);
                }catch(err){}
                this.close();
            }
        }
    }
</script>

<style lang="stylus" scoped>
    .backinfo-container{
        z-index: 9999;
        &>div{
            position: relative;
            z-index: 50;
            width: 6rem
            left: 50%;
            margin-left: -3rem
            top: 50%;
            transform: translateY(-50%);
            background: 0 0;
            animation: fadeInDown .5s linear;
            margin-top: -.3rem;

            .bi-banner{
                overflow hidden
                border-radius 10px 10px 0 0
                img{
                    vertical-align bottom
                    width 100%
                }
            }
            .bi-close{
                position: absolute;
                right: .2rem
                top: .14rem
                padding: .08rem
                color: #fff;
                line-height: 1;
                font-size: 20px
                img {
                    width .4rem
                    vertical-align bottom
                }
            }
            .bi-btns{
                background: #fff;
                border-radius: 0 0 10px 10px;
                text-align: left;
                padding: .22rem .2rem;
                position: relative;
                box-sizing border-box
                .bi-btn{
                    display: inline-block;
                    text-decoration: none;
                    font-size: 14px;
                    padding: .1rem .24rem
                    border: 1px solid #FCA218;
                    color: #FCA218;
                    margin-left: .1rem
                    white-space: nowrap;
                    border-radius: .1rem
                    letter-spacing: 5px;
                }
                .bi-check{
                    color: #777;
                    font-size: 12px;
                    position: absolute;
                    right: .2rem
                    top: 50%;
                    transform: translate(0,-50%);
                    line-height: 1;
                    label{
                        vertical-align middle
                    }
                    input {
                        vertical-align middle
                        font-size 10px
                    }
                }
            }

        }
    }
</style>