<template>
    <!-- 支付组件 -->
    <div style="height: 100%;width: 100%;">
        <iframe id="payFrame" :src="src" height=100% width=100% name="payframe" scrolling="yes" frameborder="0"></iframe>
    </div>
</template>

<script>
    export default {
        computed:{
            src(){
                return this.$store.state.StorePayInfo.payUrl
            }
        },
    }
</script>

