<template>
    <!-- 样式需要再测试 -->
    <div id="shareImgModal" class="" v-if="isShow">
		<div class="mask fixed-container"></div>
		<div class="share-wrapper fixed-container">
			<div class="share-content">
				<div style="pre">
					<p>长按保存图片进行邀请</p>
					<p>邀请的新玩家将会成为您的好友</p>
					<img  :src="url">
				</div>
			</div>
		</div>
	</div>
</template>

<script>
    export default {
        props:{
            isShow:{
                default: false,
                type: Boolean
            },
            url:{
                default: 'http://images.1758.com/image/20170719/open_1_24ac80e5f67e40b8d8e47c8fc60642f2.gif',
                type: String
            }
        }
    }
</script>

<style lang="stylus" scoped>
    .mask {
        z-index: 10;
    }
    .share-wrapper{
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        outline: 0;
        .share-content{
            text-align: center;
            position: relative;
            width: 100%;
            height: 100%;
        }
        .pre{
            width: 80%;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 50%;
            transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -moz-transform: translateY(-50%); 
            -webkit-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            color:#fff;
            img {
                // width: 100%;
                margin-top: 10px;
            }
        }
    }
</style>