<template>
		<share-img :url="url"></share-img>
</template>
<script>
    // 预定义好之后分享图片
    // 该模式是现在后台配置好图片
    // 然后调用从后台获取地址显示

    // 自定义图片分享 就是用户直接传递过来url地址
    import shareImg from './shareImg.vue'
    export default {
        props:{
            type:{
                type: String,
                default: 'pre'
            }
        },
        computed:{
            url(){
                if(this.type === 'pre'){
                    return this.$store.state.StoreImgShareInfo.preUrl;
                }else{
                    return this.$store.state.StoreImgShareInfo.customUrl;
                }
            }
        },
        components:{
            shareImg
        }
    }
</script>