<template>
    <!-- 分享引导弹框 -->
    <div class="share-square" @click="close">
	    <div class="share-box">
	        <img src="http://images.1758.com/image/20161124/open_1_50b53ad143c7d193e61bb9733ceabe5c.png">
	        <span><img class="z" src="http://images.1758.com/image/20161124/open_1_8a3082c3ea9b04e38a8c76d301f5518a.png" alt="">发送微信群或朋友</span>
            <div class="text">每分享邀请到一位从未玩过游戏的好友，即可获得奖励哦</div>
	    </div>
	</div>
</template>

<script>
    export default {
        methods:{
            close(){
                this.$store.commit('StoreShareGuideInfo',{shareGuideShow:false});
            }
        }
    }
</script>

<style lang="stylus" scoped>
    @keyframes icon-bounce {
        0% {
            top: .1rem
        }

        50% {
            top: 0
        }

        100% {
            top: -.1rem;
        }
    }
    .share-square{
        position: fixed;
        background: rgba(0,0,0,.4);
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: 0 auto;
        font-size: 14px;
        color: #fff;
        z-index: 110000;
        font-weight: 700;
        .share-box{
            position: relative;
            top: .1rem;
            &>img{
                position: absolute;
                animation: icon-bounce .2s ease-in-out infinite alternate;
                right: .2rem;
                width: .5rem;
            }
            span{
                position: absolute;
                right: .1rem
                top: 1rem
                img {
                    position: relative;
                    top: .1rem
                    vertical-align: baseline;
                }
            }
        }
        .text{
            top:45%;
            text-align:center;
            position:absolute;
            margin:auto;
            left:0;
            right:0;
            padding:0 30px;
            font-size:22px;
        }
    }
</style>