<template>
    <div v-if="item.command === 'KICKOFF'">
        <div class="sys">{{item.message}}</div>
    </div>
    <div flex v-else-if="!item.fromUserProfile.isHost" class="item o" >
        <div class="left">
            <img :src="item.fromUserProfile.profile.headUrl" alt="用户头像">
        </div>
        <div class="right" flex-box=1>
            <div class="info">
                <span class="name">{{item.fromUserProfile.profile.nickname}}</span>
                <span class="time">{{item.showTime}}</span>
            </div>
            <!-- <div class="content" v-if="item.msgType === 'TEXT'">{{item.content}}</div> -->
            <a :href="item.link" v-if="item.link">
                <div class="content" v-if="item.msgType === 'TEXT'" v-html="item.content"></div>
                <div class="content" v-if="item.msgType === 'IMG'"> 
                    <img :src="item.imgUrl" alt="">    
                </div>
            </a>
            <div v-else>
                <div class="content" v-if="item.msgType === 'TEXT'" v-html="item.content"></div>
                <div class="content" v-if="item.msgType === 'IMG'"> 
                    <img :src="item.imgUrl" alt="">    
                </div>
            </div>
        </div>
    </div>
    <div v-else class="host item" flex="dir:right" >
        <div class="left">
            <img :src="item.fromUserProfile.profile.headUrl" alt="用户头像">
        </div>
        <div class="right" flex-box=1>
            <div class="info">
                <span class="time">{{item.showTime}}</span>
                <span class="name">{{item.fromUserProfile.profile.nickname}}</span>
            </div>
            <a :href="item.link" v-if="item.link">
                <div class="content" v-if="item.msgType === 'TEXT'" v-html="item.content"></div>
                <div class="content" v-if="item.msgType === 'IMG'"> 
                    <img :src="item.imgUrl" alt="">    
                </div>
            </a>
            <div v-else>
                <div class="content" v-if="item.msgType === 'TEXT'" v-html="item.content"></div>
                <div class="content" v-if="item.msgType === 'IMG'"> 
                    <img :src="item.imgUrl" alt="">    
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props:{
        item:{
            type: Object,
            default: function(){
                return {}
            }
        },
        isHost:{
            type: Boolean,
            default: true
        }
    }
};
</script>

<style lang="stylus" scoped>
    .sys{
        font-size 12px
        color #9b9b9b
        text-align center
        padding .1rem 0
    }
    .item {
        padding .1rem .2rem
        width 100%
        box-sizing border-box
        .left {
            img {
                width .8rem
                height .8rem
                line-height 0
                border-radius .08rem
                margin-top .2rem
            }
        }
        .right {
            margin-left .2rem
            vertical-align top
            text-align left
            .info {
                .name {
                    color: #ff668c;
                    font-size: 12px;
                }
                .time {
                    font-size: 9px;
                    color: #bbb;
                    vertical-align: middle;
                    margin-left: 5px;
                }
            }
            .content {
                border: 1px solid #e3e3e3;
                background-color: #fff;
                padding: 6px 8px 5px;
                position: relative;
                border-radius: 4px;
                max-width: 200px;
                margin-top: 2px;
                text-align: left;
                display: inline-block;
                min-width .1rem
                min-height 14px
                &:before,
                &:after{
                    content: "";
                    position: absolute;
                    top: 10px;
                    width: 0;
                    height: 0;
                    border: 6px solid transparent;
                }
                img{
                    width 100%
                }
            }
        }
    }
    .o{
        .right {
            .content{
                &:before{
                    left: -12px
                    border-right-color: #e3e3e3
                }
                &:after{
                    left: -10px
                    border-right-color: #fff
                }
            }
        }
    }
    .host{
        .right {
            text-align right;
            margin-left 0
            margin-right .2rem;
            .content {
                margin: 0 0 0 auto;
                background-color: #fca218;
                color #fff
                &:before{
                    right -12px;
                    border-left-color: #e3e3e3;
                }
                &:after {
                    right -10px
                    border-left-color: #fca218;
                }
            }
        }
    }
</style>
<style lang="stylus">
.content {
    img{
        width 100%!important;
    }
}
</style>
