<template>
    <!-- 浮标聊吧 item -->
    <div class="item">
        <div flex="cross:top box:first">
            <span class="cover">
                <a :href="item.userProfile.profile.homeLink+'&chn='+chn">
                    <img :src="item.userProfile.profile.headUrl">
                </a>
            </span>
            <div class="meta">
                <!-- title部分 -->
                <div class="title">
                    <span :class="sexClass">{{item.userProfile.profile.nickname}}</span>
                    <span v-if="isAdmin" class="user-level admin">
                        管理员
                    </span>
                    <span v-else-if="item.userProfile.vipInfo.vipLevel > 0" class="user-level">
                        {{item.userProfile.vipInfo.vipName}}
                    </span>
                </div>
                <!-- 经验值图像显示 -->
                <div class="explevel">
                    <a :href="'/static/m/exp.html?chn='+chn+'&tp=full&ex1758=1&title=等级加速'">
                        <div v-html="item.userProfile.expInfo.expShowing"></div>
                    </a>
                </div>
                <!-- 帖子内容 -->
                <!-- 小游戏自动生成的ugc -->
                <div class="desc" v-if="item.channelType == 100">
                    <div class="inner-desc">
                        <span class="ranking">
                            <img class="crown" :src="'http://images.1758.com/ranking/sn'+item.commentModule+'.png'" />
                            <img v-if="item.commentModule == 0" class="newrecord" src="http://images.1758.com/ranking/snew.png" />
                        </span>
                        <span class="rank-game">
                            <img :src="item.appInfo.mainPicUrl" />
                            <div class="rank-score">
                                <span class="score">{{item.content}}</span>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="desc" v-else-if="!!item.content">
                    {{item.content}}
                </div>
                <!-- 帖子图片 -->
                <div class="img-container" v-if="item.img.length">
                    <img v-for="(value,index) in item.img" :key="index" :src="value+'?imageView2/2/w/240'" @click="showBigImg(item.img,index)">
                </div>
                <!-- 时间部分 -->
                <div class="time-container" flex="main:justify">
                    <span>{{item.createTime}}</span>
                    <div>
                        <span @click="like(item.id)">
                            <img v-if="item.hasLike" src="http://images.1758.com/game/n-cxihuan-1-tw.png" />
                            <img v-else src="http://images.1758.com/game/n-cxihuan-2-tw.png" />
                            <span>{{item.likeCount}}</span>
                        </span>
                        <span @click="reply([item.id])">
                            <img src=" http://images.1758.com/game/n-cpinglun-2-tw.png " />
                            <span>{{item.replyCount}}</span>
                        </span>
                    </div>
                </div>
                <!-- 回复部分 -->
                <div class="reply-container ">
                    <div></div>
                </div>
                <hlmy-reply :likeList="item.likeList || []" :replyList='item.replies || []' :ugcId="item.id" @reply="reply" :chn="chn"></hlmy-reply>
            </div>
        </div>
    </div>
</template>

<script>

import hlmyReply from './reply'
import utils from '@/assets/js/utils'
import postComment from '@/assets/js/postComment.js'
export default {
    data() {
        return {}
    },
    props: {
        item: {
            type: Object,
            default: {}
        },
        chn: {
            type: String,
            default: ''
        },
        loginUrl: {
            type: String,
            default: `/game/platform/v1.0/user/flogin?appKey=ba0ab54c1eb63a776fa477153a0a354b&chn=${this.chn}`
        }
    },
    components: {
        hlmyReply
    },
    computed: {
        // 用户名性别区分
        sexClass() {
            if (this.item.userProfile.profile.sex == '1') {
                return 'male'
            } else {
                return 'female'
            }
        },
        // 是否是管理员
        isAdmin() {
            if (this.item.userProfile.profile.userId == 5 || this.item.userProfile.profile.userId == 821086 || this.item.userProfile.userId == 7687202) {
                return true;
            } else {
                return false;
            }
        }
    },
    methods: {
        // 显示大图
        showBigImg(imgList, index) {
            if (utils.userAgent.client === 'wx') {
                // 使用微信的查看大图
                wx.previewImage({
                    current: imgList[index], // 当前显示图片的http链接
                    urls: imgList // 需要预览的图片http链接列表
                })
            } else if (utils.userAgent.client == 'client' && utils.userAgent.plat == 'android') {
                // 安卓客户端
                android_tw_imagelistner.showImage(imgList, imgList[index])
            } else {
                // 非微信查看大图
                this.$BigImg(imgList[index])
            }
        },
        // 回复帖子
        reply(args) {
            var name = '', ugcId = '', referUid = '';
            var userProfile = {};
            var self = this;
            if (args.length === 1) {
                name = '回复评论'
                ugcId = args[0]
            } else {
                name = args[0];   //要回复的人的姓名
                ugcId = args[1];  // 回复的评论的主贴的id
                referUid = args[2]; // 要回复的评论的id
                userProfile = args[3]; //要回复的评论人的信息
            }
            this.$Comment({
                title:name,
                success(instance){
                    if (instance.comment.length == 0) {
                        self.$Message.info('内容不能为空！')
                        return;
                    }
                    self.sendComment(ugcId,instance,referUid,userProfile);
                }
            })
        },
        // 发送评论
        sendComment(ugcId,instance,referUid,referUserProfile){
            var _self = this;
            postComment.reply(ugcId, instance.comment, referUid)
                .then((response) => {
                    instance.cancel();
                    var resData = response.data;
                    if (resData.result == 1) {
                        if (!_self.item.replies) {
                            _self.item.replies = [];
                        }
                        var testParams = {
                            content: instance.comment,
                            userProfile: resData.data.userProfile
                        }
                        if (!!referUid) {
                            testParams.referUserProfile = referUserProfile;
                        }
                        _self.$Message.info('回复成功');
                        // 实时显示参数
                        _self.item.replyCount += 1;
                        _self.item.replies.push(testParams);
                    } else if (resData.result == 0 && resData.errorcode == 100) {
                        location.href = _self.loginUrl;
                    } else {
                        _self.$Message.info('回复失败')
                    }
                })
                .catch((err) => {
                    instance.cancel();
                    _self.$Message.info('请求错误')
                })
        },
        // 点赞喜欢
        like(ugcPostId) {
            if (this.item.hasLike) { return; }
            var loadingClose = this.$Message.loading('请求中')
            postComment.like(ugcPostId)
                .then((response) => {
                    loadingClose();
                    var resData = response.data;
                    if (resData.result == 1) {
                        this.item.hasLike = true;
                        this.item.likeCount += 1;
                        this.item.likeList = this.item.likeList || [];
                        this.item.likeList.push(resData.data.userProfile)
                    } else if (resData.result == 0 && resData.errorcode == 100) {
                        location.href = this.loginUrl;
                    } else {
                        this.$Message.info('请求错误');
                    }
                })
                .catch(function(err) { console.log(err) })
        }
    }
}   
</script>

<style lang="stylus">
.explevel {
    img{
        width .32rem
    }
}
</style>

<style lang="stylus" scoped>
    .item{
        background-color #fff
        border-bottom 1px solid #f7f7f7
        padding .24rem .2rem .24rem .18rem
        position relative

        .cover{
            img{
                width .8rem
                height .8rem
                border-radius 5px
            }
        }
        .meta{
            padding-left .2rem
            .title{
                font-size 14px
                word-break break-all
                .male{
                    color #18a3e3
                }
                .female{
                    color #FF538B
                }
                .user-level{
                    background-color red
                    color #fff
                    font-size 10px
                    padding 2px 3px 1px
                    border-radius 2px
                    margin-left 5px
                    vertical-align middle
                }
                .admin{
                    background-color #5bbd2a
                }
            }
            .desc{
                color: #1F1F1F;
                font-size: 14px;
                margin-top: 4px;
                text-overflow: ellipsis;
                white-space: normal;
                word-wrap: break-word;
                word-break: break-word;
                .inner-desc{
                    height 2rem
                    width  100%
                    background-color #2eb3e8
                    position relative
                    .ranking{
                        float left 
                        width 30%
                        height 100%
                        text-align center
                        .crown{
                            width 1.2rem
                            padding-top .6rem
                        }
                        .newrecord{
                            position absolute
                            top 0
                            left 0
                            width 1rem
                        }
                    }
                    .rank-game{
                        float right 
                        width 70%
                        position relative
                        height 100%
                        img{
                            width 100%
                            height 100%
                        }
                        .rank-score{
                            width 100%
                            margin -15px auto 0
                            height .6rem
                            line-height .6rem
                            position absolute
                            top 50%
                            text-align center
                        }
                        .score{
                            background-color: rgba(0,0,0,.5);
                            margin: 0 auto;
                            padding: 5px 10px;
                            border-radius: 5px;
                            color: #fff;
                            font-size: 23px;
                        }
                    }
                }
            }
            .img-container{
                padding-top .16rem
                img{
                    width 50%
                    padding 0 .1rem 0 0
                    box-sizing: border-box;
                }
            }
        }
        .time-container{
            padding .2rem .2rem .2rem 0
            & > span{
                color #9b9b9b
                font-size 12px
            }
            img{
                width .3rem
                vertical-align top
            }
        }
    }
</style>