<template>
    <!-- 热门游戏列表item -->
    <div class="game-container" flex="box:last cross:center">
        <a :href="detailsUrl()">
            <div flex="cross:center" class="game-wrapper">
                <img class="icon" :src="gameIcon" :alt="gameName">
                <div class="meta">
                    <h3 class="title">
                        <div>{{gameName}}</div>
                        <div class="identification" v-if="hasGift">
                            <img src="http://images.1758.com/game/m/lb1.png">
                        </div>
                    </h3>
                    <div class="desc">{{gameDesc}}</div>
                </div>
            </div>
        </a>
        <a class="btn-container" :class="{download:isDownload}" :href="gameUrl+'?chn='+chn+'&tp=fs&ex1758=1&hlmy_ent='+hlmyEnt">
            <div v-if="!isDownload"> 开始
                <i class="icon-chevron-right hlmy-icon"></i>
            </div>
            <div v-else> 下载
                <i class="icon-chevron-right hlmy-icon"></i>
            </div>
        </a>
    </div>
</template>

<script>
export default {
    props: {
        gameIcon: {
            type: String,
            default: ''
        },
        gameName: {
            type: String,
            default: ''
        },
        gameArticleId: {
            type: Number,
            default: 0
        },
        gameUrl: {
            type: String,
            default: ''
        },
        chn: {
            type: String,
            default: ''
        },
        hlmyEnt: {
            type: String,
            default: ''
        },
        gameDesc: {
            type: String,
            default: ''
        },
        hasGift: {
            type: Boolean,
            default: false
        },
        // 是否是下载
        isDownload: {
            type: Boolean,
            default: false
        }
    },
    methods: {
        // 游戏详情页url
        detailsUrl() {
            // 正常url
            if (!this.isDownload) {
                return `/play/game/${this.gameArticleId}?chn=${this.chn}&tp=full&ex1758=1&title=${this.gameName}`
            } else {
                // 下载url
                return this.gameUrl;
            }
        }
    }
}
</script>

<style lang="stylus" scoped>
    .game-container{
        border-bottom 1px solid #f7f7f7
        padding .2rem /* 20/100 */ .3rem /* 30/100 */
        position relative
        background-color #fff
        a{
            text-decoration none
        }
        .icon{
            width 1rem
            border-radius .18rem /* 18/100 */
        }
        .meta{
            padding-left .2rem /* 20/100 */
            overflow hidden
            .title{
                color: #3C3C3C;
                padding-top: 5px;
                margin-bottom: 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-size: 100%;
                font-weight: 400;
                position relative
                div{
                    display inline-block
                }
                .identification{
                    display inline-block
                    img{
                        width: 22px;
                        vertical-align: middle;
                        padding-bottom: 3px;
                        margin-left: 3px;
                    }
                }
            }
            .desc{
                font-size 12px
                color #9b9b9b
                padding-top .06rem /* 6/100 */
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        // 开始按钮
        .btn-container{
            text-decoration none
            div{
                display inline-block
                color #fca218
                padding .08rem /* 8/100 */ .12rem /* 12/100 */
                box-sizing border-box
                text-align center
                border-radius 3px
                border 1px solid #fca218
                font-size 12px
            }
        }
        // 下载游戏
        .download{
            color #23ac38
            border-color #23ac38
        }
    }
</style>
