<template>
    <div class="item">
        <div flex="cross:center main:justify">
            <span class="exclusive-flag" v-if="exclusive"></span>
            <div class="head-wrapper" v-if="item.icon">
                <img :src="item.icon">
            </div>
            <div flex-box="1" class="content">
                <a :href="'/play/gift/'+item.id+'?chn='+chn+'&tp=full&ex1758=1&title=礼包详情'">
                    <div class="title">{{name}}</div>
                    <div v-if="state == 1">
                        <div class="fail">开启时间：{{bt}}</div>
                    </div>
                    <div v-else-if="state == 2">
                        <div class="progress-bar">
                            <div class="progress-active" :style="{width: activePer + '%'}"></div>
                        </div>
                        <div class="left">剩余{{activePer}}%</div>
                    </div>
                    <div v-else-if="state == 3">
                        <div class="fail">{{leftMinutes}}分钟后开启淘号</div>
                    </div>
                    <div v-else-if="state == 4">
                        <div class="fail">已淘{{taoNum}}次</div>
                    </div>
                    <div class="fail" v-else-if="state == 5">
                        <div>敬请期待下次活动</div>
                    </div>
                </a>
            </div>
            <div class="btn-wrapper">
                <div class="noopen" v-if="state == 1">未开放</div>
                <div v-else-if="state == 2" class="btn linghao" @click="linghao">
                    领号
                    <i class="icon-chevron-right hlmy-icon"></i>
                </div>
                <div class="fail" v-else-if="state == 3">
                    已领完
                </div>
                <div v-else-if="state == 4" class="btn taohao" @click="taohao">
                    淘号
                    <i class="icon-chevron-right hlmy-icon"></i>
                </div>
                <div class="fail" v-else-if="state == 5">已结束</div>
            </div>
        </div>
    </div>
</template>

<script>
import utils from '@/assets/js/utils.js'
export default {
    data() {
        return {
            // 当前时间
            nt: new Date().getTime(),
            // 剩余开启淘号时间
            leftMinutes: '',
            // 活动开启时间
            bt: '',
            // 领号还剩余百分比
            activePer: ''
        }
    },
    props: {
        chn: {
            type: String,
            default: ''
        },
        loginUrl: {
            type: String,
            default: `/game/platform/v1.0/user/flogin?appKey=ba0ab54c1eb63a776fa477153a0a354b&chn=${this.chn}`
        },
        icon:'',
        link:'',
        name:'',
        taoNum: 0,
        leftNum: 0,
        num: 0,
        beginTime: 0,
        endTime:0,
        updateTime: 0,
        item: {
            type: Object,
            default: {}
        }
    },
    computed: {
        // 是否专属礼包
        exclusive() {
            // 是否为专属礼包   1是专属   0是普通
            return this.item.status == 1;
        },
        // 礼包状态
        state() {
            var item = this.item;
            var nowtime = new Date().getTime();
            if (this.beginTime > nowtime) {
                // 未开放
                this.bt = utils.dateFormat(this.beginTime, 'MM-dd hh:mm');
                return 1
            } else if (this.endTime < nowtime) {
                // 已结束
                return 5;
            } else {
                if (this.leftNum > 0) {
                    // 可以领取
                    this.activePer = Math.ceil(this.leftNum * 100 / this.num);
                    return 2;
                } else if (this.updateTime && this.leftNum < 1 && (nowtime - this.updateTime) < 60 * 60 * 1000) {
                    // 即将开始淘号
                    this.leftMinutes = 60 - Math.ceil((this.nt - this.updateTime) / (60 * 1000))
                    return 3;
                } else {
                    // 淘号
                    return 4;
                }
            }
        }
    },
    methods: {
        // 领号
        linghao() {
            var item = this.item;
            if (this.exclusiveTip()) {
                return;
            }
            var url = '/game/api/app/gif/apply';
            var params = { gifId: item.id }
            var loadingClose = this.$Message.loading('领取中...')
            this.axios.get(url, { params: params })
                .then((response) =>{
                    var resData = response.data;
                    loadingClose();
                    if (resData.code == -1) {
                        // 未登录
                        location.href = this.loginUrl;
                    } else if (resData.code == 0) {
                        // 领号成功
                        location.href = `/play/gift/${item.id}?cdkey=${resData.cdkey}&chn=${this.chn}&flag=0&exclusive=${item.status}&tp=full&ex1758=1&title=领号成功`
                    }
                })
                .catch(function(err) { console.log(err) })
        },
        // 淘号
        taohao() {
            var item = this.item;
            if (this.exclusiveTip()) {
                return;
            }
            var loadingClose = this.$Message.loading('淘号中...')
            var url = '/game/api/app/gif/tao';
            var params = { gifId: item.gift.id };
            this.axios.get(url, { params: params })
                .then((response) =>{
                    var resData = response.data;
                    loadingClose();
                    if (resData.code == -1) {
                        // 未登录
                        location.href = this.loginUrl;
                    } else if (resData.code == 0) {
                        // 淘号成功
                        location.href = `/play/gift/${item.gift.gid}?cdkey=${resData.cdkey}&chn=${this.chn}&flag=0&exclusive=${item.status}&tp=full&ex1758=1&title=淘号成功`
                    }
                })
                .catch(function(err) { console.log(err) })
        },
        // 专属礼包点击提示
        exclusiveTip() {
            if (this.exclusive && utils.userAgent.client != 'client') {
                this.$Modal.show('专属礼包需要在客户端领取');
                return true;
            } else {
                return false;
            }
        }
    }
}
</script>

<style lang="stylus" scoped>
    .item{
        padding .2rem .3rem
        border-bottom 1px solid #f7f7f7
        position relative
        .exclusive-flag{
            background-image url(http://wx.1758.com/game/h5/images/exclusive.png)
            background-repeat no-repeat
            position absolute
            width .4rem
            height .4rem
            right 0
            background-position initial
            background-size cover
            top 0
        }
        .head-wrapper{
            padding-right .2rem
            img {
                width 1rem
                border-radius 5px
            }
        }
        .content{
            overflow hidden
            a{
                text-decoration none
                color inherit
            }
        }
        .title{
            overflow hidden
            white-space nowrap
            text-overflow ellipsis
            padding-top .1rem
            padding-bottom .1rem
        }
        .fail{
            font-size 12px
            color #a7a7a7
        }
        .progress-bar{
            display inline-block
            width 3rem
            height 5px
            border 1px solid #eaeded
            border-radius 5px
            box-sizing border-box
            .progress-active{
                box-sizing border-box
                background-color #fca218
                height 4px
                border-radius 5px
                width 80%
            }
        }
        .left{
            font-size 12px
            display inline
            color #fca218
            margin-left .1rem
        }
        .btn-wrapper{
            width 1.2rem
            text-align right
        }
        .btn{
            padding: 3px 5px 2px;
            box-sizing: border-box;
            text-align: center;
            border-radius: 3px;
            font-size: 12px;
            // width .92rem
            display inline-block
        }
        .linghao{
            color #fca218
            border: 1px solid #fca218;
        }
        .taohao{
            color #a7a7a7
            border 1px solid #a7a7a7
        }
        .end-time{
            color #a7a7a7
            font-size 12px
        }
    }
</style>
