<template>
    <!-- 聊吧内容回复组件 -->
    <div class="reply-containier" v-if="!isShowAll">
        <div class="mask">
            <div></div>
        </div>
        <!-- 点赞头像 -->
        <div class="like-container" v-if="!isShowLike">
            <div class="flag">
                <img src="http://images.1758.com/game/n-cxihuan-2-tw.png">
            </div>
            <div class="like-wrapper">
                <div>
                    <a :href="item.profile.homeLink+'&chn='+chn" v-for="(item,index) in likeList" :key="index" v-show="isLikeGone(index)">
                        <img :src="item.profile.headUrl" alt="1758微游戏">
                    </a>
                    <a class="mess-more" @click="showAllLike()" v-if="likeList.length > showLikeNum">
                        •••
                    </a>
                </div>
            </div>
        </div>
        <!-- 回复内容 -->
        <div class="content-container" v-if="!isShowReply">
            <div class="flag">
                <img src="http://images.1758.com/game/n-cpinglun-2-tw.png">
            </div>
            <div class="mess-more" v-if="replyList.length > showNum" @click="showAll">
                ••• 查看更多内容
            </div>
            <div v-for="(item ,index) in replyList" :key="index" class="mess" v-show="isGone(index)">
                <div v-if="item.referUserProfile != undefined">
                    <a class="name" :href="item.userProfile.profile.homeLink+'&chn='+chn">
                        {{item.userProfile.profile.nickname}}
                    </a>回复
                    <a class="name" :href="item.referUserProfile.profile.homeLink+'&chn='+chn">{{item.referUserProfile.profile.nickname}}</a>:
                    <a class="reply" @click="reply(item.userProfile)">{{item.content}}</a>
                </div>
                <div v-else>
                    <a class="name" :href="item.userProfile.profile.homeLink+'&chn='+chn">
                        {{item.userProfile.profile.nickname}}
                    </a>:
                    <a class="reply" @click="reply(item.userProfile)">{{item.content}}</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import postComment from '@/assets/js/postComment.js'
export default {
    data() {
        return {
            // 回复内容显示数目
            showNum: 10,
            // 点赞头像显示数目
            showLikeNum: 20
        }
    },
    props: {
        // 点赞list
        likeList: {
            type: Array,
            default: []
        },
        // 回复list
        replyList: {
            type: Array,
            default: []
        },
        // 主贴id
        ugcId: {
            type: Number,
            default: null
        },
        chn: {
            type: String,
            default: ''
        }
    },
    computed: {
        isShowAll() {
            if (this.likeList.length == 0 && this.replyList.length === 0) {
                return true;
            } else {
                return false;
            }
        },
        isShowLike() {
            if (this.likeList.length === 0) {
                return true;
            } else {
                return false;
            }
        },
        isShowReply() {
            if (this.replyList.length === 0) {
                return true;
            } else {
                return false;
            }
        }
    },
    methods: {
        // 回复是否显示更多内容
        isGone(index) {
            if (index < this.replyList.length - this.showNum) {
                return false;
            } else {
                return true;
            }
        },
        // 显示所有的回复
        showAll() {
            this.showNum = this.replyList.length;
        },
        // 点赞头像是否显示更多内容
        isLikeGone(index) {
            if (index < this.likeList.length - this.showLikeNum) {
                return false;
            } else {
                return true;
            }
        },
        // 显示所有的点赞头像
        showAllLike() {
            this.showLikeNum = this.likeList.length;
        },
        
        /**
         *  
         * name  回帖的人姓名
         * ugcId  主贴id
         * referUid  要回复的评论的id
         * userProfile  要回复的评论人的信息
         */
        reply(userProfile) {
            this.$emit('reply', [`回复${userProfile.profile.nickname}`, this.ugcId, userProfile.profile.userId, userProfile])
        }
    }
}
</script>

<style lang="stylus" scoped>
    .reply-containier{
        position relative
    }
    .mask{
        width: 16px;
        height: 8px;
        position: absolute;
        top: -9px;
        left: 30px;
        // z-index: 1;
        div{
            transform: rotate(45deg);
            width: 10px;
            height: 10px;
            margin: 4px 0 0 3px;
            background-color: #f7f7f7;
        }
    }
    // 点赞内容
    .like-container{
        position relative
        padding .1rem .12rem 0
        background-color #f7f7f7
        .like-wrapper{
            padding-bottom .1rem
            border-bottom 1px solid rgba(230,230,230,.5)
            img {
                width: .6rem;
                margin: .1rem .06rem 0;
                height: .6rem;
                vertical-align: bottom;
            }
        }
        .mess-more{
            font-size 14px
            color #18A3E3
            padding-bottom 6px
            text-align center
            height 100%
            width .6rem
            display inline-block
        }
    }
    .flag{
        position absolute
        left -20px
        img{
            width .24rem
        }
    }
    // 回复内容
    .content-container{
        background-color #f7f7f7
        position relative
        padding .2rem .2rem .12rem
        .mess-more{
            font-size: 14px;
            color: #18A3E3;
            padding-bottom: 6px;
            text-align center
        }
        .mess{
            font-size 12px
            margin-bottom .08rem
            .name{
                color #18A3E3
                cursor pointer
                text-decoration none
                font-size 12px
            }
            .reply{
                word-wrap break-word
                word-break break-all
            }
        }
    }
</style>
