@charset "utf-8";

/**
//
//                   _ooOoo_
//                  o8888888o
//                  88" . "88
//                  (| -_- |)
//                  O\  =  /O
//               ____/`---'\____
//             .'  \\|     |//  `.
//            /  \\|||  :  |||//  \
//           /  _||||| -:- |||||-  \
//           |   | \\\  -  /// |   |
//           | \_|  ''\---/''  |   |
//           \  .-\__  `-`  ___/-. /
//         ___`. .'  /--.--\  `. . __
//      ."" '<  `.___\_<|>_/___.'  >'"".
//      | | :  `- \`.;`\ _ /`;.`/ - ` : | |
//     \  \ `-.   \_ __\ /__ _/   .-` /  /
//======`-.____`-.___\_____/___.-`____.-'======
//                   `=---='
//
//.............................................
//         佛祖保佑                  BUG辟易
//         心外无法                  法外无心
// 佛曰:
//         写字楼里写字间，写字间里程序员；
//         程序人员写程序，又拿程序换酒钱。
//         酒醒只在网上坐，酒醉还来网下眠；
//         酒醉酒醒日复日，网上网下年复年。
//         但愿老死电脑间，不愿鞠躬老板前；
//         奔驰宝马贵者趣，公交自行程序员。
//         别人笑我忒疯癫，我笑自己命太贱；
//         不见满街漂亮妹，哪个归得程序员？
*/

html {
    height: 100%;
}

body {
    height: 100%;
}

.loading-div {
    width: 100%;
    height: 100%;
    background: #71a540;
}

.inner-loading {
    text-align: center;
    padding-top: 20%;
}

.inner-loading>img {
    width: 65%;
    max-width: 210px;
}

.p-loading {
    color: #c1f393;
    margin-top: 20px;
}

.text-loading {
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
}

.iframe {
    margin: 0;
    padding: 0;
    display: none;
    height: 100%;
    width: 100%;
    width: 100px;
    min-width: 100%;
    height: 100px;
    min-height: 100%;
    box-sizing: border-box;
    border: 0;
}


/*登录小提示*/

.logtip {
    display: none;
    width: 100%;
    position: absolute;
    margin-top: 10px;
    z-index: 5;
}

.logtip>img {
    width: 80px;
    margin-left: 3%;
}

.logtip .wrap {
    width: 95%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    line-height: 40px;
    /* //color: rgb(91,189,42); */
    font-size: 14px;
    height: 40px;
}

.logtip .close {
    width: 40px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.logtip .close img {
    width: 20px;
    vertical-align: text-bottom;
}

.tip-log {
    display: inline-block;
    float: right;
    margin-right: 5px;
}

.tip-log>span {
    padding: 5px 10px;
    border: 1px solid #71a540;
    border-radius: 3px;
    font-size: 12px;
    color: #71a540;
}

#countdown {
    color: red;
}


/*登录弹出框*/

.login-bc {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.login-main {
    width: 80%;
    max-width: 300px;
    position: absolute;
    top: 30%;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 10px;
}

.login-main .headimg {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 7px;
    margin-right: 0px
}

.login-main .tip-1 {
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 10px;
}

.login-main .tip-2 {
    text-align: center;
    color: gray;
    font-size: 14px;
    margin: 10px;
}

.login-main .wxlogin {
    display: none;
}

.l-img a {
    color: #fff;
}


/*浮标样式*/

.moban {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, .6);
}

.modalframe {
    height: 100%;
    box-sizing: border-box;
    border: none;
    min-width: 85%;
    width: 100px;
    *width: 85%;
    display: block;
}

.modal-flag {
    position: fixed;
    left: 0;
    top: 50px;
    display: none;
}

.modal-flag .point {
    top: 0px;
    font-size: 15px;
}

.modal-flag img {
    width: 50px
}

.modal-left {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0px;
    width: 15%;
    height: 100%;
}

.modal-left img {
    width: 20px;
    position: absolute;
    top: 50%;
    margin-top: -29px;
}

.modal-flag .point {
    position: absolute;
    color: red;
    top: 10px;
    left: 35px;
    font-size: 14px;
}