@charset "utf-8";
.pure-g{
	letter-spacing: -.31em;
    text-rendering: optimizespeed;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
    -ms-align-content: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
}
.pure-u-1-4{
	width: 25%;
}

/**********************************
 * 弹出框头部
 **********************************/
.weui_dialog_hd{
	position: relative;
}
.weui_dialog_hd:after{
	content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #D5D5D6;
    color: #D5D5D6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.weui_dialog_title img{
	width: 90px;
}
/**********************************
 * 弹出框body
 **********************************/
.weui_dialog_bd{
	padding-top: 20px;
	padding-bottom: 20px;
}

.weui_dialog_modal .weui_dialog .weui_dialog_bd {
    text-align: left;
}
.weui_dialog_modal .weui_dialog_ft a {
    position: relative;
}
.weui_dialog_modal .weui_dialog_ft a:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    border-left: 1px solid #D5D5D6;
    color: #D5D5D6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}
.weui_dialog_ft{
	margin-top: 0;
}
/**********************************
 * toast
 **********************************/
.weui_tip_toast{
	min-height: 0;
}
.weui_tip_toast .weui_toast_content{
	margin: 10px 0;
}

/**********************************
 * comment
 **********************************/
/*.weui_dialog_comment .weui_dialog_bd:after{
	content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #d5d5d6;
    color: #d5d5d6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}*/
.weui_dialog_comment .weui_dialog_bd{
	padding: 0;
	position: relative;
}
.weui_dialog_textarea{
	width: 100%;
	box-sizing: border-box;
	resize: none;
	border: none;
	border-radius: 3px;
    padding: 6px 10px;
    vertical-align: bottom;
    min-height: 115px;
}
.weui_dialog_textarea:focus{
	border: none;
}
.weui_dialog_comment_ft{
	margin-top: 0;
}

.weui_dialog_comment .img-wrapper{
	margin-top: 10px;
}
.weui_camera .imgitem{
	display: inline-block;
    position: relative;
    margin-top: 5px;
    width: 80%;
    text-align: center;
}
.weui_camera .imgitem img{
	vertical-align: bottom;
    width: 100%;
}