<template>
    <div class="container">
        <loading v-if="loadingShow"></loading>
        <hlmy-game
			:game-url="gameInfo.url"
			:width-height="widthHeight"
			:pay-show = "payInfo.isShow"
			:pay-url="payInfo.url"
            @loadEnd="gameLoadEnd"
	  	></hlmy-game>
        <modal-back 
            @click="closeModalBack" 
            v-if="modalBackShow" 
            :imgUrl="gameInfo.iconUrl"
            ></modal-back>

    </div>
</template>

<script>
    import HlmyGame from '../../components/GameMini'
    // 返回提示
    import ModalBack from '../../components/ModalBack.vue'
    import Loading from '../../components/Loading'
    import pageBack from '@/assets/js/pageBack.js'
    export default {
        data(){
            return {
                //   游戏地址
                gameInfo:{
                    url:'',
                    appKey:'',
                    hlmy_from:'',
                    iconUrl:''
                },
                payInfo:{
                    //   是否显示支付页面
                    isShow:false,
                    url:'',
                    forceEnable: false,
                    version: '',
                    forceVersion:''
                },
                backTime: 0,
                // 宽高设置
                widthHeight:null,
                modalBackShow: false,
                loadingShow: true
            }
        },
        created(){
            // 数据初始化
            this.init();
            setTimeout(() => {
                this.setFrameHeight();
                this.resize();
            },100);
            // 页面之间通讯初始化
            this.cpInfoPostInit();
            // 返回初始化
            pageBack.init(() => {
                this.modalBackShow = true;
            });

            // 设置显示返回信息的time时间
            setInterval( () => {
                this.modalBackShow = true;
            },this.backTime)

            // 设置loading最大时间
            setTimeout(() => {
                this.loadingShow = false;
            }, 4000);
        },
        methods:{
            // 初始化数据
            init(){
                this.gameInfo.appKey = HLMY_CONFIG.GAME_INFO.appKey;
                this.gameInfo.url = HLMY_CONFIG.GAME_INFO.cpGameUrl;
                this.gameInfo.hlmy_from = HLMY_CONFIG.GAME_INFO.hlmy_from;
                this.gameInfo.iconUrl = HLMY_CONFIG.GAME_INFO.iconUrl;
                this.payInfo.forceEnable =  HLMY_CONFIG.PAY_INFO.forceEnable;
                this.payInfo.version = HLMY_CONFIG.PAY_INFO.version;
                this.payInfo.forceVersion = HLMY_CONFIG.PAY_INFO.forceVersion;
                this.backTime = HLMY_CONFIG.BACK_INFO.time;
            },
            //初始化与cp之间的信息交流
            cpInfoPostInit() {
                if (typeof window.addEventListener != 'undefined') {
                    window.addEventListener('message', this.receiveCpInfo, false);
                } else if (typeof window.attachEvent != 'undefined') {
                    window.attachEvent('onmessage', this.receiveCpInfo);
                }
            },
            // 处理iframe之间的通讯
            receiveCpInfo(evt){
                var dataInfo = evt.data;
                if (dataInfo.hlmy) {
                    //接受cp信息
                    if (dataInfo.type == 'pay' && dataInfo.value.fn == 'payInfo') {
                        var para = dataInfo.value.args;
                        this.handlePayInfo(para);
                    } else if (dataInfo.type == 'pay' && dataInfo.value.fn == 'payCancleBack') {
                        this.payInfo.isShow = false;
                    }
                }
            },
            // 处理支付信息
            handlePayInfo(para){
                var rcontentime = '&rcontentimeId=' + Math.ceil(Math.random() * 1000000);
                //支付页面有多个（需要根据不同的情况判断）
                var version = this.payInfo.version; //默认支付版本
                var urlPara = '';
                if (this.payInfo.forceEnable) {
                    //使用强制支付版本
                    version = this.payInfo.forceVersion;
                }
                // 参数拼接
                for (var p in para) {
                    if (para.hasOwnProperty(p)) {
                        if (p == 'appKey') {
                            continue;
                        } else {
                            urlPara += '&' + p + '=' + para[p];
                        }
                    }
                }

                if (version == 3) {
                    this.payInfo.url = `//wx.1758.com/pay/buy?hlmy_from=${this.gameInfo.hlmy_from}&v1758=3&appKey=${this.gameInfo.appKey}${urlPara}${rcontentime}`;
                    this.payInfo.isShow = true;
                } else if (version == 2) {
                    top.window.location.href = `//wx.1758.com/pay/buy?hlmy_from=${this.gameInfo.hlmy_from}&appKey=${this.gameInfo.appKey}${urlPara}${rcontentime}`;
                } else {
                    this.payInfo.url = `//wx.1758.com/pay/payChoice?hlmy_from=${this.gameInfo.hlmy_from}${urlPara}${rcontentime}`
                    this.payInfo.isShow = true;
                }
            },
            resize(){
                window.addEventListener('resize',this.setFrameHeight)
            },
            setFrameHeight(){
                var height = document.body.clientHeight;
                var width = document.body.clientWidth;
                this.widthHeight = {
                    height: `${height}px`,
                    width: `${width}px`
                }
            },
            // 关闭返回弹框
            closeModalBack(){
                this.modalBackShow = false;
            },
            // 游戏加载完成
            gameLoadEnd(){
                this.loadingShow = false;
            }
        },
        components:{
            HlmyGame,
            ModalBack,
            Loading
        }
    }
</script>
<style lang="stylus">
    html,body{
        height 100%
        width 100%
        max-width 640px
        margin auto
    }
    .fixed-container{
        position fixed
        left 0
        right 0
        top 0
        bottom 0
        background-color rgba(0,0,0,.6)
        z-index 100
        width 100%
        height 100%
        max-width 640px
        margin auto
    }
</style>
<style lang="stylus" scoped>
    .container{
        width 100%
        height 100%
        background: no-repeat;
        background-position-y: 29px;
        background-size: 100% 100%;
    }
</style>

