<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>
        <%=title%>
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="full-screen" content="true" />
    <meta name="screen-orientation" content="portrait" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="360-fullscreen" content="true" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="cache" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <link rel="shortcut icon " href="http://images.1758.com/images/48.ico">
    <link rel="stylesheet" type="text/css" href="http://qq.topyouxi.cn/static/ranking/dist/css/hlmyback_1_0.css">
    <style type="text/css" media="screen">
    </style>
</head>

<body>
    <section id="hbiBackInfo" class="hbi-backinfo">
        <div id="hbiExitModal" class="hbi-back-modal">
            <div id="hbiExitDialog" class="hbi-exit-dialog">
                <div class="hbi-title">
                	<span>这些游戏更好玩！</span>
                	<img id="hbiCancelButton" class="hbi-cancel-button" src="http://h5.longdichuanshuo.com/sdk/img/cancel.png">
            	</div>
                <div id="hbiGameContainer" class="hbi-flex-wrapper hbi-back-container">
                    <div class="hbi-flex-item">
                        <a onclick="_czc.push(['_trackEvent','进入游戏', '城市消消乐','113246']);" href="http://wx.topyouxi.cn/hlmy/ranking/csxxl/"><img src="http://images.1758.com/article/image/2016/01/27/62551453882196801.png"></a>
                        <p>城市消消乐</p>
                    </div>
                    <div class="hbi-flex-item">
                        <a onclick="_czc.push(['_trackEvent','进入游戏', '方块英雄','113246']);" href="http://wx.topyouxi.cn/hlmy/ranking/fkyx/game.html"><img src="http://images.1758.com/article/image/2016/06/24/13041466734370410.jpg"></a>
                        <p>方块英雄</p>
                    </div>
                    <div class="hbi-flex-item">
                        <a onclick="_czc.push(['_trackEvent','进入游戏', '移个球','113246']);" href="http://wx.topyouxi.cn/hlmy/ranking/ygq/"><img src="http://images.1758.com/article/image/2016/06/23/9331466667469756.jpg"></a>
                        <p>移个球</p>
                    </div>
                    <div class="hbi-flex-item">
                        <a onclick="_czc.push(['_trackEvent','进入游戏', '六角消除','113246']);" href="http://wx.topyouxi.cn/hlmy/ranking/ljxc/"><img src="http://images.1758.com/article/image/2016/01/27/70251453883090786.png"></a>
                        <p>六角消除</p>
                    </div>
                </div>
                <div class="hbi-footer">
                    <button id="hbiFollow" class="hbi-exit-button">收藏我们</button>
                    <button id="hbiExit" class="hbi-exit-button">仍要离开</button>
                    <div class="hbi-remind-back-confirm">
                        <input type="checkbox" id="avoidBackConfirm">
                        <label for="avoidBackConfirm">今日不再提示</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="hbi-back-modal gone" id="hbiEWMWrapper">
            <div class="hbi-ewm-wrapper"><img src="http://images.1758.com/game/m/ewn_1.png"></div>
        </div>
    </section>
</body>

</html>
