<template>
    <transition name="hlmy">
        <div v-if="show" class="hlmy">
            <div class="hlmy-box">
                <div class="hlmy-box-inner">
                    <!--标题-->
                    <div class="hlmy-title" v-if="title">{{title}}</div>
                    <!--内容-->
                    <div class="hlmy-content">{{content}}</div>
                </div>
                <!--按钮-->
                <div class="hlmy-box-buttons" v-if="buttons.length">
                    <span class="hlmy-btn" :class="item.class" @click="custtom(item.fn)" v-for="(item,index) in buttons" :key="index">{{item.text}}</span>
                </div>
                <div class="hlmy-box-buttons" v-else>
                    <span class="hlmy-btn btn-cancel" @click="cancel" v-if="cancelText">{{cancelText}}</span>
                    <span class="hlmy-btn btn-success" @click="success" v-if="submitText">{{submitText}}</span>
                </div>
            </div>
        </div>
    </transition>
</template>
<script>
    export default {
        data () {
            return {
                name:'hlmy-comfirm',
                show: false,
                title: '提示',
                content: '',
                submitText: '',
                cancelText: '',
                buttons:[]
            }
        },
        computed: {},
        mounted () {
        },
        methods: {
            close(){
                this.show = false;
            },
            //确定按钮事件
            success () {
                this.show = false;
            },
            //取消按钮事件
            cancel () {
                this.show = false;
            },
            custtom(fn){
                if(typeof fn === 'function'){
                    fn.apply(this,arguments);
                }
            }
        }
    }
</script>
<style lang="stylus" scoped>
    .hlmy {
        background: rgba(00, 00, 00, .5);
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        .hlmy-box {
            width: 80%;
            max-width: 400px;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            background: #fff;
            box-sizing: border-box;
            padding: 20px;
            border-radius: 6px;

        }
        .hlmy-title {
            padding-left: 0;
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 700;
            height: 18px;
            color: #333;
        }
        .hlmy-content {
            padding: 14px 0;
            line-height: 24px;
            color: #48576a;
            font-size: 14px;
        }
        .hlmy-box-buttons {
            text-align: right;
        }
        .hlmy-btn{
            display: inline-block;
            line-height: 1;
            white-space: nowrap;
            cursor: pointer;
            border: 1px solid #fff;
            color: #1f2d3d;
            margin: 0;
            padding: 10px 15px;
            border-radius: 4px;
            margin-left: 10px;
        }
        .btn-success {
            background: #20a0ff;
            border-color: #20a0ff;
            color: #fff;
        }
        .btn-cancel {
            background: #fff;
            border: 1px solid #c4c4c4;
            color: #1f2d3d;
        }
    }
    .hlmy-enter {
        opacity: 0;
        .hlmy-box {
            transform:scale(0);
        }
    }

    .hlmy-enter-active {
        transition: opacity .4s;
        .hlmy-box {
            transition: transform .4s;
        }
    }
    .hlmy-leave-active{
        transition: opacity .2s;
        .hlmy-box {
            transition: transform .2s;
        }
    }
    .hlmy-leave-active {
        opacity: 0;
    }
</style>