@charset "utf-8";
/**
 *	返回按钮
 * 
 */
.hbi-flex-wrapper{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.hbi-flex-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.hbi-back-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: none;
    background-color: rgba(0,0,0,.4);
}
.hbi-exit-dialog {
    margin: auto;
    margin-top: 50%;
    padding: 14px 0 14px;
    text-align: center;
    width: 90%;
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
}
.hbi-title{
	position: relative;
}
.hbi-title>span{
	font-size: 17px;
	line-height: 20px;
	height: 20px;
}
.hbi-cancel-button {
    position: absolute;
    width: 14px;
    padding: 10px 10px 20px 20px;
    top: -14px;
    right: 0;
}
.hbi-back-container {
    padding: 0 10px 10px;
}
.hbi-back-container div {
    display: inline-block;
    width: 24%;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
}
.hbi-back-container div>a>img {
    width: 80%;
    margin-top: 10px;
    border-radius: 9px;
}
.hbi-back-container div>p {
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 0;
    color: #1f1f1f;
    height: 24px;
    padding: 0 5px;
    line-height: 12px;
}
.hbi-remind-back-confirm {
    /*position: absolute;*/
    right: 10px;
    top: 4px;
    color: #777;
    font-size: 14px;
    margin-top: 10px;
}
.hbi-exit-button {
    padding: 7px 15px;
    border-radius: 5px;
    color: #fff;
    background-color: #f45212;
    border: none;
    margin: 0 20px;
}
.hbi-exit-button a{
	color: #fff;
}
.hbi-remind-back-confirm input {
    cursor: pointer;
}
.hbi-remind-back-confirm label {
    cursor: pointer;
}
.hbi-ewm-wrapper{
	text-align: center;
	margin-top: 36%;
}
.hbi-ewm-wrapper img{
	width: 80%;
}
.hbi-backinfo{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 500;
}
