/**
 * 游戏内部分享提示展示页面的样式
 */
@charset "utf-8";
.share-tip{
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,1);
	color: #fff;
	z-index: 1000;
}
.inner-share-tip{
	margin-top: 30%;
}
.s-c-num1{
	color: #00b0f2;
	text-align: left;
}
.s-c-num2{
	color: #ffa016;
}
.s-title-big{
	font-size: 22px;
}

.share-num{
	margin-top: 10px;
}
.share-num > div{
	padding: 2px 0;
}
.text-l{
	text-align: right;
}
.share-arrow{
	position: absolute;
	top: 15px;
	right: 15px;
}
.share-arrow img{
	vertical-align: bottom;
	width: 50px;
}
.s-no-wx{
	margin-top: 30px;
}
.reward-wrapper p{
	padding: 3px 0;
}