/**
 *	游戏启动页面的动画 
 */
@media screen and (min-width: 100px) and (max-width:640px) {
    .loading-logo{
        width:100%;
        position: relative;
    }
}

@media screen and (min-width: 640px) {
    .loading-logo{
        width:640px;
        margin: 0 auto;
        position: relative;
    }
}
.loading-div {
    background: #fff;
}
.main-scale {
	width: 100%;
	height: 21.48148148148148rem;
	position: absolute;
	top: 3.2407407407407405rem;
	text-align: center;
	overflow: hidden;
	padding-top: 0;
}

.main-scale h1 {
	font-size: 1.125925925925926rem;
	color: #4c4c4c;
	margin-bottom: .4740740740740741rem
}

.main-scale h2 {
	font-size: .7111111111111111rem;
	color: #777
}

.main-scale .image {
	position: relative;
	width: 10.162962962962963rem;
	height: 8.088888888888889rem;
	background: url(http://images.1758.com/festival/gbody1.png) no-repeat;
	background-size: 100%;
	margin: 2.7555555555555555rem auto;
	/*left: .5037037037037037rem*/
}

.main-scale .image .ct {
	width: 3.4962962962962965rem;
	height: 3.4962962962962965rem;
	background: url(http://images.1758.com/festival/gs7.png) no-repeat;
	background-size: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -2.2962962962962963rem;
	margin-top: -2.362962962962963rem
}

.main-scale .image .ct .shadow {
	/*box-shadow: 0 0 .8888888888888888rem #60f3e3*/
}

.main-scale .image .line-group {
	position: relative;
	top: 5.62962962962963rem;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotate(-33deg)
}

.main-scale .image .line .l .imgs .img,
.main-scale .image .line .l .imgs .shadow {
	width: 100%;
	height: 100%;
	-webkit-transform: rotate(33deg)
}

.main-scale .image .shadow {
	display: block;
	width: 98%;
	height: 98%;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-animation: breath 4.5s linear 0s infinite;
	-webkit-border-radius: 100%
}

.main-scale .image .line {
	border-radius: 100%;
	position: absolute;
	left: 50%;
	top: 50%
}

.main-scale .image .line .l {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 100%
}

.main-scale .image .line .l .imgs {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -.4444444444444444rem;
	margin-top: -.4444444444444444rem
}

.main-scale .image .line .l .imgs .img {
	position: absolute;
	left: 0;
	top: 0;
	background-size: 100% 100%
}

.main-scale .image .line.l0 {
	width: 8rem;
	height: 4.444444444444445rem;
	margin-left: -2.962962962962963rem;
	margin-top: -3.7925925925925927rem
}

.main-scale .image .line.l0 #roate_1 {
	width: 1.8074074074074074rem;
	height: 1.8074074074074074rem
}

.main-scale .image .line.l0 #roate_1 .img,
.main-scale .image .line.l0 #roate_1 .shadow {
	margin-left: -.4444444444444444rem;
	margin-top: -.7407407407407407rem
}

.main-scale .image .line.l0 #roate_1 .shadow {
	box-shadow: 0 0 .5925925925925926rem #ff1800;
	-webkit-animation: breath 3.5s linear 0s infinite
}

.main-scale .image .line.l0 #roate_1 .img {
	background-image: url(http://images.1758.com/festival/gs1.png)
}

.main-scale .image .line.l0 #roate_2 {
	width: .9925925925925926rem;
	height: .9925925925925926rem
}

.main-scale .image .line.l0 #roate_2 .img,
.main-scale .image .line.l0 #roate_2 .shadow {
	margin-left: -.2222222222222222rem;
	margin-top: -.2222222222222222rem
}

.main-scale .image .line.l0 #roate_2 .shadow {
	box-shadow: 0 0 .4444444444444444rem #c561ff;
	-webkit-animation: breath 4s linear 0s infinite
}

.main-scale .image .line.l0 #roate_2 .img {
	background-image: url(http://images.1758.com/festival/gs2.png)
}

.main-scale .image .line.l1 {
	width: 11.25925925925926rem;
	height: 6.074074074074074rem;
	margin-left: -4.666666666666667rem;
	margin-top: -4.533333333333333rem
}

.main-scale .image .line.l1 #roate_3 {
	width: 1.4814814814814814rem;
	height: 1.4814814814814814rem
}

.main-scale .image .line.l1 #roate_3 .img,
.main-scale .image .line.l1 #roate_3 .shadow {
	margin-left: -.2962962962962963rem;
	margin-top: -.4444444444444444rem
}

.main-scale .image .line.l1 #roate_3 .shadow {
	box-shadow: 0 0 .2962962962962963rem #74a7f4;
	-webkit-animation: breath 4.5s linear 0s infinite
}

.main-scale .image .line.l1 #roate_3 .img {
	background-image: url(http://images.1758.com/festival/gs3.png)
}

.main-scale .image .line.l1 #roate_4 {
	width: 1.1851851851851851rem;
	height: 1.1851851851851851rem
}

.main-scale .image .line.l1 #roate_4 .img,
.main-scale .image .line.l1 #roate_4 .shadow {
	margin-left: -.14814814814814814rem;
	margin-top: -.2962962962962963rem
}

.main-scale .image .line.l1 #roate_4 .shadow {
	box-shadow: 0 0 .2962962962962963rem #91d500;
	-webkit-animation: breath 3s linear 0s infinite
}

.main-scale .image .line.l1 #roate_4 .img {
	background-image: url(http://images.1758.com/festival/gs4.png)
}

.main-scale .image .line.l2 {
	width: 10.074074074074074rem;
	height: 10.074074074074074rem;
	margin-left: -5.037037037037037rem;
	margin-top: -5.037037037037037rem
}
@-webkit-keyframes breath {
	0%,
	100% {
		opacity: 0
	}
	50% {
		opacity: 1
	}
}

@-webkit-keyframes z {
	from {
		-webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0) rotateY(0) rotateZ(0) scaleX(1) scaleY(1) scaleZ(1)
	}
	to {
		-webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0) rotateY(0) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1)
	}
}

@-webkit-keyframes zi {
	from {
		-webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0) rotateY(0) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1)
	}
	to {
		-webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0) rotateY(0) rotateZ(0) scaleX(1) scaleY(1) scaleZ(1)
	}
}

@-webkit-keyframes y {
	from {
		-webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0) rotateY(0) rotateZ(0) scaleX(1) scaleY(1) scaleZ(1)
	}
	to {
		-webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0) rotateY(360deg) rotateZ(0) scaleX(1) scaleY(1) scaleZ(1)
	}
}

@-webkit-keyframes x {
	from {
		-webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0) rotateY(0) rotateZ(0) scaleX(1) scaleY(1) scaleZ(1)
	}
	to {
		-webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(360deg) rotateY(0) rotateZ(0) scaleX(1) scaleY(1) scaleZ(1)
	}
}

@media screen and (max-height:480px) {
	.main-scale .title {
		-webkit-transform: scale(1.1);
		margin-top: .2962962962962963rem
	}
}

.unDisplay {
	display: none
}

@-webkit-keyframes animate-progress {
	0% {
		width: 0
	}
	100% {
		width: 100%
	}
}

.progress,
.qb_wait_install .progress {
	width: 0
}

.qb_wx_downloading .progress {
	width: 100%;
	animation-name: animate-progress;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-duration: 20s;
	-webkit-animation-name: animate-progress;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-webkit-animation-duration: 20s
}

.loading-bar{
	width: 60%;
	margin: auto;
	text-align: center;
	margin-top: 5rem;
}
loading-g-progress {
    display: inline-block;
}
.loading-progress-bar {
    height: 0px;
    width: 100%;
    border: 1px solid /*#EAEDED*/ #eaeaea;
    border-radius: 5px;
    background-color: #eaeaea;
}
.loading-progress-bar .loading-progress-active {
    background-color: #a2e53b;
    height: 2px;
    border-radius: 5px;
    margin-left: -1px;
    margin-top: -1px;
    animation:bar 8s 1;
    -webkit-animation: bar 8s 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes bar{
	0%{width:0%}
	80%{width: 80%}
	100%{width: 99%;}
}
@keyframes bar{
	0%{width:0%}
	80%{width: 80%}
	100%{width: 99%;}
}
.loading-des{
	padding: 5px;
	color: #fff;
	font-size: 1rem;
}
.loading-des img{
	width: 30%;
}
.loading-logo{
    /*position: fixed;*/
    /*width: 100%;*/
    /*bottom: 35px;*/
   padding-top: 20%;
}
.loading-logo>img{
	width: 50%;
	max-width: 210px;
}
.loading-en{
	margin-top: 20px;
}
.loading-en img{
	width: 60px;
}
.loading-en p{
	margin-top: 3px;
	color: #9b9b9b;
}
.loading-wrapper{
	position: fixed;
	bottom: 30px;
	width: 100%;
	max-width: 640px;
}
.inner-loading{
	padding-top: 29%;
}
