<template>
  <div id="app" class="container" :style="{backgroundImage: 'url('+coverBg+')'}">
	  <!-- head -->
	  	<hlmy-head></hlmy-head>
	  <!-- 游戏iframe -->
	  	<hlmy-game
			:game-url="gameInfo.url"
			:width-height="widthHeight"
			:pay-show = "payInfo.isShow"
			:pay-url="payInfo.url"
	  	></hlmy-game>
  </div>
</template>

<script>
import HlmyHead from '../../components/Head'
import HlmyGame from '../../components/Game'

export default {
  	name: 'app',
  	data(){
		return {
			coverBg: HLMY_CONFIG.THEME_INFO.gameCoverImageUrl,
			//   游戏地址
			gameInfo:{
				url:'',
				appKey:'',
				hlmy_from:''
			},
			//   支付信息
			payInfo:{
				//   是否显示支付页面
				isShow:false,
				url:'',
				forceEnable: false,
				version: '',
				forceVersion:''
			},
			// 宽高设置
			widthHeight:null
		}
	},
	created(){
		this.init();
		setTimeout(() => {
			this.setFrameHeight();
			this.resize();
		},100);
		this.cpInfoPostInit();
	},
	methods:{
		// 初始化数据
		init(){
			this.gameInfo.appKey = HLMY_CONFIG.GAME_INFO.appKey;
			this.gameInfo.url = HLMY_CONFIG.GAME_INFO.cpGameUrl;
			this.gameInfo.hlmy_from = HLMY_CONFIG.GAME_INFO.hlmy_from;
			this.payInfo.forceEnable =  HLMY_CONFIG.PAY_INFO.forceEnable;
			this.payInfo.version = HLMY_CONFIG.PAY_INFO.version;
			this.payInfo.forceVersion = HLMY_CONFIG.PAY_INFO.forceVersion;
		},
		//初始化与cp之间的信息交流
		cpInfoPostInit() {
			if (typeof window.addEventListener != 'undefined') {
				window.addEventListener('message', this.receiveCpInfo, false);
			} else if (typeof window.attachEvent != 'undefined') {
				window.attachEvent('onmessage', this.receiveCpInfo);
			}
		},
		// 处理iframe之间的通讯
		receiveCpInfo(evt){
			var dataInfo = evt.data;
			if (dataInfo.hlmy) {
				//接受cp信息
				if (dataInfo.type == 'pay' && dataInfo.value.fn == 'payInfo') {
					var para = dataInfo.value.args;
					this.handlePayInfo(para);
				} else if (dataInfo.type == 'pay' && dataInfo.value.fn == 'payCancleBack') {
					this.payInfo.isShow = false;
				}
			}
		},
		// 处理支付信息
		handlePayInfo(para){
			var rcontentime = '&rcontentimeId=' + Math.ceil(Math.random() * 1000000);
			//支付页面有多个（需要根据不同的情况判断）
			var version = this.payInfo.version; //默认支付版本
			var urlPara = '';
			if (this.payInfo.forceEnable) {
				//使用强制支付版本
				version = this.payInfo.forceVersion;
			}
			// 参数拼接
			for (var p in para) {
				if (para.hasOwnProperty(p)) {
					if (p == 'appKey') {
						continue;
					} else {
						urlPara += '&' + p + '=' + para[p];
					}
				}
			}

			if (version == 3) {
				this.payInfo.url = `//wx.1758.com/pay/buy?hlmy_from=${this.gameInfo.hlmy_from}&v1758=3&appKey=${this.gameInfo.appKey}${urlPara}${rcontentime}`;
				this.payInfo.isShow = true;
			} else if (version == 2) {
				top.window.location.href = `//wx.1758.com/pay/buy?hlmy_from=${this.gameInfo.hlmy_from}&appKey=${this.gameInfo.appKey}${urlPara}${rcontentime}`;
			} else {
				this.payInfo.url = `//wx.1758.com/pay/payChoice?hlmy_from=${this.gameInfo.hlmy_from}${urlPara}${rcontentime}`
				this.payInfo.isShow = true;
			}
		},
		resize(){
			window.addEventListener('resize',this.setFrameHeight)
		},
		setFrameHeight(){
			var height = document.body.clientHeight;
			console.log(height)
			this.widthHeight = {
				height: `${height - 30}px`,
				width: `${height * 0.61}px`
			}
		}
	},
	components: {
		HlmyHead,
		HlmyGame,
		
	}
}
</script>

<style lang="stylus" scoped>
  .container{
    width 100%
    height 100%
    min-width 1200px
	background: no-repeat;
	background-position-y: 29px;
	background-size: 100% 100%;
  }
</style>
