<template>
    <div class="game-container" :style="widthHeight">
        <iframe class="iframe" :src="gameUrl" frameborder="0" :style="widthHeight" @load="loadEnd"></iframe>
        <hlmy-pay
			v-if="payShow"
			:pay-url="payUrl"
			:width-height="widthHeight"
		></hlmy-pay>
    </div>
</template>

<script>
    import HlmyPay from './Pay.vue'
    export default {
        data(){
            return {}
        },
        props:{
            payShow: {
                type: Boolean,
                default: false,
            },
            payUrl:{
                type: String,
                default:''
            },
            gameUrl:{
                type: String,
                default: ''
            },
            widthHeight:{
                type: Object,
                default: function(){
                    return {}
                }
            }
        },
        components:{
            HlmyPay
        },
        methods:{
            // 游戏加载完
            loadEnd(){
                this.$emit('loadEnd')
            }
        }
        
    }
</script>

<style lang="stylus" scoped>
    .game-container{
        margin: 0 auto;
        width: 100%;
        height: 100%;
        position: relative;
        background: rgba(0, 0, 0, 0.8);
        overflow: hidden;
        background rgb(0,0,0)
        z-index 100
        .iframe{
            width 100%
            height 100%
        }
    }
</style>