<template>
    <div class="head-container" :style="{backgroundImage: 'url('+navBg+')'}">
        <ul>
            <li>
                <img class="logo" src="http://images.1758.com/image/20171222/open_104818_57ed55e0251c9e25a490d172d933ddb0.png">1758游戏中心</li>
            <li class="split" :style="{backgroundImage:'url('+split+')'}"></li>
            <li @click="follow">关注微信有礼
                <img v-show="isFollow" class="modal" :src="wxImg" alt="">
            </li>
            <li class="split" :style="{backgroundImage:'url('+split+')'}"></li>
            <li @click.self="kefu">联系客服
                <a href="http://wpa.qq.com/msgrd?v=3&uin=2660866818&site=qq&menu=yes" v-show="isKefu">
                    <img class="modal" src="http://images.1758.com/image/20171222/open_1_2d3457ed4ad0aa4a09e3364dc9df6527.png" alt="">
                </a>
            </li>
            <li class="split" :style="{backgroundImage:'url('+split+')'}"></li>
            <li @click="client">
                下载微端
                <img v-show="isClient" class="modal" src="http://images.1758.com/image/20171222/open_1_528efe202576958c7bb559e9791dad36.png" alt="">
            </li>
            <li class="right"> <a href="http://wx.1758.com/play/index">wx.1758.com</a></li>
            <li class="right"><a href="http://www.1758.com/hlmy/jiazhang/index.html">家长监护</a></li>
        </ul>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                isFollow: false,
                isKefu: false,
                isClient: false,
                split: HLMY_CONFIG.THEME_INFO.navSplitBgImgUrl,
                navBg: HLMY_CONFIG.THEME_INFO.navBgImgUrl,
                wxImg: HLMY_CONFIG.THEME_INFO.subscribeWxmpImgUrl
            }
        },
        methods:{
            follow(){
                this.isFollow = !this.isFollow;
            },
            kefu(){
                this.isKefu = !this.isKefu;
            },
            client(){
                this.isClient = !this.isClient;
            }
        }
    }
</script>

<style lang="stylus" scoped>
    .head-container{
        width 100%
        line-height 30px
        height 30px
        background blue
        color #fff
        background repeat-x
        li{
            float left
            padding 0 20px
            color #fff
            height: 100%;
            cursor: pointer;
            line-height: 29px;
            position: relative;
            img {
                vertical-align middle
                padding 0 3px
            }
            a{
                color #fff
            }
            &:hover {
                background: repeat-x
            }
        }
        li.right{
            float right
            a{
                color #fff
            }
        }
        .split{
            width: 2px;
            height 29px
            padding: 0;
            margin: 0;
            background: url(http://images.1758.com/image/20171222/open_104818_744ebb007b0aec5ccf9072cdab282c52.png) no-repeat 0px 50%;
        }
        .modal{
            position: absolute;
            width: 153px;
            background-size: 100% 100%;
            left: -24px;
            z-index: 200;
        }
        .logo{
            width 55px
        }
    }
</style>