<template>
    <div class="fixed-container loading-container">
        <div class="loading-wrapper">
            <img src="//images.1758.com/game/m/game_logo_1.png">
            <p class="p-loading">游戏载入中...</p>
            <br>
            <p class="text-loading">1758微游戏·即点即玩</p>
        </div>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="stylus" scoped>
    .loading-container{
        background-color #71a540
        z-index 200
        .loading-wrapper{
            position absolute
            left 50%
            top 50%
            transform translate(-50%,-80%)
            text-align center
            img{
                width 100%
                max-width 210px
            }
            .p-loading{
                color: #c1f393;
                margin-top: .4rem
            }
            .text-loading {
                color: #fff;
                font-size: 18px;
                margin-top: .4rem
            }
        }
    }
</style>