<template>
    <!-- 返回提示 -->
    <div class="back-container fixed-container">
        <div class="back-wrapper">
            <div class="head">
                <div>
                    <img :src="imgUrl" alt="">
                    收藏领豪礼
                </div>
                <div class="close"  @click.self="close">×</div>
            </div>
            <div class="body">
                <p>任选一种方式完成收藏</p>
                <div class="k">
                    <a href="http://wx.1758.com/game/download.htm">
                        <img src="http://images.1758.com/image/20180103/open_104818_986e7f63318a709bbc1c67f898aa3c6f.jpg" alt="">
                    </a>
                    <a>
                        <img src="http://images.1758.com/image/20180103/open_104818_4a71c855c1ab45a3db8bd5a0c58b3c38.jpg" alt="">
                    </a>
                    <a href="http://wx.1758.com/">
                        <img src="http://images.1758.com/image/20180103/open_104818_f9a7e9b8315019de96203020b20e25d9.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a class="kf" href="http://wpa.qq.com/msgrd?v=3&uin=2660866818&site=qq&menu=yes">联系客服QQ：2660866818</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            imgUrl:{
                type: String,
                default:''
            }
        },
        methods:{
            close(){
                this.$emit('click');
            }
        }
    }
</script>

<style lang="stylus" scoped>
    .back-container{
        .back-wrapper{
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%)
            background-color #fff
            width 6rem
            border-radius 6px
            text-align center
            .head{
                height 1rem
                line-height 1rem
                text-align center
                font-size 18px
                font-weight bold
                border-bottom 1px solid #e6e6e6
                img {
                    width .5rem
                    vertical-align middle
                }
                .close{
                    position absolute
                    font-weight normal
                    font-size 30px
                    right 0
                    top 0
                    width .8rem
                    text-align center
                }
            }
            .body{
                padding .1rem .2rem .25rem .2rem
                &>p{
                    color red
                    font-size 12px
                }
                a{
                    padding-top .2rem
                    display inline-block
                }
                .k{
                    img{
                        width 100%
                    }
                }
                .kf{
                    color #00aaef
                }
            }
        }
    }
</style>