<template>
    <div class="pay-container" :style="widthHeight">
        <iframe class="iframe" :src="payUrl" frameborder="0" :style="widthHeight"></iframe>
    </div>
</template>

<script>
    export default {
        data(){
            return {
            }
        },
        props:{
            payUrl:{
                type: String,
                default: ''
            },
            widthHeight:{
                type: Object,
                default: function(){
                    return {}
                }
            }
        },
    }
</script>

<style lang="stylus" scoped>
    .pay-container{
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.8);
        overflow: hidden;
        padding: 0 12px;
        background rgb(0,0,0)
        z-index 102
        position absolute
        top: 0
        left 0
        .iframe{
            width 100%
            height 100%
        }
    }
</style>