<template>
	<div id="app" class="app">
		<!-- loading部分 -->
		<hlmy-loading 
			v-if="loadingShow" 
			></hlmy-loading>
		<!-- 浮标按钮 -->
		<hlmy-button 
			v-if="buttonShow" 
			@open="showBuoy"
			></hlmy-button>
		<!-- 承载浮标主体内容部分 -->
		<hlmy-main 
			v-if="mainShow" 
			@close="hideBuoy"
			></hlmy-main>
		<!-- 支付页面显示 -->
		<hlmy-pay 
			v-if="payShow"
			></hlmy-pay>
		<!-- 分享小手提示 -->
		<share-guide 
			v-if="shareGuideShow"
			></share-guide>
		<!-- 预定义图片分享和自定义图片分享展示 -->
		<share-imgbox 
			v-if="preImgShareShow" 
			:type="'pre'"
			></share-imgbox>
		<share-imgbox 
			v-if="customImgShareShow" 
			:type="'custom'"
			></share-imgbox>
		<!-- 返回提示信息 -->
		<page-back 
			v-if="pageBackShow"
			></page-back>
		<!-- 登录提示框 -->
		<login 
			v-if="loginShow"
			></login>
		<!-- 手机号登录框 -->
		<login-phone 
			v-if="loginPhoneShow"
			></login-phone>
		<!-- vip弹框消息设置 -->
		<vip-info 
			v-if="vipNotifyInfoShow" 
			:dataList="vipNotifyData" 
			@click="closeVipNotifyInfo"></vip-info>
		<hlmy-index></hlmy-index>
	</div>
</template>

<script>
// 第三方插件
import { mapState } from 'vuex'
import jsonp from 'jsonp'
// 自定义组件
import hlmyLoading from './components/main/loading'
import hlmyIndex from './components/main/activities/Index'
// 自定义js
import MethodsShare from './assets/js/vue/methodsShare'
import SDK from './assets/js/vue/sdk'
import Feature from './assets/js/vue/feature'
import BackInit from './assets/js/vue/pageBack'
import VueMethods from './assets/js/vue/methods'
import MethodsChat from './assets/js/vue/methodsChat.js'
import MethodsPromotion from './assets/js/vue/methodsPromotion.js'
export default {
	name: 'hlmyGames',
	data() {
		return {
			// loading加载信息
			loadingShow:true,
			// 显示浮标内容
			mainShow: false,
			// 到达该时间  不管是否已经load完  loading 都消失
			loadingEndTime: 3000,
			// 是否打开试玩弹框
			trialDialogOpen: false,
			// 是否有vip弹框通知信息
			vipNotifyInfoShow: false,
			// vip弹框通知消息数据
			vipNotifyData:[]
		}
	},
	watch:{
		// 检测是否一键登录
		// 是否现在开始试玩状态  loading状态消失，并且是试玩状态
		'loadingShow'(value){
			if(!value && this.$store.state.StoreLoginInfo.enable){
				this.$store.dispatch('triableAction');
			}
		}
	},
	computed:{
		...mapState({
			appKey: state => state.StoreGameInfo.appKey,
			chn: state => state.StoreGameInfo.chn,
			gid: state => state.StoreUserInfo.gid,
			// 支付模块是否显示
			payShow: state => state.StorePayInfo.isShow,
			// 是否显示浮标按钮 默认是false
			buttonShow: state => state.StoreBuoyInfo.enable, 
			// 返回按钮显示
			pageBackShow: state =>  state.StoreBackInfo.isShow, 
			// 分享的小手提示
			shareGuideShow: state => state.StoreShareGuideInfo.shareGuideShow,
			// 登录框提示
			loginShow: state => state.StoreLoginInfo.isShow,
			// 手机按钮登录框
			loginPhoneShow: state => state.StoreLoginInfo.phoneShow,
			
			// 图片分享 预定义url
			preImgShareShow: state => state.StoreShareInfoImg.isPreShow,
			// 图片分享，自定义图片url
			customImgShareShow: state =>state.StoreShareInfoImg.isCustomShow,
			
		})
	},
	mixins:[{methods:MethodsShare},{methods:SDK},{methods:Feature},{methods:BackInit},{methods:MethodsChat},{methods:MethodsPromotion}],
	mounted(){
		// 初始化一些对象
		this.init();
	},
	methods: VueMethods,
	components: {
		hlmyLoading,
		hlmyIndex,
		'hlmyButton': () => import('./components/buoy/Button.vue'),
		'hlmyPay': () => import('./components/main/Pay.vue'),
		'shareGuide': () => import('./components/main/ShareGuide'),
		'shareImgbox': () => import('./components/main/ShareImgBox'),
		'pageBack': () => import('./components/main/PageBack'),
		'loginPhone':() => import('./components/main/LoginPhone.vue'),
		'login': () => import('./components/main/Login.vue'),
		'vipInfo':() => import('./components/main/activities/vipInfo.vue'),
		'hlmyMain':() => import('./components/buoy/Main.vue'),
		'hlmyFollow':() => import('./components/main/FollowEwm.vue')
	}
}
</script>

<style lang="stylus">
body{
	overflow: auto;
  	-webkit-overflow-scrolling: touch;
}
</style>
