<template>
    <div class="buoy-btn" :style="{left:x+'px',top:y+'px'}" @click="btnClick">
        <img src="http://images.1758.com/image/20161115/open_1_469b7a6ea6374af1fe8c1b799f32a832.png">
        <span class="point">●</span>
    </div>
</template>

<script>
import utils from '@/assets/js/utils'
export default {
    data() {
        return {
            x: null,
            y: null,
            appKey: this.$store.state.StoreGameInfo.appKey,
            // 记录是否触发过touchmove
            isMove:false
        }
    },
    mounted() {
        this.init();
    },
    methods: {
        // 初始化浮标位置
        // 绑定事件
        init() {
            this.readPosition();
            this.buoyTouchEvent();
        },
        // 记录每一次拖动浮标的最后位置 进行记录
        setPosition(x, y) {
            utils.setPosition({
                appkey: this.appKey,
                x: x,
                y: y
            })
        },
        // 读取位置
        readPosition() {
            var obj = utils.readPosition(this.appKey);
            // 做兼容处理
            var maxX = window.innerWidth - this.$el.clientWidth;
            var maxY = window.innerHeight - this.$el.clientHeight;
            this.x = obj.x > maxX ? maxX : obj.x;
            this.y = obj.y > maxY ? maxY : obj.y;
        },
        // 浮标绑定拖动事件
        buoyTouchEvent() {
            var domBtn = this.$el;
            var minX = 0, minY = 0, maxX, maxY;
            // 屏幕宽
            var winX = window.innerWidth,
                // 屏幕高
                winY = window.innerHeight;
            domBtn.addEventListener('touchstart', function(evt) {
                maxX = winX - evt.target.clientWidth;
                maxY = winY - evt.target.clientHeight;
            }, true)
            domBtn.addEventListener('touchmove', (evt)=> {
                this.isMove = true;
                evt.preventDefault()
                var x = evt.targetTouches[0].clientX - evt.target.clientWidth / 2;
                x = x < minX ? minX : x;
                x = x > maxX ? maxX : x;
                var y = evt.targetTouches[0].clientY - evt.target.clientHeight / 2;
                y = y < minY ? minY : y;
                y = y > maxY ? maxY : y;

                this.x = x;
                this.y = y;
            }, true)
            domBtn.addEventListener('touchend', (evt)=> {
                if(!this.isMove){return }
                this.isMove = false;
                this.setPosition(this.x, this.y);
            }, true)
        },
        // 浮标点击事件
        btnClick() {
            this.$emit('open')
        }
    }
}
</script>

<style lang="stylus" scoped>
.buoy-btn{
    position absolute
    left .2rem /* 20/100 */
    top 1rem /* 100/100 */
    img {
        width 1rem /* 100/100 */
        vertical-align bottom
    }
    .point{
        position absolute
        color red
        top .2rem /* 20/100 */
        left .8rem /* 80/100 */
    }
}
</style>