<template>
    <!-- 客户端的头 -->
    <div v-if="show" class="client-head">
        <div class="wrapper">
            <div flex="box:mean">
                <div flex-box="1" class="item">
                    <img @click="clientClick('exit')" src="http://images.1758.com/image/20170414/open_1_13165744f381c21711109141febbd0e4.png" alt="退出">
                </div>
                <div flex-box="1" class="item">
                    <img @click="clientClick('desktop')" src="http://images.1758.com/image/20170414/open_1_745d65bf8c7c9b61a9c48d56de713bf4.png" alt="添加到桌面">
                </div>
                <div flex-box="1" class="item">
                    <img @click="clientClick('refresh')" src="http://images.1758.com/image/20170414/open_1_8df38e74a4e60d9e32d9df4dda31f025.png" alt="刷新">
                </div>
                <div flex-box="1" class="item">
                    <img @click="clientClick('share')" src="http://images.1758.com/image/20170414/open_1_f1bf5303c807a67895bebcc79d0a6a0f.png" alt="分享">
                </div>
            </div>
            <div class="client-user">
                <img class="user" src="http://thirdqq.qlogo.cn/qqapp/101026391/783165BE37D28F1E569809395ABB68CA/100" alt="">
                <img class="sw" src="http://images.1758.com/image/20170414/open_1_0203290f0c09bd9119930797f0da19e8.png" alt="">
            </div>
        </div>
    </div>
    <!-- 非客户端 头部 -->
    <div class="base-head" v-else>
        <div class="head-menu" flex="box:mean">
            <span class="head-left" id="modalUserHead">
                <a href="//wx.1758.com/play/user/home">
                    <img src="http://q.qlogo.cn/qqapp/101026391/783165BE37D28F1E569809395ABB68CA/100">
                </a>
            </span>
            <span class="head-icon">
                <a href="//wx.1758.com/play/index"><img src="http://wx.1758.com/game/h5/images/head-icon.png"></a>
            </span>
            <span class="head-right">
                <img src="http://images.1758.com/image/20180320/open_104818_6014a3e1acfb4d77e6d2b769f150baf9.gif" alt="">
            </span>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            show: true
        }
    },
    methods:{
        clientClick(flag){
            var arr = {
                'exit': 'quit',
                'desktop': 'addShortcut',
                'refresh': 'refresh',
                'share': 'share'
            }
            try {
                android_panelAssistant[arr[flag]]();
            } catch (error) {}
        }
    }
}
</script>

<style scoped lang="stylus">
    // 非客户端情况
    .base-head{
        position relative
        height .92rem /* 92/100 */
        line-height .92rem /* 92/100 */
        background-color #fff
        border-bottom 1px solid #f2f2f2
        .head-left{
            margin-left .32rem /* 32/100 */
            img{
                width .8rem /* 80/100 */
                border-radius 50%
                vertical-align middle
            }
        }
        .head-icon{
            text-align center
            img {
                width 2rem /* 200/100 */
                vertical-align middle
            }
        }
        .head-right {
            text-align right
            img {
                width 1.2rem
                vertical-align middle
                margin-right .2rem
            }
        }
    }
    // 客户端头
    .client-head{
        height 1.36rem
        margin-top .18rem
        box-sizing border-box
        .wrapper{
            width: 4.8rem
            background-color: rgba(0,0,0,.4);
            border-radius: 34px;
            margin: 0 auto;
            text-align: center;
            line-height: 1rem
            height: 1rem
            position: relative;
            padding: 0 .4rem
            box-sizing: border-box;
            .item{
                img{
                    vertical-align middle
                    max-width .9rem
                }
            }
            .client-user{
                position absolute
                right -.3rem
                top .2rem
                line-height initial
                .user{
                    width .72rem
                    height .72rem
                    border-radius 50%
                    border 1px solid #fff
                    box-sizing border-box
                }   
                .sw{
                    width .3rem
                    position absolute
                    bottom 0
                    right -.04rem
                }
            }
        }
    }
</style>