<template>
    <div class="buoy-container absolute-container" flex>
        <div class="buoy-left">
            <div flex="dir:top" class="flex-container">
                <div>
                    <!-- 浮标 头部 -->
                    <hlmy-header></hlmy-header>
                </div>
                <div class="t-c">
                    <!-- 浮标内部tab -->
                    <hlmy-tab @tabActive="tabClick"></hlmy-tab>
                </div>
                <div class="flex-content" flex-box=1>
                    <keep-alive>
                        <hlmy-gift v-if="activeName === 'tabLB'" ></hlmy-gift>
                        <hlmy-broadcast v-else-if="activeName === 'tabGG'"></hlmy-broadcast>
                        <hlmy-feeds v-else-if="activeName == 'tabLT'"></hlmy-feeds>
                        <hlmy-hot v-else-if="activeName === 'tabHot'"></hlmy-hot>
                        <hlmy-chat v-else-if="activeName === 'tabChat'"></hlmy-chat>
                        <hlmy-kf v-else-if="activeName === 'tabKeFu'"></hlmy-kf>
                    </keep-alive>
                </div>
            </div>
        </div>
        <div class="buoy-right" @click="hideBuoy">
            <img src="http://wx.1758.com/game/h5/images/modalleft.png">
        </div>
    </div>
</template>

<script>

import hlmyHeader from './header'
import hlmyTab from './tab'

import utils from '@/assets/js/utils'
export default {
    data(){
        return {
            // tab选中的模块内容
            activeName:'',
        }
    },
    computed:{
    },
    components: {
        hlmyHeader,
        hlmyTab,
        hlmyGift: () => import('../buoy/tabs/Gift'),
        hlmyBroadcast: () => import('../buoy/tabs/BroadCast'),
        hlmyFeeds: () => import('../buoy/tabs/Feeds'),
        hlmyHot: () => import('../buoy/tabs/HotGame'),
        hlmyChat: () => import('../buoy/tabs/Chat'),
        hlmyKf: () => import('../buoy/tabs/KF')
    },
    methods: {
        // 隐藏浮标
        hideBuoy() {
            this.$emit('close')
        },
        // 点击浮标内容的tab进行选择
        tabClick(arg){
            this.activeName = arg;
        }
    }
}
</script>

<style lang="stylus" scoped>
    .buoy-container{
        .buoy-left {
            width 85%
            height 100%
            .flex-container{
                width 100%
                position relative
                height 100%
                .t-c{
                    background #fff
                }
            }
            .flex-content{
                background #fff
                height 0
                position relative
                overflow auto
                -webkit-overflow-scrolling touch
                &>div{
                    width 100%
                    height 100%
                    position relative
                }
                
            }
        }
        .buoy-right{
            width 15%
            img {
                width .4rem /* 40/100 */
                top 50%
                margin-top -.58rem /* 58/100 */
                position absolute
            }   
        }
    }
</style>