<template>
    <div flex="box:mean" class="tab-container">
        <div 
            v-for="(item,index) in tabList" 
            :key="index" 
            class="tab-item" 
            @click="tabClick(index)" 
            :class="{'tab-active':index == activeId}">
            <img v-if="activeId === index" :src="item.active">
            <img v-else :src="item.img">
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                // 该游戏对应的tablist
                tabList:[],
            }
        },
        computed:{
            activeId(){
                var num = this.$store.state.StoreTabInfo.initTab;
                return num > this.tabList.length-1 ? 0: num;
            },
            // tab全集
            list(){
                return this.$store.state.StoreTabInfo.list;
            }
        },
        mounted(){
            this.initTabItem();
        },
        methods:{
            // tab点击
            tabClick(index){
                // 设置store值
                this.$store.commit('StoreTabInfo',{initTab:index});
                this.$emit('tabActive',this.tabList[index].name)
            },
            // 根据配置重新排序tabitem内容
            initTabItem(){
                var arr = this.$store.state.StoreTabInfo.item;
                arr.forEach((item) => {
                    this.list.forEach((k) =>{
                        if(k.name === item){
                            this.tabList.push(k);
                        }
                    })
                });
                // 初始化tab对应的内容
                this.$emit('tabActive',this.tabList[this.activeId].name)
            }
        }
    }
</script>

<style lang="stylus" scoped>
    .tab-container{
        border-bottom 1px solid #f2f2f2
        .tab-item{
            padding .1rem .16rem
            text-align center
            img {
                width 100%
                max-width .9rem
            }
        }
        .tab-active{
            background-color #fff8ef
        }
    }
</style>