<template>
    <div class="broadcast-container scroll">
        <!-- 开服计划和游戏攻略 查过三个 各自显示 查看更多 提示 -->
        <div v-if="!isDetails">
            <!-- 开服计划 -->
            <div class="plan-container">
                <div v-for="(item,index) in plans" :key="index" class="item" :class="{gone:isAddGone('plans',index)}">
                    <div flex="box:mean">
                        <div class="title">{{item.name}}</div>
                        <div class="plan-time">{{item.startTime}}</div>
                    </div>
                </div>
                <div class="more-info" v-if="plans.length > planMaxNum" @click="showMorePlans">
                    <span>
                        ••• 更多开服计划
                    </span>
                </div>
            </div>
            <!-- 游戏攻略 -->
            <div>
                <div v-for="(item,index) in gonglue" :key="index" class="item" :class="{gone:isAddGone('gl',index)}" @click="showGLDetails(item.id)">
                    <div class="title">{{item.title}}</div>
                    <div class="time">{{item.releaseDate}}</div>
                </div>
                <div class="more-info" v-if="gonglue.length > gonglueMaxNum" @click="showMoreGL">
                    <span>
                        ••• 查看更多公告
                    </span>
                </div>
            </div>
            <div v-if="gonglue.length === 0 && plans.length === 0" class="no-more">
                暂无更多数据
            </div>
            <!-- 查看游戏攻略详情 -->
        </div>
        <div class="details-container" v-else>
            <div class="inner">
                <div class="head">
                    <div class="title">
                        {{detailsTitle}}
                    </div>
                    <div class="time">
                        {{detailsTime}}
                    </div>
                </div>
                <div class="body" v-html="glDetails"></div>
                <div class="footer">
                    <div class="back" @click="goBack">返回</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import utils from '@/assets/js/utils'
    export default {
        data(){
            return {
                url:'/game/api/app/getDetails?aid='+this.$store.state.StoreGameInfo.aid,
                // 攻略数组
                gonglue:[],
                // 开服计划
                plans:[],
                // 攻略最多显示条目
                gonglueMaxNum: 3,
                // 开服计划最多显示条目
                planMaxNum: 3,
                glDetails:'',
                // 是否显示详情
                isDetails: false,
                // 公告详情title
                detailsTitle:'',
                // 公告详情时间
                detailsTime:''
            }
        },
        mounted(){
            this.getData();
            utils.overscroll(document.querySelector('.scroll'));
        },
        methods:{
            // 添加隐藏
            isAddGone(flag,index){
                if(flag === 'gl'){
                    return index> this.gonglueMaxNum-1 ?true:false;
                }else if(flag === 'plans'){
                    return index> this.planMaxNum-1 ?true:false;
                }
            },
            // 显示更多攻略
            showMoreGL(){
                this.gonglueMaxNum = this.gonglue.length +1;
            },
            // 显示更多开服计划
            showMorePlans(){
                this.planMaxNum = this.plans.length +1;
            },
            // 显示攻略详情
            showGLDetails(id){
                var url = `/play/game/${id}/article.json`;
                this.axios.get(url)
                    .then((response) => {
                        this.isDetails = true;
                        var resData = response.data;
                        if(resData.result == 1){
                            this.glDetails = resData.data.articleInfo.content;
                            this.detailsTitle = resData.data.articleInfo.title;
                            this.detailsTime = utils.dateFormat(resData.data.articleInfo.releaseTime,'yyyy.MM.dd'); 
                        }else{
                            this.detailsTitle = "";
                            this.glDetails = "暂无内容"
                            this.detailsTime = "";                        }
                    })
                    .catch(function(err){console.log(err)})
            },
            // 游戏公告详情页面的返回按钮点击
            goBack(){
                this.isDetails = false;
            },
            // 获取游戏信息
            getData(){
                this.axios.get(this.url)
                    .then((response) => {
                        var resData = response.data;
                        if(resData.code === 0 ){
                            // 处理攻略
                            if(resData.gonglue){
                                resData.gonglue.forEach(function(element) {
                                    element.releaseDate = utils.dateFormat(element.releaseDate,'yyyy.MM.dd')
                                }, this);
                                this.gonglue = resData.gonglue;
                            }
                            // 处理开服计划
                            if(resData.plans){
                                resData.plans.forEach(function(element){
                                    element.startTime = utils.dateShow(element.startTime);
                                },this)
                                this.plans = resData.plans;
                            }
                        }
                        
                    })
                    .catch(function(err){console.log(err)})
            }
        }
    }
</script>

<style lang="stylus" scoped>
    .broadcast-container{
    }
    .item {
        position: relative;
        padding: .2rem .3rem
        border-bottom: 1px solid #f7f7f7;
        background-color #fff
        .title {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .time {
            text-align: right;
            font-size: 12px;
            color: #9b9b9b;
            margin-top: .1rem
        }
        .plan-time{
            color: #71A540;
            text-align right
            font-size 12px
        }
    }
    .plan-container{
        background-color #f2f2f2
        padding-bottom .2rem
    }
    // 没有更多数据
    .no-more{
        color #9b9b9b
        padding .3rem 0
        text-align center
    }
    // 更多信息提示
    .more-info{
        padding .2rem 0
        text-align center
        color: #18A3E3;
        font-size: 11px;
        background-color #fff
    }
    // 公告详情样式
    .details-container{
        .inner{
            overflow: hidden;
            position: relative;
            padding: .2rem
            .head{
                .title{
                    font-size 16px
                }
                .time{
                    color: #9b9b9b;
                    font-size: 12px;
                    padding-bottom: .08rem
                }
            }
            .body{
                color #9b9b9b
                img {
                    max-width 100!important
                }
            }
            .footer{
                text-align center
                padding .2rem 
                .back{
                    border: 1px solid #fac218;
                    border-radius: 5px;
                    color: #fac218;
                    padding: .1rem .4rem
                    display: inline-block;
                    line-height: initial;
                }
            }
        }
    }
</style>
<style lang="stylus">
    .details-container{
        .body{
            img {
                max-width 100%!important
            }
        }
    }
</style>
