<template>
    <div class="chat-container"  flex="dir:top box:last">
        <div class="item-wrapper scroll">
            <div>
                <chat-item v-for="(item,index) in wsDataList" :key="index" :item="item"></chat-item>
            </div>
        </div>
        <div class="input-container">
            <div flex="box:last">
                <input v-model.trim="chatData" placeholder="聊天内容不能超过40个字" type="text">
                <span @click="sendMessage">发送</span>
            </div>
        </div>
    </div>
</template>

<script>
    // 每次切换tab ws 发送 open 然后重新获取数据  
    // 每次切换tab 会关闭不显示的 客服 或者 聊天室 清空数据 ws发送 close 
    import utils from '@/assets/js/utils'
    import chatItem from '@/components/buoy/common/chatItem'

    import WSChat from '@/assets/js/vue/methodsChat.js'
    export default {
        data(){
            return {
                wsDataList:[],
                chatData:''
            }
        },
        mounted(){
            utils.overscroll(document.querySelector('.scroll'));
            WSChat.registerEvent('chat',this.handleWsData)
        },
        activated(){
            // 聊天室场景打开
            WSChat.chatTabSwitch(true);
            console.log('chat activate');
        },
        deactivated(){
            // 聊天室场景关闭
            WSChat.chatTabSwitch(false);
            // 清空消息
            this.wsDataList = [];
            console.log('chat deactivated');
        },
        components:{
            chatItem
        },
        methods:{
            // 发送消息
            sendMessage(){
                if(this.chatData == ''){return ;}
                var value = this.chatData;
                if(value.length > 300){
                    value = value.substr(0,300);
                }
                value = HLMY_WS.chartEscape(value);
                var message = {
                    "fromToken": this.$store.state.StoreChatInfo.fromToken, 
                    "command": "CHAT", 
                    "dialogKey": this.$store.state.StoreChatInfo.chatDialogKey, 
                    "msgType": "TEXT", 
                    "content": value
                };
                HLMY_WS.send(message);
                this.chatData = "";
            },
            handleWsData(dataList){
                this.wsDataList = this.wsDataList.concat(dataList)
            }
        }
    }
</script>

<style lang="stylus" scoped>
    .chat-container{
        height 100%
        width 100%
        .item-wrapper {
            background-color #ebebeb
            overflow auto
            height 100%
            position relative
            -webkit-overflow-scrolling touch
            &>div{
                padding-bottom .6rem
            }
        }
        .input-container{
            padding .2rem 0
            background-color #ebebeb
            
            input{
                border 1px solid #ddd
                margin 0 .2rem
                padding .16rem
                outline 0
                border-radius 5px
            }
            span{
                background: #fca218;
                padding: .16rem .28rem
                color: #fff;
                margin-right: .2rem
                border-radius: 5px;
            }
        }
    }
</style>