<template>
    <div class="scroll">
        <div>
            <feed v-for="(item,index) in feedsList" :key="index" :item="item" :chn="chn"></feed>
            <div class="more-info" @click="getMore()">
                <span v-if="loadState === 'complete'">点击加载更多</span>
                <span v-else-if="loadState === 'loading'">加载中...</span>
                <span v-else-if="loadState === 'nodata'">暂无数据</span>
                <span v-else-if="loadState === 'nomore'">暂无更多数据</span>
            </div>
            <div class="comment-container" @click="pushComment">
                <img src="http://images.1758.com/fubiao/fubiao_pinglun.png">
            </div>
        </div>
    </div>
</template>

<script>
    import feed from '@/components/buoy/common/Feed.vue';
    import qs from 'qs'
    import utils from '@/assets/js/utils'
    export default {
        data(){
            return {
                feedsList:[],
                pageNo:1,
                pageSize:3,
                loadState:'complete'
            }
        },
        computed:{
            chn(){
                return this.$store.state.StoreGameInfo.chn;
            },
            aid(){
                return this.$store.state.StoreGameInfo.aid
            }
        },
        mounted(){
            this.init();
            utils.overscroll(document.querySelector('.scroll'));
        },
        methods:{
            // 初始化，先从store中获取数据，没有则ajax获取
            init(){
                if(this.$store.state.StoreBuoyFeedsInfo.isInit){
                    this.feedsList  = this.$store.state.StoreBuoyFeedsInfo.list;
                    this.pageNo = this.$store.state.StoreBuoyFeedsInfo.pageNo;
                    this.pageSize = this.$store.state.StoreBuoyFeedsInfo.pageSize;
                }else{
                    this.getData();
                }
            },
            // 获取更多数据
            getMore(){
                if(this.loadState === 'complete'){
                    if(this.pageNo < 3){
                        this.getData();
                    }else {
                        // 只展示两项，如果到第三项 则跳转到详情页面
                        top.location.href = `/play/game/${this.$store.state.StoreGameInfo.aid}?chn=${this.$store.state.StoreGameInfo.chn}focus=1&title=${this.$store.state.StoreGameInfo.name}&tp=full&ex1758=1`
                    }
                }
            },
            // 发表评论
            pushComment(){
                var type = 0;
                var self = this;
                if(utils.userAgent.client == 'wx'){
                    type = 1;
                }
                this.$Comment({
                    title:'发布评论',
                    type:type,
                    success(instance){
                        if(!instance.comment.length){
                            self.$Message.info('不能为空!')
                        }
                    },
                    cancel(instance){
                        instance.close();
                    }
                })
            },
            // 获取数据
            getData(){
                this.loadState = 'loading';
                var url ='/play/ugc/moreGameFeeds.json';
                var params = {
                    pageNo: this.pageNo,
                    pageSize: this.pageSize,
                    aid: this.aid
                }
                var ugcData = '';
                this.axios.post(url,qs.stringify(params))
                    .then((response) =>{
                        var resData = response.data;
                        if(resData.result === 1 && resData.data.ugcData){
                            ugcData = resData.data.ugcData;
                            ugcData.dataList =  this.handleImg(ugcData.dataList);
                            this.feedsList = this.feedsList.concat(ugcData.dataList);
                            // 设置pageNo
                            this.pageNo = ugcData.nextPageNo;
                            // 同步数据
                            this.setStoreDataInfo(this.feedsList,this.pageNo,this.pageSize);
                            if(ugcData.nextPageNo < 0){
                                this.loadState = 'nomore';
                            }else{
                                this.loadState = 'complete';
                            }
                        }else{
                            if(this.pageNo == 1){
                                this.loadState = 'nodata';
                            }else {
                                this.loadState = 'nomore';
                            }
                        }
                    })
                    .catch(function(err){
                        this.loadState = 'complete'
                        console.log(err)
                    })
            },
            // 处理获取的img数据
            handleImg(dataList){
                for (var i = 0, len = dataList.length; i < len; i++) {
                    // 处理img
                    if (dataList[i].img == '' || !dataList[i].img) {
                        dataList[i].img = [];
                    } else {
                        dataList[i].img = dataList[i].img.split(',');
                    }
                    // 处理时间
                    dataList[i].createTime = utils.dateFormat(dataList[i].createTime, 'yyyy-MM-dd hh:mm');
                    // 处理经验值
                    dataList[i].userProfile.expInfo['expShowing'] = utils.expToIcon(dataList[i].userProfile.expInfo.expLevel);
                }
                return dataList;
            },
            // ajax获取数据后同步至store中去
            setStoreDataInfo(list,pageNo,pageSize){
                this.$store.commit('StoreBuoyFeedsInfo',{
                    list: list,
                    pageNo: pageNo,
                    pageSize: pageSize,
                    isInit: true
                })
            }
        },
        components:{
            feed
        }
    }
</script>

<style lang="stylus" scoped>
.more-info{
    color #9b9b9b
    text-align center
    padding .2rem
}
.comment-container{
    position: fixed;
    margin-right: 15%;
    right: .08rem
    bottom: 1rem
    z-index 9
    img {
        width 1.2rem
    }
}
</style>