<template>
    <div class="scroll">
        <div>
            <gift-item 
                v-for="(item,index) in giftList" 
                :key="index" 
                :item="item"
                :link='item.link'
                :name='item.name'
                :taoNum = item.taoNum
                :beginTime = item.beginTime
                :endTime = item.endTime
                :updateTime = item.updateTime
                :left-num="item.leftNum"
                :num = "item.num"
                :chn="chn"
                ></gift-item>
            <div v-if="giftList.length == 0" class="no-gift">
                暂无更多礼包
            </div>
        </div>
    </div>
</template>

<script>
    import giftItem from '../common/giftItem.vue'
    import utils from '@/assets/js/utils'
    import qs from 'qs'
    export default {
        data(){
            return {
                // 存储礼包数据列表
                giftList:[]
            }
        },
        computed:{
            chn(){
                return this.$store.state.StoreGameInfo.chn;
            }
        },
        mounted(){
            this.init();
            utils.overscroll(document.querySelector('.scroll'));
        },
        methods:{
            init(){
                var url = `/play/game/${this.$store.state.StoreGameInfo.aid}/moreGameGifts.json`
                this.axios.post(url,qs.stringify({
                        pageNo: 1,
                        pageSize: 20
                    }))
                    .then((response) => {
                        var resData = response.data;
                        if(resData.result == 1 && resData.data.fallloadResult){
                            this.giftList = resData.data.fallloadResult.dataList;
                        }
                    })
                    .catch(function(err){console.log(err)})
            }
        },
        components:{
            giftItem
        }
    }
</script>

<style lang="stylus" scoped>
    .no-gift{
        text-align center
        color #9b9b9b
        padding .2rem
        font-size 12px
    }
</style>