<template>
    <div class="scroll">
        <div>
            <game-item 
                v-for="(item,index) in gameList" 
                :key="index" 
                :gameIcon="item.iconUrl" 
                :gameName="item.appName" 
                :gameArticleId="item.articleId" 
                :gameUrl="item.gameUrl" 
                :chn="chn" 
                :hlmyEnt="hlmyEnt(index)" 
                :gameDesc="item.appRemark" 
                :hasGift="isHasGift(item.publotteryArticleId)"  
                ></game-item>
            <div class="more-info" @click="getMore()">
                <span v-if="loadState === 'complete'">点击加载更多</span>
                <span v-else-if="loadState === 'loading'">加载中...</span>
                <span v-else-if="loadState === 'nodata'">暂无数据</span>
                <span v-else-if="loadState === 'nomore'">暂无更多数据</span>
            </div>
        </div>
    </div>
</template>

<script>
    import gameItem from '../common/gameItem'
    import utils from '@/assets/js/utils'
    import qs from 'qs'
    export default {
        data(){
            return {
                gameList:[],
                // 请求页数
                pageNo:1,
                // 加载状态, 
                // loading 加载中
                // complete 加载完
                // nodata 没有数据
                // nomore 没有更多数据
                loadState: 'complete'
            }
        },
        computed:{
            chn(){
                return this.$store.state.StoreGameInfo.chn;
            }
        },
        mounted(){
            this.init();
            utils.overscroll(document.querySelector('.scroll'));
        },
        methods:{
            init(){
                // 先从store获取数据，如果已经存在就不再ajax请求，
                if(this.$store.state.StoreBuoyGameInfo.isInit){
                    this.gameList = this.$store.state.StoreBuoyGameInfo.list;
                }else{
                    this.getGameData();
                }
            },
            // 获取热门游戏数据列表
            getGameData(){
                if(this.pageNo < 0){
                    this.loadState = 'nomore'
                    return;
                }
                this.loadState = 'loading'
                var url ='/play/game/category/108/moreGames.json'
                var params = {
                    pageNo:this.pageNo,
                    pageSize:10
                };
                this.axios.post(url,qs.stringify(params))
                    .then((response) => {
                        var resData = response.data;
                        if(resData.result == 1 && resData.data.fallloadResult){
                            this.gameList = this.gameList.concat(resData.data.fallloadResult.dataList); 
                            this.pageNo = resData.data.fallloadResult.nextPageNo;
                            // 同步数据到store
                            this.setStoreInfo(this.gameList,this.pageNo)
                            // 无更多游戏
                            if(this.pageNo < 0){
                                this.loadState = 'nomore'
                            }else{
                                this.loadState = 'complete';
                            }
                        }else if(this.pageNo == 1){
                            this.loadState = 'nodata'
                        }else {
                            this.loadState = 'nomore'
                        }
                    })
                    .catch(function(err){console.log(err)})
            },
            // 入口统计
            hlmyEnt(index) {
                return 'platform_fubiaoremen_' + (index + 1);
            },
            // 是否有礼包标识
            isHasGift(value) {
                return value == 1 ? true : false;
            },
            // 获取更多数据
            getMore(){
                if(this.loadState === 'complete'){
                    this.getGameData();
                }
            },
            // 同步store数据信息
            setStoreInfo(list,pageNo){
                this.$store.commit('StoreBuoyGameInfo',{
                    list:list,
                    pageNo: pageNo,
                    isInit: true
                })
            }
        },
        components:{
            gameItem
        }
    }
</script>

<style lang="stylus" scoped>
    .more-info{
        color #9b9b9b
        padding .3rem 0
        text-align center
    }
</style>