<template>
    <!-- 客服聊天窗口 -->
    <kf-info v-if="isInfoShow" @click="switchKfChat"></kf-info>
    <div class="chat-container"  flex="dir:top box:last" v-else>
        <div class="back-btn" @click="switchKfChat('info')">
            返回
        </div>
        <div class="item-wrapper scroll">
            <div class="chat-wrapper">
                <chat-item v-for="(item,index) in defaultDataList" :key="index" :item="item"></chat-item>
                <chat-item v-for="(item,index) in wsDataList" :key="index" :item="item"></chat-item>
            </div>
        </div>
        <div class="input-container">
            <div flex="box:last">
                <input v-model.trim="chatData" placeholder="聊天内容不能超过40个字" type="text">
                <span @click="sendMessage">发送</span>
            </div>
        </div>
    </div>
</template>

<script>
    // 每次切换tab ws 发送 open 然后重新获取数据  
    // 每次切换tab 会关闭不显示的 客服 或者 聊天室 清空数据 ws发送 close 
    import utils from '@/assets/js/utils'
    import chatItem from '@/components/buoy/common/chatItem'
    import kfInfo from './KFInfo.vue'

    import WSChat from '@/assets/js/vue/methodsChat.js'
    export default {
        data(){
            return {
                defaultDataList:[{
                    command:"CHAT",
                    fromUserProfile:{
                        isHost:false,
                        profile:{
                            headUrl:'http://q.qlogo.cn/qqapp/101026391/08F712AFECA9B2805863CFA337AC4143/100',
                            nickname:'女王大人',
                            sex:2
                        }
                    },
                    link:'http://wpa.qq.com/msgrd?v=3&uin=2781758974&site=qq&menu=yes',
                    imgUrl:"http://images.1758.com/image/20170428/open_1_96e60dcf15530041e73f6b812926b7d6.jpg",
                    msgType:"IMG",
                    showTime:"今天",
                },{
                    command:"CHAT",
                    fromUserProfile:{
                        isHost:false,
                        profile:{
                            headUrl:'http://q.qlogo.cn/qqapp/101026391/08F712AFECA9B2805863CFA337AC4143/100',
                            nickname:'女王大人',
                            sex:2
                        }
                    },
                    link:'http://wpa.qq.com/msgrd?v=3&uin=2660866818&site=qq&menu=yes',
                    imgUrl:"http://images.1758.com/image/20170428/open_1_a136132780930e6ce7efc17aa9127bf4.jpg",
                    msgType:"IMG",
                    showTime:"今天",
                },{
                    command:"CHAT",
                    fromUserProfile:{
                        isHost:false,
                        profile:{
                            headUrl:'http://q.qlogo.cn/qqapp/101026391/08F712AFECA9B2805863CFA337AC4143/100',
                            nickname:'女王大人',
                            sex:2
                        }
                    },
                    imgUrl:"http://images.1758.com/image/20170428/open_1_3ec3af4fa84804ccc53b56e8f7e3752c.jpg",
                    msgType:"IMG",
                    showTime:"今天",
                }],
                // 历史聊天信息
                wsDataList:[],
                // 用户当前输入聊天信息
                chatData:'',
                // 显示客服信息 还是客服聊天
                isInfoShow: true
            }
        },
        mounted(){
            utils.overscroll(document.querySelector('.scroll'));
            WSChat.registerEvent('kf',this.handleWsData)
        },
        activated(){
            // 客服场景打开
            WSChat.kfTabSwitch(true);
            console.log('kf activated')
        },
        deactivated(){
            // 客服场景关闭
            WSChat.kfTabSwitch(false);
            // 清空消息
            this.wsDataList = [];
            console.log('kf deactivated')
        },
        components:{
            chatItem,
            kfInfo
        },
        methods:{
            // 发送消息
            sendMessage(){
                if(this.chatData == ''){return ;}
                var value = this.chatData;
                if(value.length > 300){
                    value = value.substr(0,300);
                }
                value = HLMY_WS.chartEscape(value);
                var message = {
                    "fromToken": this.$store.state.StoreChatInfo.fromToken, 
                    "command": "CHAT", 
                    // "dialogKey": this.$store.state.StoreChatInfo.kfDialogKey, 
                    "dialogKey": 1, 
                    "msgType": "TEXT", 
                    "content": value
                };
                HLMY_WS.send(message);
                this.chatData = "";
            },
            handleWsData(dataList){
                this.wsDataList = this.wsDataList.concat(dataList.reverse())
            },
            // 切换客服聊天内部页面
            switchKfChat(bl){
                if(bl == 'info'){
                    this.isInfoShow = true;
                }else{
                    this.isInfoShow = false;
                }
            }
        }
    }
</script>

<style lang="stylus" scoped>
    .back-btn{
        position: absolute;
        right: 0;
        top: 12px;
        width: 50px;
        height: 30px;
        line-height: 30px;
        color: #FFF;
        background-color: rgba(0,0,0,.6);
        z-index: 2;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        font-size: 12px;
        text-align center
        padding-bottom 0
    }
    .chat-container{
        height 100%
        width 100%
        .item-wrapper {
            background-color #ebebeb
            overflow auto
            height 100%
            position relative
            -webkit-overflow-scrolling touch
            .chat-wrapper{
                padding-bottom 1.6rem
            }
            
        }
        .input-container{
            padding .2rem 0
            background-color #ebebeb
            
            input{
                border 1px solid #ddd
                margin 0 .2rem
                padding .16rem
                outline 0
                border-radius 5px
            }
            span{
                background: #fca218;
                padding: .16rem .28rem
                color: #fff;
                margin-right: .2rem
                border-radius: 5px;
            }
        }
    }
</style>