<template>
    <div>
        <!-- 客服tab信息展示 -->
        <div flex="dir:top box:last" class="container">
            <!-- 上半部分 -->
            <div class="info-wrapper" flex-box="1">
                <div class="scroll">
                    <!-- 1、客服专区 -->
                    <div class="kf-square">
                        <div class="info-head">
                            <span class="point"></span>客服专区
                        </div>
                        <div class="wrapper" flex="box:first cross:center">
                            <div class="left">
                                <img src="http://images.1758.com/image/20171213/open_104818_1de62515de2c4639fb47fabbd06a50bc.png" alt="1758">
                            </div>
                            <div class="right">
                                <div class="kf-tip">客服专区-24小时在线</div>
                                <div class="qq">
                                    QQ:2660866818
                                </div>
                                <div class="kfbtn">
                                    <a href="http://wpa.qq.com/msgrd?v=3&uin=2660866818&site=qq&menu=yes">点击联系官方客服QQ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 2、消息专区 -->
                    <div class="message-square">
                        <div @click="switchKfChat">我的消息盒子</div>
                    </div>
                    <!-- 3、vip特权专区 -->
                    <div class="vip-square">
                        <div class="info-head">
                            <span class="point"></span>VIP特权专区
                        </div>
                        <div class="vip-square-list">
                            <div class="v-s-item" flex="cross:center">
                                <div flex-box="3">
                                    <div>
                                        <div class="v-s-title">贵族礼包</div>
                                        <div class="v-s-desc">贵族专享 身份红利</div>
                                    </div>
                                </div>
                                <div flex-box="2">
                                    <img src="http://images.1758.com/image/20171213/open_104818_e71e111d02248aba522c856237e7f5ac.png">
                                </div>
                            </div>
                            <div class="v-s-item" flex="cross:center">
                                <div flex-box="3">
                                    <div>
                                        <div class="v-s-title">专属折扣</div>
                                        <div class="v-s-desc">相同消费，更为优惠，更享尊贵</div>
                                    </div>
                                </div>
                                <div flex-box="2">
                                    <img src="http://images.1758.com/image/20171213/open_104818_748a592ee18f235a7c45298f5a4b249b.png">
                                </div>
                            </div>
                            <div class="v-s-item" flex="cross:center">
                                <div flex-box="3">
                                    <div>
                                        <div class="v-s-title">贴心客服</div>
                                        <div class="v-s-desc">专属客服妹子一对一服务,优先解答您的问题及需求</div>
                                    </div>
                                </div>
                                <div flex-box="2">
                                    <img src="http://images.1758.com/image/20171213/open_104818_6831f7b976438dc807774710b7d07a31.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 下半部分 -->
            <div class="btn-wrapper" flex-box="0">
                <div class="btn" @click="myKeFu">我的专属客服</div>
                <div class="btn-tip">VIP4以上点击了解更多福利</div>
            </div>
        </div>
        <!-- 我的专属客服  二维码展示 -->
        <hlmy-modal-img
            v-if="vipEwmShow"
            :imgUrl="vipEwmUrl"
            @close="vipEwmClose"
        ></hlmy-modal-img>
        <!-- 等级不够 我的专属客服 -->
        <div class="fixed-container not-kf" v-if="notVipShow">
            <div class="wrapper">
                <img src="http://images.1758.com/image/20171214/open_104818_7da7001a8a0a6c4ea8b3f6d4e48cb6d4.png" alt="">
                <div class="text">
                    <p>您的VIP等级未达到4级以上</p>
                    <p>部分特权暂未开启</p>
                    <a href="//wx.1758.com/play/rule/intro?tab=1&tp=full&ex1758=1&title=经验等级规则">
                        查看经验规则
                    </a>
                </div>
                <div class="btn" @click="IKnow">
                    我知道了
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import utils from '@/assets/js/utils'
    import  qs from 'qs'
    export default {
        data(){
            return {
                mobile:'',
                weixinNumber:'',
                vipLevel: 0,
                // 我的专属客服  二维码图片弹框
                vipEwmShow: false,
                vipEwmUrl:'http://images.1758.com/image/20171214/open_104818_988bdc10809223158d84c30e61bbd292.png',
                // 等级不够  我的二维码弹框
                notVipShow: false
            }
        },
        mounted(){
            utils.overscroll(document.querySelector('.scroll'));
            this.getUserClubInfo();
            this.getUserVIPInfo();
        },
        methods:{
            // 切换到客服聊天室
            switchKfChat(){
                this.$emit('click')
            },
            // 我的专属客服点击
            myKeFu(){
                if(this.mobile && this.weixinNumber){
                    if (this.vipLevel > 3) {
                        // 用户已经填写之后，并且vip大于等于4，则弹出二维码让用户关注
                        this.vipEwmShow = true;
                    } else {
                        // 用户等级达不到，弹框提示
                        this.notVipShow = true;
                    }
                }else{
                    // location.href = 'http://wx.1758.com/play/vip/club?tp=full&ex1758=1&title=VIP俱乐部'
                }
            },
            // 获取用户俱乐部信息
            // {
            // "result" : 1,
            // "errorcode" : 0,
            // "data" : {
            //     "contactInfo" : {
            //     "qqNumber" : "573858914",
            //     "realname" : "haha",
            //     "idNumber" : "155111111",
            //     "birthDate" : 1498492800000,
            //     "birthday" : "20170627"
            //     }
            // }
            // }
            getUserClubInfo(){
                var url= '/play/user/contact/loadContactInfo.json';
                this.axios.get(url)
                    .then(response => {
                        var resData = response.data;
                        if (resData.result == 1 && resData.data && resData.data.contactInfo) {
                            this.mobile = resData.data.contactInfo.mobile || '';
                            this.weixinNumber = resData.data.contactInfo.weixinNumber || '';
                        }
                    })
                    .catch(err => {
                        console.log(err);
                    })
            },
            // 获取用户vip信息
            getUserVIPInfo(){
                var url = '/play/user/profile.json'
                this.axios.post(url,qs.stringify({
                        mode: 4
                    }))
                    .then(response => {
                        var resData = response.data;
                        if(resData.result == 1 && resData.data && resData.data.userProfile){
                            this.vipLevel = resData.data.userProfile.vipInfo.vipLevel
                        }
                    })
                    .catch(err => {
                        console.log(err);
                    })
            },
            // 关闭我的专属二维码弹框
            vipEwmClose(){
                this.vipEwmShow = false;
            },
            // 我知道了
            IKnow(){
                this.notVipShow = false;
            }
        },
        components:{
            'hlmyModalImg':() => import('@/components/main/activities/ModalImg.vue')
        }
    }
</script>

<style lang="stylus" scoped>
    .container{
        width 100%
        height 100%
        .point{
            width: 6px;
            border-radius: 50%;
            height: 6px;
            display: inline-block;
            margin-bottom: 2px;
            margin-right: 5px;
            font-size: 15px;
            background-color #70b537
        }
        // 上半部分客服
        .info-wrapper{
            overflow-y auto
        }
        .kf-square{
            padding-top .16rem
            background #f2f2f2
            & > div{
                background #fff;
            }
            .info-head{
                padding .2rem .3rem .1rem
                border-bottom 1px solid #f7f7f7
                font-size 12px
                .point{
                    background red
                }
            }
            .wrapper{
                padding .2rem .3rem
                border-bottom 1px solid #f7f7f7
                .left{
                    width 30%
                    display inline-block
                    vertical-align middle
                    img{
                        width 100%
                        vertical-align middle
                    }
                }
                .right{
                    display inline-block
                    vertical-align middle
                    text-align center
                    .kf-tip{
                        font-size 13px
                    }
                    .qq{
                        margin .1rem 0
                        font-size 13px
                        color #9b9b9b
                    }
                    .kfbtn{
                        border: 1px solid #72b959;
                        display: inline-block;
                        padding: .1rem .2rem
                        border-radius: 8px;
                        color: #72b959;
                        a{
                            color #72b959
                        }
                    }
                }
            }
        }
        // 下半部分
        .message-square{
            padding .2rem 0
            text-align center
            border-bottom 1px solid #f7f7f7
            div{
                background: url(http://images.1758.com/image/20171213/open_104818_d88e96669180410553d55b22da3c543a.jpg) no-repeat #383a39
                border-radius: 5px;
                display: inline-block;
                margin: auto;
                width: 5rem;
                height: .64rem
                line-height: .64rem
                color: #fff;
                background-size: 100% 100%;
            }
        }
        .vip-square{
            .info-head{
                background: #fff;
                padding: 10px 15px 5px;
                border-bottom: 1px solid #f7f7f7;
                position: relative;
                font-size: 12px;
            }
            .vip-square-list{
                padding-left .3rem
                padding-bottom .5rem
                .v-s-item{
                    & >div{
                        overflow hidden
                        width 0
                    }
                }
                .v-s-title{
                    color: #ffd392;
                    font-size: 13px;
                }
                .v-s-desc{
                    color: #9b9b9b;
                    font-size: 12px;
                }
                img{
                    vertical-align bottom
                    width 100%
                    height 100%
                }
            }
            
        }
    }
    .btn-wrapper{
        padding .1rem 0;
        background-color #fff
        .btn{
            width: 85%;
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            background-color: #faa50e;
            border-radius: 6px;
            letter-spacing: 2px;
            text-align: center;
            margin: auto;
            color: #fff;
        }
        .btn-tip{
            color: #9b9b9b;
            padding-top: 4px;
            text-align: center;
            font-size: 12px;
        }
    }
    // 不够1758 vip4的专属客服弹框
    .not-kf{
        .wrapper{
            position absolute
            background #ffffff
            top 50%
            left 0
            right 0
            width 5.6rem
            margin auto 
            transform translateY(-50%)
            text-align center
            border-radius 10px
            img{
                width 3.6rem
                position absolute 
                left 0
                right 0
                top -.8rem
                margin auto
            }
            .text{
                font-size 16px
                text-align center
                margin-top 1.6rem
            }
            p{
                font-weight 700
                margin-top .1rem
            }
            a{
                color: red;
                font-size: 14px;
                padding: 10px 0;
                display: block;
            }
            .btn {
                font-size: 16px;
                height: .9rem
                line-height: .9rem
                background-color: #5bbd2a;
                color: #fff;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
    }
</style>