@charset "utf-8";
/**
 * footer
 */
@font-face {
	font-family:'h5';
	src: url('/static/common/font/icomoon.woff') format('woff'),url("/static/common/font/icomoon.ttf") format('truetype');
	font-weight:normal;
	font-style:normal;
}
body {
    font-size: 14px;
    font-family: 'Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft Yahei','WenQuanYi Micro Hei',sans-serif;
    -webkit-tap-highlight-color: transparent;
    color: #3C3C3C;
    background-color: #F2F2F2;
}
.base-footer {
    /*position: fixed;*/
    position: -ms-device-fixed;
    /*height: 50px;*/
    bottom: 0;
    background-color: #f7f7f7;
    border-top: 1px solid rgb(230,230,230);
    z-index: 1000;
    /*min-width: 85%;*/
   position: absolute;
   width: 100%;
}
.base-menu {
    height: 100%;
    text-align: center;
    margin: 0;
}
a {
    text-decoration: none;
    color: #1F1F1F;
}
.base-footer img {
    height: 50px;
    display: block;
    margin: 0 auto;
}

/*modal-content*/
.modal-content{
	width: 100%;
    height: 100%;
    background: #fff;
    position: relative;
}
/*tip show*/
.tip {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: rgba(0,0,0,0.5);
}
.tip-dialog {
    display: table;
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 100%;
}
.tip-wrapper {
    display: table-cell;
    vertical-align: middle;
}
.tip-content {
    position: relative;
    background-color: #fff;
    border-radius: 6px;
    outline: 0;
}
.tip-body {
    position: relative;
    padding: 15px;
    text-align: center;
}

/*chat*/
.chat{
	height: 100%;
	width: 100%;
}
.chat-panel{
	/*display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-box-orient:vertical;
	-webkit-box-orient:vertical;
	box-orient:vertical;
    flex-direction: column;*/
    height: 100%;
    width: 100%;
    position: relative;
}
.panel-header{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
/*chat-body*/
.panel-body-wrapper{
	/*-webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;*/
    background-color: #F2F2F2;
    overflow: auto;
    padding-bottom: 70px;
    position: absolute;
    width: 100%;
    top: 41px;
    bottom: 50px;
}
.chat-content-group {
	padding: 10px;
}
.chat-content-group.buddy{
	text-align: left;
}
.chat-content-group.self{
	text-align: right;
}
.self>.chat-content-avatar{
	float: right;
	margin-left: 10px;
	margin-right: 0;
}
.self>.chat-content{
	background-color: #FCA218;
	color: #fff;
	text-align: left;
}
.chat-content-avatar {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.chat-nick {
    font-size: 14px;
    margin: 0 0 5px;
}
.chat-content {
    display: inline-block;
    min-height: 16px;
    max-width: 50%;
    background: #fff;
    /*background: -webkit-gradient(linear,left top,left bottom,from(#cf9),to(#9c3));
    background: -webkit-linear-gradient(#cf9,#9c3);
    background: -moz-linear-gradient(#cf9,#9c3);
    background: -ms-linear-gradient(#cf9,#9c3);
    background: -o-linear-gradient(#cf9,#9c3);
    background: linear-gradient(#cf9,#9c3);*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 10px;
    word-break: break-all;
    /*box-shadow: 1px 1px 5px #000;*/
    line-height: 1.4;
}

/*chat-footer*/
.panel-footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px 5px;
    box-sizing: border-box;
    background-color: #fff;
    border-top: 1px solid #F0F0F0;
}
.chat-toobar{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.chat-textarea{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.chat-textarea{
	/*display: inline-block;*/
	width: 80%;
	/*width: 300px;*/
	height: 30px;
	border-radius: 5px;
	/*padding: 3px;*/
	min-height: 20px;
	max-height: 60px;
	overflow: auto;
	border: 1px solid #A7A7A7;
	/*-webkit-user-modify: read-write-plaintext-only*/
	/*user-modify: read-write-plaintext-only;*/
}
.chat-textarea .chat-container{
	width: 100%;
	height: 100%;
	padding: 3px 10px;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
.chat-textarea .chat-container:focus{
	border: none;
}
.chat-send-btn{
	/*display: inline-block;*/
	text-align: center;
	width: 80px;
	box-sizing: border-box;
}
.btn-text{
	padding: 4px;
	font-size: 14px;
	background-color: #FCA218;
	color: #fff;
	display: block;
	margin: 3px 10px;
	border-radius: 3px;
}
/*chat time*/
.chat-time{
	text-align: center;
}
.chat-time span {
    color: rgba(255,255,255,.8);
    background: rgba(0,0,0,.3);
    padding: 2px 8px;
    display: inline-block;
    margin: 10px;
    font-size: 13px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}
