html,body{
	height: 100%;
	background-color: #fff;
}
.bg{
	background-color: #FFF;
}
.gone{
	display: none;
}
.gift{
	margin-bottom: 50px;
}
.talk{
	background-color: #fff;
	padding-bottom: 50px;
}
.talk,.gift{
	position: absolute;
    bottom: 0;
    top: 0;
    overflow: auto;
    width: 100%;
}
/*头部*/
.head{
	text-align: center;
	font-size: 16px;
	color: #FCA218;
	position: relative;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #f7f7f7;
}
.head>span>img{
	width: 100px;
	vertical-align: middle;
}
.head .h-info{
	position: absolute;
	right: 0;
	top: 0;
	width: 70px;
}
.h-info img{
	width: 20px;
	vertical-align: middle;
}
.head .h-close{
	position: absolute;
	left: 0;
	top: 0;
	width: 70px;
}
.h-gift img{
	width: 32px;
	border-radius: 30px;
}
/*评论*/
.comment-logo{
	position: fixed;
	margin-right: 15%;
	right: 4px;
	bottom: 50px;
}
.comment-logo img{
	width: 60px;
}
/*收藏 显示主页*/
.listshow{
	padding: 5px 0;
	background-color: #F2F2F2;
}
.listshow>ul{
	padding: 10px 0;
	background-color: #fff;
}
.ls-li{
	text-align: center;
	color: #A7A7A7;
}
.ls-li>a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.ls-img{
	position: relative;
	display: inline-block;
	height: 50px;
}
.listshow img{
	width: 50px;
	text-align: center;
	border-radius: 30px;
}
.listshow .ls-flag{
	position: absolute;
	width: 20px;
	right: -5px;
	top: 30px;
}
/*加载更多*/
.more-info {
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    color: rgb(155,155,155);
}
.more-info a {
    color: rgb(155,155,155);
}
/*礼包*/
.list .item{
	position: relative;
    padding: 10px 15px;
    border-bottom: 1px solid rgb(247,247,247);
}
.list .item > a.i-info{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    width: 100%;
    position: relative;
}
.list .item:active{
	background-color: rgba(227,249,226,0.5);
}

.list .item .cover {
    line-height: 0px;
}
.list .item .cover img {
    width: 50px;
    margin-right: 10px;
}
.list .item .meta {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #9b9b9b;
    overflow: hidden;
}
.list .meta .title {
    color: #3C3C3C;
    padding-top: 5px;
    margin-right: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 6px;
}
.g-progress {
    display: inline-block;
}
.progress-bar {
    height: 3px;
    width: 120px;
    border: 1px solid #EAEDED;
    border-radius: 5px;
}
.progress-bar .progress-active {
    background-color: #FCA218;
    height: 5px;
    border-radius: 5px;
    margin-left: -1px;
    margin-top: -1px;
}
.g-rest {
    display: inline-block;
    vertical-align: sub;
    margin-left: 10px;
    color: #FCA218;
    font-size: 12px;
}
.list .item .play-btn,
.list .item .fail-btn, 
.list .item .end-btn, 
.list .item .tao-btn{
	position: absolute;
    width: auto;
    right: 15px;
    top: 50%;
    margin-top: -13px;
    vertical-align: middle;
    border: 1px solid #FCA218;
    padding: 4px 4px;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #FCA218;
    font-size: 12px;
}
.list .item .fail-btn{
	color: #a7a7a7;
	background: none;
	border: none;
}
.list .item .end-btn{
	color: #d1d1d1;
	background: none;
	border: none;
}
.list .item .tao-btn{
	border: 1px solid #a7a7a7;
	color: #A7A7A7;
}
.tao-btn:after {
    font-family: "h5";
    content: "\e60b";
    padding-top: 3px;
    vertical-align: middle;
}
.play-btn:after {
    font-family: "h5";
    content: "\e60b";
    padding-top: 3px;
    vertical-align: middle;
}
.g-fail-day {
    display: inline-block;
    vertical-align: text-bottom;
    color: #71A540;
    font-size: 12px;
}
/*专属礼包*/
.tip-dialog{
	width: 83%;
}
.tip-body{
	padding: 15px 0;
}
.exclusive {
    border: 1px solid #71a540;
    color: #71a540;
    margin-left: 3px;
    font-size: 10px;
    border-radius: 2px;
    padding: 0 2px;
    vertical-align: inherit;
    display: inline-block;
    position: absolute;
}
.exclusive-flag{
	background: url("http://wx.1758.com/game/h5/images/exclusive.png") no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    /*background-position: initial;*/
    background-size: cover;
    top: 0;
    margin-top: -10px;
    margin-right: -15px;
}
.ex-con{
	font-size: 15px;
}
.ex-inner{
	display: inline-block;
	margin-top: 6px;
	width: 100%;
}
.ex-info{
	font-size: 12px;
	color: #9b9b9b;
}
.ex-load{
	font-size: 16px;
    color: #097af6;
    display: block;
    width: 100%;
    border-top: 1px solid #f7f7f7;
    margin-top: 5px;
    padding-top: 12px;
}
/*聊吧*/
.n-item{
	padding: 12px 10px 12px 9px;
	position: relative;
    border-bottom: 1px solid rgb(247,247,247);
}
.n-item .info-item{
	position: relative;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    cursor: pointer;
}
.n-item .cover{
	position: relative;
    display: inherit;
    text-align: center;
    overflow: hidden;
    background-size: auto 80%;
    background-position: center;
}
.n-item .cover a{
	height: 40px;
}
.n-item .cover a img{
	width: 40px;
    height: 40px;
    border-radius: 5px;
    display: inline-block;
}
.n-item .meta {
    -webkit-box-flex: 3;
    -moz-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    margin-left: 10px;
    padding-top: 0;
}
.n-item .meta .title{
	color: #18a3e3;
    font-size: 14px;
    padding-top: 0;
}
.n-item .meta .desc{
    color: #1F1F1F;
    font-size: 14px;
    margin-top: 4px;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
}
.n-item .meta .u-img{
	margin-top: 5px;
}
.u-img img {
    width: 49%;
    padding-top: 5px;
    padding-right: 5px;
    display: inline-block;
    box-sizing: border-box;
}
.n-item .meta .g-replay{
	margin-top: 11px;
}
.n-item .r-time {
    position: relative;
    margin: 10px 10px 10px 0;
    font-size: 12px;
}
.n-item .r-time img {
    width: 15px;
    margin-bottom: 0;
}
.n-item .r-time>span {
    color: rgb(155,155,155);
}
.n-item .t-info {
    float: right;
    font-size: 12px;
    margin-right: -12px;
}
.n-item .t-info>span {
    display: inline-block;
    width: 50px;
    text-align: center;
}
.n-item .t-info span:first-child {
    margin-right: 5px;
}
.n-item .t-info span img {
    margin-right: 3px;
    margin-bottom: -2px;
}



.n-item .r-com{
    position: relative;
}
.mask{
	width: 16px;
    height: 8px;
    position: absolute;
    top: -9px;
    left: 30px;
    z-index: 999;
}
.pladebox {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    margin: 4px 0 0 3px;
    background-color: #f7f7f7;
}
.n-item .com-inner {
    padding: 10px;
    background-color: #f7f7f7;
    font-size: 12px;
}
.n-item .com-inner>div {
    margin-bottom: 4px;
}
.n-item .com-inner a {
    cursor: pointer;
    word-wrap: normal;
    word-break: break-all;
}
.n-item a.c-name {
    color: #18A3E3;
    cursor: pointer;
}