<template>
    <!-- 各种活动弹框 -->
    <div>
        <!-- 被动订阅二维码弹框关注 -->
		<hlmy-modal-img
			v-if="autoEwmShow"
			:imgUrl="autoEwmUrl"
			@close="subscribeEwmClose"
		></hlmy-modal-img>
		<!-- sdk显示二维码弹框关注 -->
		<hlmy-modal-img
			v-if="sdkEwmShow"
			:imgUrl="sdkEwmImg"
			@close="sdkEwmClose"
		></hlmy-modal-img>
		<!-- 活动展示图片弹层 -->
		<hlmy-modal-img
			v-if="promotionShow"
			:imgUrl="promotionImgUrl"
			:linkUrl="promotionLinkUrl"
			@close="promotionClose"
		></hlmy-modal-img>
        <!-- 充值活动弹框 -->
		<hlmy-recharge
			v-if="rechargeShow"
            :imgUrl="rechargeImgUrl"
            :linkUrl="rechargeLinkUrl"
            @close="rechargeClose"
		></hlmy-recharge>
        <!-- 消息推送设置 -->
		<push-set 
            v-if="pushSetShow"
        ></push-set>
        <!-- 模拟cp弹框分享提示 -->
		<simulate 
            v-if="simulateShow"
        ></simulate>
    </div>
</template>

<script>
    import {mapState} from 'vuex'
    import MethodsPromotion from '@/assets/js/vue/methodsPromotion.js'
    export default {
        computed:{
            ...mapState({
                // 显示自动查询的二维码
                autoEwmShow: state => state.StoreSubscribeInfo.isShow,
                autoEwmUrl: state => state.StoreSubscribeInfo.url,
                // sdk 关注二维码功能
                sdkEwmShow: state => state.StoreSdkFollowInfo.isShow,
                sdkEwmImg: state => state.StoreSdkFollowInfo.url,
                // 运营活动弹框展示
                promotionShow: state => state.StorePromotionInfo.isShow,
                promotionImgUrl: state => state.StorePromotionInfo.imgUrl,
                promotionLinkUrl: state => state.StorePromotionInfo.linkUrl,
                // 充值活动弹框
                rechargeShow: state => state.StoreRechargeInfo.isShow,
                // 是否显示推送设置
                pushSetShow(state){
                    return state.StorePushSetInfo.initial === 'perference';
                },
                // 是否显示关注
			    simulateShow: state => state.StoreSimulateInfo.isShow,
            })
        },
        mixins:[{methods:MethodsPromotion}],
        methods:{
            // 被动关注 关闭弹框
            subscribeEwmClose() {
                this.$store.commit('StoreSubscribeInfo', { isShow: false });
            },
            //  sdk关注二维码 关闭弹框
            sdkEwmClose() {
                this.$store.commit('StoreSdkFollowInfo', {
                    isShow: false
                })
            },
            // 充值活动点击关闭弹框
            rechargeClose(){
                this.$store.commit('StoreRechargeInfo',{
                    isShow: false
                })
            }
        },
        components:{
            'hlmyModalImg':() => import('@/components/main/activities/ModalImg.vue'),
            'hlmyRecharge': () => import('@/components/main/activities/Recharge.vue'),
            'pushSet': () => import('@/components/main/activities/PushSet.vue'),
            'simulate': () => import('@/components/main/activities/Simulate.vue')
        }
    }
</script>

<style lang="stylus" scoped>

</style>