<template>
    <!-- 展示图片，包括二维码图片，活动图片 -->
    <div class="fixed-container" @click.self="close">
        <div class="wrapper">
            <div class="close" v-if="closeBtnShow">
                <div @click="close">
                    关闭
                </div>
            </div>
            <a :href="linkUrl" v-if="linkUrl">
                <img :src="imgUrl" alt="1758活动">
            </a>
            <img v-else :src="imgUrl" alt="1758活动">
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            linkUrl:'',
            imgUrl:'',
            // 是否有关闭按钮
            closeBtnShow:{
                default: false,
                type: Boolean
            },
            containerClose:{
                default: true,
                type: Boolean
            }
        },
        methods:{
            close(){
                this.$emit('close');
            }
        }
    }
</script>

<style lang="stylus" scoped>
    .wrapper{
        position absolute
        text-align center
        left 0
        right 0
        top 50%
        transform translateY(-50%)
        .close{
            color #ffffff
            font-size 20px
            div{
                display inline-block
                padding 0 .3rem
            }

        }
        img{
            width 85%
        }
    }
</style>