<template>
    <!-- 设置消息提醒组件 -->
    <section class="push-container fixed-container">
        <div class="push-wrapper">
            <div class="head">
                <span>设置</span>
                <div class="close" @click="close"> 
                    <img src="http://images.1758.com/image/20170622/open_1_78a782beeec91cf9ee25202b178870cf.png" alt=""> 
                </div>
            </div>
            <div class="body">
                <div class="push-user">
                    <div class="img-wrapper"> 
                        <img :src="headImg"> 
                    </div>
                    <div class="userinfo">
                        <div class="name">
                            <span class="male">{{userName}}</span>
                            <span class="userlevel" v-if="vipLevel>0">VIP{{vipLevel}}</span>
                        </div>
                        <div class="explevel" v-html="iconHtml"> </div>
                    </div>
                </div>
                <div class="item">
                    <div flex>
                        <div class="time" flex-box="2">
                            <h3 class="title">推送提醒</h3>
                            <div class="desc"> 白天08:00 ~ 22:00 </div>
                        </div>
                        <div class="btn" flex-box="1">
                            <label class="switch" @click="switchDay"> 
                                <input type="checkbox" v-model="dayValue">
                                <div class="slider round">
                                    <span class="btn-on">ON</span>
                                    <span class="btn-off">OFF</span>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div flex>
                        <div class="time" flex-box="2">
                            <h3 class="title">推送提醒</h3>
                            <div class="desc"> 晚上22:00 ~ 08:00 </div>
                        </div>
                        <div class="btn" flex-box="1">
                            <label class="switch" @click="switchNight"> 
                                <input type="checkbox" v-model="nightVaule">
                                <div class="slider round">
                                    <span class="btn-on">ON</span>
                                    <span class="btn-off">OFF</span>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import qs from 'qs'
import utils from '@/assets/js/utils'
export default {
    data(){
        return {
            dayValue: false,
            nightVaule: false,
            vipLevel: 0,
            iconHtml: '',
        }
    },
    computed:{
        userName(){
            return this.$store.state.StoreUserInfo.nickname
        },
        headImg(){
            return this.$store.state.StoreUserInfo.headUrl
        }
    },
    mounted(){
        // 获取vip信息
        this.getUserVipExp();
        this.getPerference();
    },
    methods:{
        close(){
            this.isShow = false;
            this.updatePerference();
        },
        // 更新设置提醒状态
        updatePerference(){
            var url = '/play/user/updatePerference.json';
            var params = {
                pushDayEnable: this.dayValue,
                pushNightEnable: this.nightVaule
            };
            this.axios.post(url,qs.stringify(params))
                .then(response => {
                    this.$store.commit('StorePushSetInfo', {'initial':''})
                })
                .catch(err =>{
                    this.$store.commit('StorePushSetInfo', {'initial':''})
                    console.log(err)
                })
        },
        // 获取用户经验等级
        getUserVipExp(){
            var url = '/play/user/profile.json';
            this.axios.post(url,qs.stringify({mode:12}))
                .then((response)=>{
                    var resData = response.data;
                    if(resData.result == 1 && resData.data && resData.data.userProfile){
                        var userInfo = resData.data.userProfile;
                        this.vipLevel = userInfo.vipInfo.vipLevel;
                        this.iconHtml = utils.expToIcon(userInfo.expInfo.expLevel)
                    }
                })
                .catch(function(err){console.log(err)})
        },

        // 获取设置提醒状态
        getPerference(){
            var url = "/play/user/perference.json";
            this.axios.get(url)
                .then( response => {
                    var resData = response.data;
                    if(resData.result == 1 && !!resData.data && !!resData.data.userPerference){
                        if(resData.data.userPerference.pushDayEnable){
                            this.dayValue = true;
                        }
                        if(resData.data.userPerference.pushNightEnable){
                            this.nightVaule = true;
                        }
                    }
                })
                .catch(err => console.log(err))
        },
        // 切换状态
        switchNight(){
            this.nightVaule = !this.nightVaule;
        },
        // 切换状态
        switchDay(){
            this.dayValue = !this.dayValue;
        }
    }
}
</script>

<style scoped lang="stylus">
    .push-container{
        text-align: center;
        .push-wrapper{
            position: absolute;
            width: 80%;
            top: 50%;
            left: 0;
            right: 0;
            margin: 0 auto;
            transform: translateY(-50%);
            background-color: #fff;
            border-radius: 9px;
            .head{
                height: 1rem
                line-height: 1rem
                color: #fff;
                font-size: 16px;
                background-color: #fca218;
                border-top-left-radius: 9px;
                border-top-right-radius: 9px;
                position: relative;
                .close{
                    position: absolute;
                    right: .2rem
                    top: 50%;
                    transform: translateY(-50%);
                    img {
                        width .4rem
                        vertical-align middle
                    }
                }
            }
            .body{
                border-bottom-left-radius: 9px;
                border-bottom-right-radius: 9px;
                .push-user{
                    padding: .2rem .3rem
                    border-bottom: 1px solid #f2f2f2;
                    text-align: left;
                    .img-wrapper {
                        vertical-align middle
                        display inline-block
                        img {
                            width: 1rem
                            border-radius: 100%;
                            border: 2px solid #f2f2f2;
                            vertical-align: bottom;
                        }
                    }
                    .userinfo {
                        display inline-block
                        vertical-align middle
                        .male {
                            color: #18a3e3;
                            font-size: 14px;
                            padding-top: 0;
                        }
                        .userlevel{
                            background-color: red;
                            color: #fff;
                            font-size: 10px;
                            padding: 1px 3px 0;
                            border-radius: 2px;
                            margin-left: 5px;
                            margin-bottom: 2px;
                            height: 13px;
                            line-height: 13px;
                            vertical-align: middle;
                        }
                        
                    }
                }
                // 开关设置
                .item{
                    border-bottom: 1px solid #dcdcdc;
                    margin: 0 .3rem
                    padding: .2rem 0;
                    text-align: left;
                    .time {
                        .title {
                            font-size: 16px;
                            color: #3c3c3c;
                            font-weight 400
                        }
                        .desc{
                            color #9b9b9b
                        }
                    }
                    .btn {
                        overflow: hidden;
                        text-align: right;
                        padding-top: .14rem
                        position: relative;
                        .switch {
                            position: relative;
                            display: inline-block;
                            width: 1.36rem
                            height: .6rem

                            input {
                                display none!important
                                &:checked {
                                    & + .slider {
                                        border: 1px solid #5bbd2a;
                                        box-sizing: border-box;
                                        background-color: #fff;
                                        .btn-on{
                                            display: inline-block
                                        }
                                        .btn-off{
                                            display none
                                        }
                                        &:before{
                                            background-color: #5bbd2a;
                                            transform: translateX(36px);
                                        }   
                                    }
                                }
                            }
                            .slider {
                                position: absolute;
                                cursor: pointer;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                background-color: #f2f2f2;
                                border: 1px solid #ccc;
                                transition: .4s;
                                color: #5bbd2a;
                                &:before{
                                    position: absolute;
                                    content: "";
                                    height: .48rem
                                    width: .48rem
                                    left: .04rem
                                    bottom: .04rem
                                    background-color: #ccc;
                                    -webkit-transition: .4s;
                                    transition: .4s;
                                }
                            }
                            .round{
                                border-radius 34px
                                &:before{
                                    border-radius: 50%;
                                }
                            }
                            
                            .btn-on{
                                display: none;
                                padding-left: .2rem
                                text-align: left;
                                font-size: 16px;
                                line-height: .56rem
                                width: 100%;
                                box-sizing: border-box;
                            }
                            .btn-off{
                                padding-right: 7px;
                                color: #ccc;
                                display: inline-block;
                                text-align: right;
                                font-size: 16px;
                                line-height: .56rem
                                width: 100%;
                                box-sizing: border-box;
                                padding-top .01rem
                            }
                            
                        }
                    }
                }
            }
        }
    }
</style>
<style lang="stylus">
.explevel{
    img {
        width .32rem
    }
} 
</style>
