<template>
    <!-- 充值弹框活动，点击直接吊起cp的充值接口 -->
    <div class="fixed-container recharge-container" @click.self="close">
        <div class="wrapper">
            <img :src="rechargeImgUrl" alt="">
            <div class="recharge-btn" @click="rechargeClick"></div>
        </div>
    </div>
</template>

<script>
    export default {
        methods:{
            // 充值点击
            rechargeClick(){
                window.frames['cpframe'].postMessage({
                    hlmy: true,
                    from: '1758',
                    type: 'fn',
                    value: {
                        'fn': 'orderPayment1758',
                        args: this.itemCode
                    }
                }, '*')
            },
            // 关闭
            close(){
                this.$store.commit('StoreRechargeInfo',{
                    isShow: false
                })
            }
        },
        computed:{
            itemCode(){
                return store.state.StoreRechargeInfo.itemCode
            },
            rechargeImgUrl(){
                return store.state.StoreRechargeInfo.imgUrl
            }
        }
    }
</script>

<style lang="stylus" scoped>
    .recharge-container{
        .wrapper{
            position absolute
            width 85%
            margin  auto 
            left 0
            right 0
            top 50%
            transform translateY(-50%)     
            img {
                vertical-align bottom
                width 100%
            }   
            .recharge-btn{
                position: absolute;
                bottom: 5%;
                width: 65%;
                height: 9%;
                margin: auto;
                right: 0;
                left: 0;
            }
        }
    }
</style>