<template>
	<!-- 模拟cp游戏风格弹框提示关注 -->
    <section class="simulate-container fixed-container">
		<div class="simulate-wrapper">
			<img src="http://images.1758.com/article/image/2017/01/17/16441484647974765.png">
			<div class="close" @click="close()"></div>
			<img class="selected" v-if="isSelected" src="http://images.1758.com/image/20170116/open_1_a14a4198d13f239a65619470c89bbdf4.png">
			<div class="notip" @click="selected()"></div>
			<div class="sharetip" @click="showShare()"></div>
		</div>
	</section>
</template>

<script>
	import qs from 'qs';
    export default {
		data(){
			return {
				isSelected: false,
			}
		},
        methods:{
			close(){
				// 如果勾选不再提示，关闭的时候通知服务器
				if(this.isSelected){
					var url = '/play/share/ignore.json';
					var params = {
						appKey: this.$store.state.StoreGameInfo.appkey,
						chn: this.$store.state.StoreGameInfo.chn
					}
					this.axios.post(url, qs.stringify(params))
						.then(function(response){})
						.catch(function(err){console.log(err)})
				}
				// 关闭
				this.$store.commit('StoreSimulateInfo',{isShow: false})
			},
			selected(){
				this.isSelected = !this.isSelected;
			},
			showShare(){
				this.$store.commit('StoreShareGuideInfo',{shareGuideShow:true});
			}
		}
    }
</script>

<style lang="stylus" scoped>
	.simulate-container{
		.simulate-wrapper{
			text-align: center;
			width: 80%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			img {
				width 100%
			}
			.close{
				position: absolute;
				width: 11%;
				height: 11%;
				top: 10%;
				right: -.4%;
			}
			.selected{
				position: absolute;
				width: 4%!important;
				bottom: 25%;
				left: 5.9%;
			}
			.notip{
				position: absolute;
				width: 20%;
				height: 6%;
				bottom: 24.5%;
				left: 5.3%;
			}
			.sharetip{
				position: absolute;
				width: 33%;
				height: 11%;
				bottom: 22.5%;
				left: -1%;
				right: 0;
				margin: 0 auto;
			}
		}
	}
</style>