<template>
    <!-- vip消息的弹框通知 -->
    <section class="vipinfo-container fixed-container">
		<div class="wrapper" flex="dir:top box:justify">
			<div class="header">
				<div class="title">VIP客服</div>
				<div class="close" @click="close">
					<img src="http://images.1758.com/image/20170425/open_1_d5fece8d09ff866865e9242cc7ba85b9.png" alt="">
				</div>
			</div>
			<div class="list" flex-box=1>
                <div class="scroll">
                    <div>
                        <div v-for="(item,index) in dataList" :key="index">
                            <div class="kfitem" flex>
                                <div class="kfleft">
                                    <img :src="item.fromUserProfile.profile.headUrl" alt="用户头像">
                                </div>
                                <div class="kfright">
                                    <div class="kfinfo">
                                        <span class="kfname">{{item.fromUserProfile.profile.nickname}}</span>
                                        <span class="kftime">{{item.showTime}}</span>
                                    </div>
                                    <div class="kfcontent other-content" v-if="item.msgType === 'TEXT'">
                                        {{item.content}}
                                    </div>
                                    <div class="kfcontent other-content" v-else>
                                        <img :src="item.imgUrl">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<div class="reply">
				<div class="inner-reply">
					回复
				</div>
			</div>
		</div>
	</section>
</template>

<script>
    import utils from '@/assets/js/utils.js'
    export default {
        data(){
            return {
            }
        },
        props:{
            dataList:{
                type: Array,
                default: function(){
                    return []
                }
            },
        },
        mounted(){
            utils.overscroll(document.querySelector('.scroll'));
        },
        methods:{
            close(){
                this.$emit('click')
            }
        }
    }
</script>

<style scoped lang="stylus">
    .vipinfo-container{
        .wrapper{
            position: absolute;
            width: 80%;
            left: 0;
            right: 0;
            // max-height: 80%;
            height: 80%;
            top: 50%;
            transform: translateY(-50%);
            margin: 0 auto;
            background-color: #f2f2f2;
            border-radius: 12px;
            max-width: 350px;
            .header{
                height: 46px;
                line-height: 46px;
                background-color: #fff;
                width: 100%;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
                .title{
                    font-size: 16px;
                    text-align: center;
                }
                .close{
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 40px;
                    text-align: center;
                    img{
                        width: 15px;
                        height: 15px;
                        vertical-align: middle;
                    }
                }
            }
            .list{
                overflow: auto;
                -webkit-overflow-scrolling: touch;
                &>div{
                    height 100%
                    width 100%
                    position relative
                }
            }
            .kfitem{
                padding .1rem .2rem
                .kfleft {
                    img{
                        width .8rem
                        height .8rem
                        border-radius .08rem
                    }
                }
                .kfright{
                    vertical-align top
                    margin-left .2rem
                    .kfname {
                        color: #ff668c;
                        font-size: 12px;
                    }
                    .kftime {
                        font-size: 9px;
                        color: #bbb;
                        vertical-align: middle;
                        margin-left: 5px;
                    }
                    .kfcontent {
                        border: 1px solid #e3e3e3;
                        background-color: #fff;
                        padding: 6px 8px 5px;
                        position: relative;
                        border-radius: 4px;
                        max-width: 200px;
                        margin-top: 2px;
                        text-align: left;
                        display: inline-block;
                        &:after,
                        &:before{
                            content: "";
                            position: absolute;
                            top: 10px;
                            width: 0;
                            height: 0;
                            border: 6px solid transparent;
                        }
                        &:before{
                            left: -12px;
                            border-right-color: #e3e3e3;
                        }
                        &:after{
                            left: -10px;
                            border-right-color: #fff;
                        }
                        img{
                            width: 100%;
                            max-width: 180px;
                        }
                    }
                }
            }
            .reply {
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                padding: 7px 8px;
                border-top: 1px solid #e6e6e6;
                background-color: #f7f7f7;
                .inner-reply {
                    text-align: center;
                    background-color: #fff;
                    border: 1px solid #d4d6d1;
                    border-radius: 3px;
                    color: #9b9b9b;
                    height: 34px;
                    line-height: 34px;
                }
            }
        }
    }
</style>