<template>
    <transition>
        <div class="hlmy-bigimg-container fixed-container" v-if="show" @click="close">
            <div class="content" flex="main:center cross:center">
                <img :src="src">
            </div>
        </div>
    </transition>
</template>

<script>
// 查看大图
export default {
    data() {
        return {
            src: 'http://images.1758.com/image/20170719/open_1_24ac80e5f67e40b8d8e47c8fc60642f2.gif',
            show: false
        }
    },
    methods: {
        close() {
            this.show = false;
        }
    }
}
</script>

<style lang="stylus" scoped>
    .hlmy-bigimg-container{
        z-index 11
        .content{
            position relative
            width 100%
            height 100%
            overflow auto
            -webkit-box-align center
            display -webkit-box
            text-align center
            img{
                max-width 100%
            }
        }
    }
</style>
