@charset "utf-8"
/**
//
//                   _ooOoo_
//                  o8888888o
//                  88" . "88
//                  (| -_- |)
//                  O\  =  /O
//               ____/`---'\____
//             .'  \\|     |//  `.
//            /  \\|||  :  |||//  \
//           /  _||||| -:- |||||-  \
//           |   | \\\  -  /// |   |
//           | \_|  ''\---/''  |   |
//           \  .-\__  `-`  ___/-. /
//         ___`. .'  /--.--\  `. . __
//      ."" '<  `.___\_<|>_/___.'  >'"".
//      | | :  `- \`.;`\ _ /`;.`/ - ` : | |
//     \  \ `-.   \_ __\ /__ _/   .-` /  /
//======`-.____`-.___\_____/___.-`____.-'======
//                   `=---='
//
//.............................................
//         佛祖保佑                  BUG辟易
//         心外无法                  法外无心
// 佛曰:
//         写字楼里写字间，写字间里程序员；
//         程序人员写程序，又拿程序换酒钱。
//         酒醒只在网上坐，酒醉还来网下眠；
//         酒醉酒醒日复日，网上网下年复年。
//         但愿老死电脑间，不愿鞠躬老板前；
//         奔驰宝马贵者趣，公交自行程序员。
//         别人笑我忒疯癫，我笑自己命太贱；
//         不见满街漂亮妹，哪个归得程序员？
*/
*{
	margin: 0;
	padding: 0;
}

html{color:#000;background:#F2f2f2;} 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form, 
fieldset,input,textarea,p,blockquote,th,td,figure { 
margin:0; 
padding:0; 
} 
table { 
border-collapse:collapse; 
border-spacing:0; 
} 
fieldset,img { 
border:0; 
} 
address,caption,cite,code,dfn,em,strong,th,var { 
font-style:normal; 
font-weight:normal; 
} 
ol,ul { 
list-style:none; 
} 
caption,th { 
text-align:left; 
} 
h1,h2,h3,h4,h5,h6 { 
font-size:100%; 
font-weight:normal; 
} 
q:before,q:after { 
content:''; 
} 
abbr,acronym { border:0; 
}


html body{
	background-color: #f2f2f2;
	font-family: 'Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft Yahei','WenQuanYi Micro Hei',sans-serif;
	font-size: 14px;
}
/**
 * 分享部分样式
 */
.head{
	padding:0 20px;
	background-color: #fff;
	padding-top: 20px;
}
.invite{
	padding: 0; 
	display: -webkit-box; /*OLD - ios 6-, safari 3.1-6*/
	display: -moz-box;		/*OLD - Firefox 19-*/
	display: -ms-flexbox;	/* TWEENER - IE 10*/
	display: flex;	/* NEW Spec -opera 12.1, Firfox 20+*/
	display: -webkit-flex;	/*NEW - Chrome*/
	//border-bottom: dotted 1px #f2f2f2;
}
.invite-img{
	width: 64px;
	height: 64px;
	/*-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-flex: 1;*/
}
.invite-img img{
	width: 100%;
	height: 100%;
	margin-top: 3px;
}
.invite-text{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-flex: 1;
	text-align: left;
	padding-left: 10px;
}
.invite-text .reward{
	height: 50%;
	padding-top: 5px;
	font-size: 30px;
	color: #f18619;
}

.share-text{
	display: -webkit-box; /*OLD - ios 6-, safari 3.1-6*/
	display: -moz-box;		/*OLD - Firefox 19-*/
	display: -ms-flexbox;	/* TWEENER - IE 10*/
	display: flex;	/* NEW Spec -opera 12.1, Firfox 20+*/
	display: -webkit-flex;	/*NEW - Chrome*/
	border: none;
	letter-spacing: -1px;
    color: #ddd;
    margin-top: 3px;
}
.sharet-text span{
	letter-spacing: 0;
    margin:0 10px;
}
.part-text{
	margin:0 10px;
}
.part-line{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-flex: 1;
	vertical-align: middle;
	border: none;
	overflow: hidden;
}
.inner-share{
	display: -webkit-box; /*OLD - ios 6-, safari 3.1-6*/
	display: -moz-box;		/*OLD - Firefox 19-*/
	display: -ms-flexbox;	/* TWEENER - IE 10*/
	display: flex;	/* NEW Spec -opera 12.1, Firfox 20+*/
	display: -webkit-flex;	/*NEW - Chrome*/
	padding: 0 10px;
	box-sizing:border-box;
}
.inner-share div{
	text-align: center;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-flex: 1;
}
.inner-share a{ display:block;}
.inner-share a img{
	width: 50px; height:50px;
}
/**
 * 好友列表和领取奖励部分
 */
.main{
	margin-top: 10px;
	background-color: #fff;
	display: none;
}
.head-main{
	height: 40px;
	line-height: 40px;
	margin-left: 20px;
}
/**
 * 每个好友列里面的信息
 */

.friends-main ul li{
	border-top: 1px solid #f2f2f2;
	display: -webkit-box; /*OLD - ios 6-, safari 3.1-6*/
	display: -moz-box;		/*OLD - Firefox 19-*/
	display: -ms-flexbox;	/* TWEENER - IE 10*/
	display: flex;	/* NEW Spec -opera 12.1, Firfox 20+*/
	display: -webkit-flex;	/*NEW - Chrome*/
	padding: 10px 15px; 
	box-sizing: border-box;
	height: 70px;
	-webkit-tap-highlight-color: red;
}
.head-user{
}
.head-user span{
}

.head-user img{
	width: 50px;
	height: 50px;
	border-radius: 12px;
}
/*
.friends-main ul li .info{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-flex: 1;
	display: inline-flex;
	display: -webkit-inline-flex;
	display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
}
*/
.user-info, .receive-info{
	padding: 7px 0;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-flex: 1;
	box-pack: justify;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
}
.user-info{
	margin-left: 10px;
}
.name-info{
	height: 35px;
	line-height: 35px;
	position: relative;
	font-size: 17px;
}
.name-info img{
	width: 18px;
	position: absolute;
	top: 8px;
	margin-left: 10px;
}
.more-info{
	display: none;
	font-size: 12px;
	color: #d2d2d2;
	margin-top: 5px;
}
.receive-info{
	text-align: right;
	margin-right: 5px;
}
.money-info{
	color: #f3861a;
}
.btn-info{
	margin-top: 2px;
	border-radius: 4px;
	height: 24px;
	line-height:  24px;
	width: 40px;
	text-align: center;
	float: right;
}
.btn-none{
	border: 1px solid #5bbe29;
}
.btn-have{
	border: none;
	color: #d2d2d2;
	width: 45px;
}
.btn-img{
	display: none;
}
.btn-img img{
	width: 18px;
}
.btn-invite{
	border: 1px solid #f3861a;
}
.btn-invite:hover , .btn-none:hover{
	cursor: pointer;
}
.main-nobody{
	position: relative;
	margin: 0 auto;
}
.nobody-text{
	color: #aaa;
	text-align: center;
	margin-top: 100px;
	font-size: 16px;
	display: none;
}
.step-guide{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	display: none;
}
.step-guide img{
	width: 100%;
}
.s1,.s2,.s3,.s4,.s5{
	display: none;
}
