@charset "utf-8";

/**
//
//                   _ooOoo_
//                  o8888888o
//                  88" . "88
//                  (| -_- |)
//                  O\  =  /O
//               ____/`---'\____
//             .'  \\|     |//  `.
//            /  \\|||  :  |||//  \
//           /  _||||| -:- |||||-  \
//           |   | \\\  -  /// |   |
//           | \_|  ''\---/''  |   |
//           \  .-\__  `-`  ___/-. /
//         ___`. .'  /--.--\  `. . __
//      ."" '<  `.___\_<|>_/___.'  >'"".
//      | | :  `- \`.;`\ _ /`;.`/ - ` : | |
//     \  \ `-.   \_ __\ /__ _/   .-` /  /
//======`-.____`-.___\_____/___.-`____.-'======
//                   `=---='
//
//.............................................
//         佛祖保佑                  BUG辟易
//         心外无法                  法外无心
// 佛曰:
//         写字楼里写字间，写字间里程序员；
//         程序人员写程序，又拿程序换酒钱。
//         酒醒只在网上坐，酒醉还来网下眠；
//         酒醉酒醒日复日，网上网下年复年。
//         但愿老死电脑间，不愿鞠躬老板前；
//         奔驰宝马贵者趣，公交自行程序员。
//         别人笑我忒疯癫，我笑自己命太贱；
//         不见满街漂亮妹，哪个归得程序员？

**/

* { -webkit-tap-highlight-color: transparent; outline: 0; margin: 0; padding: 0; vertical-align: baseline; }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; vertical-align: baseline; }
img { border: 0 none; vertical-align: top; }
i, em { font-style: normal; }
ol, ul { list-style: none; }
input, select, button, h1, h2, h3, h4, h5, h6 { font-size: 100%; font-family: inherit; }
table { border-collapse: collapse; border-spacing: 0; }
a { text-decoration: none; color: #666; }
body { margin: 0 auto; height: 100%; font-size: 14px; fon-family: -apple-system,Helvetica,sans-serif; line-height: 1.5; color: #666; -webkit-text-size-adjust: 100% !important; text-size-adjust: 100% !important; }
input[type="text"], textarea { -webkit-appearance: none; -moz-appearance: none; appearance: none; }


html,
body {
  width 100%;
  height 100%
  position relative
  box-sizing: border-box
}

body {
  font-size: 14px;
  font-family: 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', sans-serif;
  -webkit-tap-highlight-color: transparent;
  color: #3C3C3C;
  background-color: #F2F2F2;
  max-width: 640px;
  margin: auto;
}

.gone {
  display: none!important;
}

.bg {
  background-color: #fff!important;
}

.fixed-container{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0,0,0,.7);
  max-width 640px
  z-index 5
}
.absolute-container{
  max-width 640px
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  width 100%
  box-sizing border-box
  height 100%
  background-color rgba(0,0,0,.7)
}
.scroll{
  position relative
  overflow auto
}


// icon图标
@font-face {
  font-family: 'hlmyfonticon';
  src: url("http://wx.1758.com/static/common/font/ionicons.eot");
  src: url("http://wx.1758.com/static/common/font/ionicons.eot") format("embedded-opentype"), url("http://wx.1758.com/static/common/font/ionicons.ttf") format("truetype"), url("http://wx.1758.com/static/common/font/ionicons.woff") format("woff"), url("http://wx.1758.com/static/common/font/ionicons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-load-loop {
  animation: ani-load-loop 1s linear infinite
}

@keyframes ani-load-loop {
  0% {
    transform: rotate(0)
  }
  50% {
    transform: rotate(180deg)
  }
  to {
    transform: rotate(1turn)
  }
}

.hlmy-icon {
  display: inline-block;
  font-family: 'hlmyfonticon';
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loading .hlmy-icon,
.icon-info .hlmy-icon {
  color: #2d8cf0;
}

.icon-load-c:before {
  content: "\F29C"
}

.icon-information-circled:before {
  content: "\F149"
}

.icon-chevron-right:before {
  content: "\F125"
}
